<template>
  <div class="content">
    <a-entry></a-entry>
    <a-team></a-team>
    <a-help></a-help>
    <a-awards></a-awards>
  </div>
</template>

<script>
    import AEntry from "./about/a-entry";
    import ATeam from "./about/a-team";
    import AHelp from "./about/a-help";
    import AAwards from "./about/a-awards";

    export default {
        name: "about",
        components: {AAwards, AHelp, ATeam, AEntry},
    }
</script>

<style scoped>

</style>
