<template>
  <v-app class="vue-main">
    <left-layout v-if="loginIn"></left-layout>

    <top-layout :pageTitle="pageTitle" v-if="loginIn"></top-layout>

    <!-- Sizes your content based upon application components -->
    <v-content class="vue-content" light>

      <!-- Provides the application the proper gutter -->
      <v-container fluid class="d-flex">

        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-content>

    <footer-layout></footer-layout>

    <notification></notification>
  </v-app>
</template>

<script>
  import TopLayout from "../components/admin/layout/topLayout";
  import LeftLayout from "../components/admin/layout/leftLayout";
  import FooterLayout from "../components/admin/layout/footerLayout";
  import Notification from "../components/admin/layout/notification";

  export default {
    name: "adminLayout",
    components: {
      Notification,
      FooterLayout,
      LeftLayout,
      TopLayout
    },
    mounted() {
      this.$vuetify.theme.dark = true;
    },
    computed: {
      loginIn() {
        // return 1; //(this.$route.name !== 'Login');

        return this.$store.state.user;
      },
      pageTitle() {
        return this.$route.name;
      }
    }
  }
</script>

<style lang="scss">
  .vue-content {
    & > div {
      display: flex;
    }
  }

  .full-height {
    /*min-*/
  }

  .field-description {
    font-size: 12px;
    color: lightgray;
  }
</style>
