<template>
  <div class="content">
    <div class="contacts container">
      <div class="contacts__data">
        <div v-if="contacts.phone" class="contacts__item">
          <span class="upper">{{ 'phone' | translate }}:</span>
          <a class="link link-simple link-simple--dark active-cursor"
             :href="'tel:' + contacts.phone.replace(/[( \- )]/g, '')">{{ contacts.phone }}</a>
        </div>
        <div v-if="contacts.email" class="contacts__item">
          <span class="upper">{{ 'e-mail' }}:</span>
          <a class="link link-simple link-simple--dark active-cursor"
             :href="'mailto:' + contacts.email">{{ contacts.email }}</a>
        </div>
        <div v-if="contacts.address" class="contacts__item">
          <span class="upper">{{ 'address' | translate }}:</span>
          <span class="simple">{{ contacts.address }}</span>
        </div>
      </div>
      <span class="slogan" ref="slogan" v-html="Translate('design_living')"></span>
      <div class="contacts__form">
        <div ref="circle" class="contacts__circle">
          <draw-circle :size="circle" color="#A97856" opacity=".2"></draw-circle>
        </div>
        <page-title :content="Translate('form_title')" class="padding-r"></page-title>
        <form class="contacts-form padding-r">
          <div class="contacts-form__group">
            <input class="contacts-form__input" type="text" id="name-input" v-model="data.name"
                   :placeholder="Translate('name') + '*'">
          </div>
          <div class="contacts-form__group">
            <input class="contacts-form__input" type="email" id="email-input" v-model="data.email"
                   :placeholder="Translate('email') + '*'">
            <!--            <label class="contacts-form__label" for="email-input">E-mail*</label>-->
          </div>
          <div class="contacts-form__btn">
            <button @click.prevent="send" class="btn link-primary active-cursor" type="submit"
                    :class="{'active-btn': valid}">{{ 'send' | translate }}
            </button>
            <div class="status" v-if="status">
              <span class="red" v-if="status === 'error'">{{ 'text_error' | translate }}</span>
              <span class="green" v-if="status === 'success'">{{ 'text_success' | translate }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import DrawCircle from "../components/icons/drawCircle";
  import {TweenMax, Power2} from 'gsap';
  import PageTitle from "../components/layout/pageTitle";

  export default {
    name: "contacts",
    components: {PageTitle, DrawCircle},
    data() {
      return {
        api_url: '/send-email/',
        // slogan: 'Design<br>of living',
        data: {
          name: '',
          email: '',
        },
        circle: window ? window.innerHeight : false,
        status: '',
      }
    },
    watch: {
      ready(val) {
        if (val) {
          this.startAnimations();
        }
      }
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady;
      },
      valid() {
        return this.data.name.length && this.data.email.length;
      },
      contacts() {
        let settings = this.$store.state.global.settings;
        let contacts = this.getDataByGroup(settings, 'contacts', 'key=value');

        contacts.address = this.Translate('contact_address');

        return contacts;
      },
    },
    methods: {
      send() {
        let data = {
          method: 'post',
          url: this.api_url,
          data: this.data
        };
        if (this.data.name.length > 1 && this.validEmail()) {
          this.$store.dispatch('sendRequest', data).then(res => {
            this.data = {name: '', email: '',};
            this.status = 'success';
          });
        } else {
          this.status = 'error';
        }
      },
      validEmail() {
        let email = this.data.email;
        let re = /^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/;
        return re.test(String(email).toLowerCase());
      },
      startAnimations() {
        this.animateCircle();
        this.showEl(this.$refs.slogan);
      },
      animateCircle() {
        let circle = this.$refs.circle.getElementsByTagName('circle')[0];
        this.$refs.circle.style.visibility = 'visible';
        if (circle) {
          let array = circle.getTotalLength();
          circle.style.strokeDasharray = array;
          circle.style.strokeDashoffset = array;
          TweenMax.to(circle, 3, {strokeDashoffset: 0, ease: Power2.easeIn});
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../resources/sass/helpers/variables";
  @import "../../../resources/sass/helpers/mixins";

  .status {
    padding: 10px;

    .red {
      color: red;
    }

    .green {
      color: #3daa44;
    }
  }

  .contacts {
    padding-top: $p-block-md;
    padding-bottom: $p-block-xl;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto auto;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    &__data {
      padding-top: $p-block-md;
      grid-column: 1;
      grid-row: 1;

      @include mobile {
        grid-column: 1 / 3;
      }
    }

    &__item {
      display: grid;
      align-items: baseline;
      grid-template-columns: 1fr 2fr;

      .upper {
        display: inline-block;
        white-space: nowrap;
        /*margin-right: 20px;*/
        width: 100px;
      }
    }

    .slogan {
      grid-column: 1;
      grid-row: 2;
      align-self: flex-end;

      @include tablet {
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
      }

      @include mobile {
        display: none;
      }
    }

    &__form {
      position: relative;
      grid-column: 3;
      grid-row: 1 / 3;
      z-index: 1;

      @include tablet {
        grid-column: 1 / 3;
        grid-row: 2;
        padding-top: $p-block-xl;
        padding-left: 50px;
        padding-right: 88px;
      }

      @include mobile {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__circle {
      position: fixed;
      top: 0;
      left: 75%;
      transform: translate(calc(-50% - 100px), 0);
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100vh;
      width: 100vh;
      z-index: -1;

      @include tablet {
        transform: translate(calc(-50% - 260px), 0);
        width: 80vh;
      }

      @include mobile {
        transform: translate(calc(-50% - 310px), 0);
        width: 100vh;
      }

      svg,
      .svg-circle {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .contacts-form {
      /* padding-top: $p-block-md; */
      padding-top: 20px;

      &__group {
        position: relative;
        margin-bottom: 10px;
      }

      &__input {
        width: 100%;
        padding: 20px 0;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid $c-brown;
        font-family: $font-anglecia;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: $c-brown;

        @include placeholder {
          color: $c-brown;
        }
      }

      &__label {
        position: absolute;
        left: 0;
        top: 20px;
        font-family: $font-anglecia;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: $c-brown;
      }

      &__btn {
        padding-top: 30px;
        text-align: right;

        .btn {
          opacity: .8;

          &.active-btn {
            opacity: 1;
          }
        }
      }
    }
  }
</style>
