<template>
  <div class="error-page container">
    <div class="error-page__wrap">
      <div class="error-page__title">
        <page-title :content="title" class="padding-r"></page-title>
      </div>
      <div class="error-page__txt padding-r" v-html="text"></div>
      <div class="error-page__link padding-r">
        <a :href="link_url" class="link link-primary active-cursor" v-html="link_txt"></a>
      </div>
      <div ref="circle" class="error-page__circle" style="visibility: hidden">
        <draw-circle :size="circle" color="#A97856" opacity=".2"></draw-circle>
      </div>
    </div>
    <span class="slogan" v-html="slogan"></span>
  </div>
</template>

<script>
  import DrawCircle from "../components/icons/drawCircle";
  import {TweenMax, Power2} from 'gsap';
  import PageTitle from "../components/layout/pageTitle";

  export default {
    name: "error",
    components: {PageTitle, DrawCircle},
    data() {
      return {
        title: '404',
        text: 'Page not found.<br>The page you are looking for might have been removed, had its Name changes, or is tempararily anavailable.',
        link_txt: 'Go Home Page',
        link_url: '/',
        circle: window ? window.innerHeight : 0,
        slogan: 'Design<br>of living',
      }
    },
    mounted() {
      this.setHeight();
    },
    watch: {
      ready(val) {
        if (val) {
          this.startAnimations();
        }
      }
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
    },
    methods: {
      setHeight() {
        if (window) {
          let winHeight = window.innerHeight;
          let header = document.getElementsByClassName('header');
          let headerHeight = header[0].offsetHeight;
          let elementHeight = winHeight - headerHeight;
          document.getElementsByClassName('error-page')[0].style.height = elementHeight + 'px';
        }
      },
      startAnimations() {
        this.animateCircle();
        this.showEl(this.$refs.slogan);
      },
      animateCircle() {
        let circle = this.$refs.circle.getElementsByTagName('circle')[0];
        this.$refs.circle.style.visibility = 'visible';
        if (circle) {
          let array = circle.getTotalLength();
          circle.style.strokeDasharray = array;
          circle.style.strokeDashoffset = array;

          TweenMax.to(circle, 3, {strokeDashoffset: 0, ease: Power2.easeIn});
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../resources/sass/helpers/variables";
  @import "../../../resources/sass/helpers/mixins";

  .error-page {
    position: relative;
    padding-top: $p-block-xl;
    /*<!--padding-bottom: $p-block-xl;-->*/
    display: grid;
    grid-template-columns: 50% 50%;

    @include tablet {
      display: block;
    }

    &__wrap {
      position: relative;
      grid-column: 2;
      z-index: 1;

      @include tablet {
        padding-left: 50px;
        padding-right: 88px;
      }

      @include mobile {
        padding: 0;
      }
    }

    &__title {
      margin-bottom: 20px;

      @include tablet {
        margin-bottom: 30px;
      }

      @include mobile {
        margin-bottom: 20px;
      }
    }

    &__txt {
      font-family: $font-anglecia;
      font-weight: 300;
      font-size: 25px;
      line-height: 40px;
      color: $c-light-grey;
      margin-bottom: $m-block-md;
    }

    &__link {
      text-align: right;
      margin-bottom: 14px;
    }

    .slogan {
      position: absolute;
      left: $p-container-sm;
      bottom: 0;

      @include tablet {
        left: auto;
        right: $p-container-sm;
        bottom: 50px;
      }

      @include mobile {
        display: none;

      }

      @include media-min($grid-xl-min) {
        left: $p-container-xl;
      }
    }

    &__circle {
      position: fixed;
      top: 0;
      left: 75%;
      transform: translate(calc(-50% - 100px), 0);
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100vh;
      width: 100vh;
      z-index: -1;

      @include tablet {
        transform: translate(calc(-50% - 260px), 0);
        width: 80vh;
      }

      @include mobile {
        transform: translate(calc(-50% - 310px), 0);
        width: 100vh;
      }

      svg,
      .svg-circle {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
</style>
