<template>
  <div class="content">
    <entry-block></entry-block>
    <about-block></about-block>
    <projects-block></projects-block>
  </div>
</template>

<script>
  import EntryBlock from "./home/entry-block";
  import AboutBlock from "./home/about-block";
  import ProjectsBlock from "./home/projects-block";
  export default {
    name: "home",
      components: {ProjectsBlock, AboutBlock, EntryBlock}
  }
</script>

<style scoped>

</style>
