<template>
  <div class="wrapper">
    <customCursor></customCursor>

    <div id="luxy" class="page">
      <page-header></page-header>

      <div class="content-wrapper">
        <router-view></router-view>
      </div>
    </div>

    <page-footer v-if="showFooter"></page-footer>

    <preloader></preloader>
    <pageloader></pageloader>
  </div>
</template>

<script>
  import CustomCursor from "../components/customCursor";
  import PageHeader from "../components/layout/pageHeader";
  import PageFooter from "../components/layout/pageFooter";
  import Preloader from "../components/preloader";
  import Pageloader from "../components/pageloader";

  export default {
    name: "layout",
    components: {Pageloader, Preloader, CustomCursor, PageFooter, PageHeader},
    mounted() {
      // if (window && window.innerWidth >= 768) {
      //   let luxy = require('luxy.js');
      //
      //   luxy.init({
      //     // wrapperSpeed: 0.05
      //   });
      // }
    },
    computed: {
      showFooter() {
        return !this.$route.meta.disableFooter;
      }
    },
  }

</script>

<style lang="scss">
  //noinspection CssUnknownTarget
  @import "~scss/helpers/variables";
  //noinspection CssUnknownTarget
  @import "~scss/helpers/mixins";

  *, a {
    @include desktop {
      cursor: none !important;
    }
  }

  p {
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      hyphens: auto;
  }
</style>
