<template>
    <div class="content">
      <s-entry></s-entry>
      <s-list></s-list>
    </div>
</template>

<script>
    import SEntry from "./services/s-entry";
    import SList from "./services/s-list";
    export default {
        name: "services",
        components: {SList, SEntry}
    }
</script>

<style scoped>

</style>
