<template>
  <div class="content">
    <w-entry></w-entry>
    <w-sections></w-sections>
    <w-nav></w-nav>
  </div>
</template>

<script>
    import WEntry from "./work/single/w-entry";
    import WSections from "./work/single/w-sections";
    import WNav from "./work/single/w-nav";
    export default {
        name: "single",
        components: {WNav, WSections, WEntry}
    }
</script>

<style scoped>

</style>
