<template>
  <div class="content">
    <works-list></works-list>
  </div>
</template>

<script>
    import WorksList from "./work/archive/works-list";
    export default {
        name: "work",
        components: {WorksList},
    }
</script>

<style lang="scss">

</style>
