/* responsive */

$mobile-width: 320px;
$small-width: 576px;
$tablet-width: 768px;
$tablet-plus-width: 1024px;
$laptop-width: 1580px;
$desktop-width: 1200px;

@mixin desktop { // * -> 992
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin laptop { // 1339 -> 0
  @media (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin tablet { // 991 -> 0
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-plus { // 768 -> *
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-plus-width - 1px}) {
    @content;
  }
}

@mixin small { // 576  -> 0
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin mobile { // 767 -> 0
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-landscape { // 767 -> 0
  @media (max-width: #{$tablet-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

@mixin media-min($size) {
  @media only screen and (min-width: $size) {
    @content
  }
}

@mixin media-max($size) {
  @media only screen and (max-width: $size) {
    @content
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content
  }
}


@mixin font-face($name, $slug, $weight, $style, $single: false, $type: '') {

  @font-face {
    font-family: $name;

    @if $single == true {
      $file: '';
      $format: '';
      @if $type == otf {
        $file: ".otf";
        $format: "opentype";
      } @else if $type == woff2 {
        $file: ".woff2";
        $format: "woff2";
      } @else {
        $file: ".ttf";
        $format: "truetype";
      }

      src: url("../../fonts/" + $name + "/" + $slug + $file) format($format);

    } @else {

      src: url("../../fonts/" + $name + "/" + $slug + ".ttf") format("truetype"),
      url("../../fonts/" + $name + "/" + $slug + ".woff2") format("woff2"),
      url("../../fonts/" + $name + "/" + $slug + ".svg#" + $name) format("svg");
    }

    font-weight: $weight;
    font-style: $style;
  }
}
