// Body
$body-bg: #EBEBE8;

// Typography
$font: OpenSans, sans-serif;
$font-anglecia: AngleciaProDisplay, sans-serif;
$font-trirong: Trirong, sans-serif;
$font-size: 15px;
$line-height: 30px;

// Colors
$c-white: #FFFFFF;
$c-off-white: #EBEBE8;
$c-silver: #AEAEAE;
$c-light-sand: #9A9A9A;
$c-mud: #BA8662;
$c-oak: #A97856;
$c-light-grey: #555555;
$c-grey: #444444;
$c-dark-grey: #3C3E42;
$c-brown: #312A28;
$c-dark: #1F1F1F;
$c-black: #000000;
$c-red: #FF0000;
$c-cursor: #141417;

// breakpoints
$grid-xs-max: 767px;
$grid-md-min: 768px;
$grid-lg-min: 1200px;
$grid-xl-min: 1580px;

// container
$container-sm: 767px;
$container-md: 768px;
$container-lg: 768px;
$container-xl: 1200px;

$p-container-half-sm: calc((100vw - #{$container-sm}) / 2);
$p-container-half-md: calc((100vw - #{$container-md}) / 2);
$p-container-half-lg: calc((100vw - #{$container-lg}) / 2);
$p-container-half-xl: calc((100vw - #{$container-xl}) / 2);

// margins
$m-block-xs: 30px;
$m-block-md: 50px;
$m-block-xl: 70px;

// paddings
$p-container-xs: 30px;
$p-container-sm: 50px;
$p-container-xl: 200px;

$p-block-xs: 30px;
$p-block-md: 50px;
$p-block-lg: 70px;
$p-block-xl: 100px;

$padding-l-md: 50px;
$padding-l-xl: 100px;
$padding-r-md: $padding-l-md;
$padding-r-xl: $padding-l-xl;

$p-section-xs: 100px;
$p-section-xl: 150px;

// Transition
$transition: all .3s;
