<template>
  <section class="w-entry">
    <div class="container">
      <a-image class="w-entry__img" :src="item.thumbnail" :alt="item.title" type="bottom"></a-image>
      <div class="w-entry__header padding-l">
        <page-title :content="item.title" class="w-entry__title"></page-title>
        <span class="w-entry__slogan slogan" ref="slogan" v-html="slogan"></span>
      </div>
      <div class="w-entry__content opacity" ref="content">
        <div class="w-entry__row">
          <div class="w-entry__col w-entry__content-col">
            <div class="w-entry__text text text--dark">
              <p v-html="nl2br(block.column1)"></p>
            </div>
          </div>
          <div class="w-entry__col w-entry__content-col">
            <div class="w-entry__text text text--dark">
              <p v-html="nl2br(block.column2)"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
  import PageTitle from "../../../components/layout/pageTitle";
  import AImage from "../../../components/layout/aImage";

  export default {
    name: "w-entry",
    components: {AImage, PageTitle},
    data() {
      return {
        slogan: 'Design of<br> living',
        // title: 'A Day’s/<br> March"',
        // image: {
        //   url: '/images/single.jpg',
        //   alt: 'A Day’s',
        // },
        // content: [
        //   '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
        //   '<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p><p>But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>'
        // ]
      }
    },
    watch: {
      ready(val) {
        if (val) {
          this.showEl(this.$refs.content, 1);
        }
      }
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
      block() {
        return this.$store.getters.item.content.hero;
      },
      item() {
        return this.$store.getters.item;
      },
    },
  }
</script>

<style lang="scss">
  @import "../../../../sass/helpers/variables";
  @import "../../../../sass/helpers/mixins";

  .w-entry {
    padding: $p-block-md 0 $p-section-xl;
    @include mobile {
      padding: 0 0 $p-section-xs;
    }

    &__img {
      display: flex;
      align-items: flex-start;
      @include mobile {
        margin: 0 -#{$p-container-xs};
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__header {
      position: relative;
      margin: -80px 0 $p-block-xl;
      padding-left: $p-block-xl;
      @include tablet {
        margin: -45px 0 $p-block-lg;
        padding-left: $p-container-sm;
      }
      @include mobile {
        margin: -29px 0 $p-block-md;
        padding-left: 0;
      }
    }

    &__slogan {
      position: absolute;
      right: 0;
      top: 180px;
      text-align: right;

      @include tablet {
        top: 80px;
      }

      @include mobile {
        display: none;
      }
    }

    &__content {
      padding: 0;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      @include media-min($laptop-width) {
        margin: 0 -#{$p-container-xl};
      }
      @include laptop {
        margin: 0 -#{$p-container-sm};
      }
      @include mobile {
        margin: 0 -#{$p-container-xs};
      }
    }

    &__col {
      flex: 0 0 43.359375%;
      max-width: 43.359375%;
      @include tablet {
        flex: 0 0 43.619792%;
        max-width: 43.619792%;
      }
      @include mobile {
        flex: 0 0 100%;
        max-width: 100%;

      }

      &:first-child {
        padding-right: 55px;
        @include media-min($laptop-width) {
          padding-left: 270px;
        }
        @include laptop {
          padding-left: 120px;
        }
        @include tablet {
          padding-right: 10px;
          padding-left: 70px;
        }
        @include mobile {
          padding: 0 $p-container-xs;
        }
      }

      &:last-child {
        padding-left: 25px;
        @include media-min($laptop-width) {
          padding-right: 300px;
        }
        @include laptop {
          padding-right: 150px;
        }
        @include tablet {
          padding-left: 30px;
          padding-right: 50px;
        }
        @include mobile {
          padding: 0 $p-container-xs;
        }
      }

      &:not(:last-child) {
        @include mobile {
          margin-bottom: 40px;
        }
      }
    }


  }

</style>
