<template>
  <section class="w-nav" v-viewport="animateCircle" v-if="next">
    <router-link class="w-nav__wrapper active-cursor"
                 :to="{name: 'Single', params: {slug: next.slug}}">
      <div class="w-nav__words heading-main" ref="container">
        <div class="w-nav__words-group" v-for="i in 3">
          <span class="w-nav__word" v-html="Translate('text_next')" v-for="i in words_count" ref="words"></span>
        </div>
      </div>
      <div ref="circle" class="w-nav__circle" style="visibility: hidden">
        <draw-circle :size="679" color="#A97856" opacity=".2"></draw-circle>
      </div>
      <div class="w-nav__image">
        <!--        <div class="w-nav__title heading-block" v-html="next.title"></div>-->
        <img :src="next.thumbnail" :alt="next.title">
      </div>
    </router-link>
  </section>
</template>

<script>
  import DrawCircle from "../../../components/icons/drawCircle";
  import {TweenMax, Power2} from 'gsap';

  export default {
    name: "w-nav",
    components: {DrawCircle},
    data() {
      return {
        text_next: 'Next.',
        width: '',
        words_count: 4,
        container_width: '',
        lastScrollTop: 0,
      }
    },
    mounted() {
      this.setActions();
      this.animateWords();

      if (window) {
        window.addEventListener('resize', this.setActions);
        document.addEventListener('scroll', this.updateAnimation);
      }
    },
    computed: {
      words() {
        return this.$refs.words;
      },
      next() {
        return this.$store.getters.next;
      },
    },
    methods: {
      animateCircle() {
        let circle = this.$refs.circle.getElementsByTagName('circle')[0];
        this.$refs.circle.style.visibility = 'visible';
        if (circle) {
          let array = circle.getTotalLength();
          circle.style.strokeDasharray = array;
          circle.style.strokeDashoffset = array;

          TweenMax.to(circle, 3, {strokeDashoffset: 0, ease: Power2.easeIn});
        }
      },
      windowWidth() {
        let width = this.$store.state.windowWidth;

        this.width = width;

        return width;
      },
      setWords() {
        return this.words_count = this.$store.state.windowWidth >= 768 ? 4 : 3;
      },
      setSizes() {
        let index = this.width >= 786 ? 1.25 : 2;
        let margin = ((this.width - this.words[0].offsetWidth * this.words_count) / 8) * index;
        let width = this.width + margin * 2;

        this.container_width = width;
        this.$refs.container.style.width = width + 'px';
        this.words.forEach(el => el.style.padding = '0 ' + margin + 'px');
      },
      setActions() {
        this.windowWidth();
        this.setWords();
        this.setSizes();
      },
      animateWords() {
        this.animation = TweenMax.fromTo(this.words, 10, {
            x: this.container_width
          },
          {
            x: 0,
            ease: "none",
            onComplete: this.animateWords,
          });
      },
      updateAnimation() {
        if ( window ) {
          let st = window.pageYOffset || document.documentElement.scrollTop;
          let progress = this.animation.progress() ? this.animation.progress() : 1;
          let index = Math.abs((st - this.lastScrollTop) * .001);

          if (st > this.lastScrollTop) {
            this.animation.progress(progress + index);
          } else {
            this.animation.progress(progress - index);
          }
          this.lastScrollTop = st <= 0 ? 0 : st;
        }
      },
    }
  }
</script>

<style lang="scss">
  @import "../../../../sass/helpers/variables";
  @import "../../../../sass/helpers/mixins";

  .w-nav {
    padding: $p-section-xl 0;
    overflow: hidden;
    min-height: 800px;
    display: flex;
    align-items: center;

    @include laptop {
      padding: $p-section-xl 0;
    }

    @include mobile {
      padding: $p-section-xs 0;
    }

    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &__words {
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      z-index: 2;

      &-group {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 100%;
      }
    }

    &__word {
      will-change: transform
    }

    &__circle {
      position: absolute;
      width: 679px;
      height: 679px;
      display: flex;
      align-items: center;
      justify-items: center;

      @include tablet {
        width: 531px;
        height: 531px;
      }
      @include mobile {
        width: 100vw;
        height: 100vw;
      }

      svg,
      .svg-circle {
        width: 100% !important;
        height: 100% !important;
      }
    }

    &__image {
      position: relative;
      display: flex;
      align-items: flex-start;
      max-width: 500px;
      margin: 0 auto;
      @include tablet {
        max-width: 390px;
      }
      @include mobile {
        max-width: 100%;
        padding: 0 $p-container-xs + 17px;
      }

      img {
        max-width: 100%;
        height: auto;
        transition: all .5s ease-in-out;
        z-index: 1;
      }
    }

    &__title {
      position: absolute;
      left: 0;
      top: $p-container-sm;
      width: 100%;
      text-align: center;
      @include mobile {
        padding: 0 $p-container-xs + 17px;
      }
    }
  }

</style>
