<template>
  <section class="w-sections">
    <div :class="'w-section w-section--' + section.type" v-for="(section, index) in sections" :key="index" v-if="section.images && section.images.length">
      <div class="w-section__title heading-section" v-if="section.title" v-html="section.title"></div>
      <div class="w-section__images" v-if="!isEven(index) && section.images.length">
        <div class="w-section__row">
          <div class="w-section__col" v-for="(image, ind) in section.images" v-if="ind && ind < 3">
            <div class="w-section__img" v-image>
              <img :src="image" :alt="'image-' + ind">
            </div>
          </div>
        </div>
      </div>
      <div class="w-section__image" v-else>
        <div class="w-section__img" v-image>
          <img :src="section.images[0]" alt="">
        </div>
      </div>

      <div class="w-section__content">
        <div v-if="section.description" class="w-section__content-wrapper" v-viewport:fully.once="showContent" :key="index">
          <a-text class="w-section__subtitle heading-block"
                  v-if="section.subtitle"
                  :content="section.subtitle"
                  :animate="show_section === index"></a-text>
          <a-text class="w-section__text text" :content="nl2br(section.description)" :animate="show_section === index" :delay=".3"></a-text>
        </div>
      </div>

      <div class="w-section__images" v-if="isEven(index) && section.images.length">
        <div class="w-section__row">
          <div class="w-section__col w-section__images-col" v-for="(image, ind) in section.images" v-if="ind && ind < 3">
            <div class="w-section__img" v-image>
              <img :src="image" :alt="'image-' + ind">
            </div>
          </div>
        </div>
      </div>
      <div class="w-section__image" v-else>
        <div class="w-section__img" v-image>
          <img :src="section.images[0]" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import AText from "../../../components/layout/aText";
    export default {
        name: "w-sections",
        components: {AText},
        data() {
            return {
                // sections: [
                //     {
                //         type: 'simple',
                //         title: '',
                //         subtitle: 'Suspended<br>>on Water',
                //         text: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ' +
                //             'incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ' +
                //             'exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>',
                //         main_image: {
                //             url: '/images/section-1-main.jpg',
                //             alt: '1-1',
                //         },
                //         images: [
                //             {
                //                 url: '/images/section-1-1.jpg',
                //                 alt: '1-1',
                //             },
                //             {
                //                 url: '/images/section-1-2.jpg',
                //                 alt: '1-2',
                //             }
                //         ]
                //     },
                //     {
                //         type: 'full',
                //         title: 'Way of<br> Thinking',
                //         subtitle: '',
                //         text: '<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>',
                //         main_image: {
                //             url: '/images/section-2-main.jpg',
                //             alt: '21-1',
                //         },
                //         images: [
                //             {
                //                 url: '/images/section-2-1.jpg',
                //                 alt: '2-1',
                //             },
                //             {
                //                 url: '/images/section-2-2.jpg',
                //                 alt: '2-2',
                //             }
                //         ]
                //     },
                //     {
                //         type: 'simple',
                //         title: 'Way of<br> Thinking',
                //         subtitle: 'Test section subtitle',
                //         text: '<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>',
                //         main_image: {
                //             url: '/images/section-2-main.jpg',
                //             alt: '21-1',
                //         },
                //         images: [
                //             {
                //                 url: '/images/section-2-1.jpg',
                //                 alt: '2-1',
                //             },
                //             {
                //                 url: '/images/section-2-2.jpg',
                //                 alt: '2-2',
                //             }
                //         ]
                //     },
                // ],
                show_section: false,
            }
        },
      computed: {
        sections() {
          return this.$store.getters.item.content.sections.items;
        }
      },
        methods: {
            isEven(index) {
                index += 1;
                return index % 2 === 0;
            },
            showContent(el, vnode) {
                this.show_section = vnode.key;
            },

        }
    }
</script>

<style lang="scss">
  @import "../../../../sass/helpers/variables";
  @import "../../../../sass/helpers/mixins";

  $s-simple: w-section--simple;
  $s-full: w-section--full;

  .w-section {
    /*overflow: hidden;*/

    &:not(:last-child) {
      padding-bottom: $p-section-xl;
      @include mobile {
        padding-bottom: $p-section-xs;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    &__title {
      position: relative;
      margin-bottom: -50px;
      padding-left: $p-container-xl + 100px;
      z-index: 2;
      @include laptop {
        padding-left: $p-container-sm + 100px;
      }
      @include tablet {
        margin-bottom: -31px;
        padding-left: $p-container-sm + 50px;
      }
      @include mobile {
        margin-bottom: -16px;
        padding-left: $p-container-xs;
      }

    }

    &__content {
      display: flex;
      justify-content: flex-end;
      padding: $p-block-md 0 $p-section-xs;

      .#{$s-simple} & {
        @include mobile {
          justify-content: flex-start;
        }
      }

      &-wrapper {
        flex: 0 0 43.359375%;
        width: 100%;
        max-width: 43.359375%;
        padding-left: 25px;

        @include media-min($laptop-width) {
          padding-right: 300px;
        }
        @include laptop {
          padding-right: 150px;
        }
        @include tablet {
          flex: 0 0 43.619792%;
          max-width: 43.619792%;
          padding-left: 10px;
          padding-right: 50px;
        }
        @include mobile {
          flex: 0 0 100%;
          max-width: 100%;
        }

        .#{$s-simple} & {
          @include mobile {
            padding: 0 100px 0 $p-container-xs;
          }
        }

        .#{$s-full} & {
          @include tablet {
            padding-right: 120px;
          }
          @include mobile {
            padding: 0 47px 0 110px;
          }
        }

      }
    }

    &__subtitle {
      margin: 0 0 $m-block-xs;
    }

    &__text {
      transition: all 1s;
      .w-section__subtitle ~ & {
        @include media-min($tablet-width) {
          margin-bottom: 50px;
        }
      }
      &:hover {
        line-height: 2;
      }
    }

    &__image {
      display: flex;
      align-items: flex-start;

      .#{$s-simple} & {
        @include media-min($tablet-width) {
          padding: 0 $p-container-sm;
        }
        @include media-min($laptop-width) {
          padding: 0 $p-container-xl;
        }
      }

      .#{$s-full} & {
        @include media-min($tablet-width) {
          padding-right: 120px;
        }
        @include media-min($desktop-width) {
          padding-right: 150px;
        }
        @include media-min($laptop-width) {
          padding-right: 300px;
        }
        @include mobile {
          padding-right: 47px;
        }
      }
    }

    &__images {
      &-col {
        @include mobile {
          min-height: 400px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

      }
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    &__col {
      display: flex;
      align-items: flex-start;
      width: 100%;

      &:first-child {
        flex: 0 0 56.640625%;
        max-width: 56.640625%;
        padding-right: 25px;
        @include tablet {
          flex: 0 0 56.380208%;
          max-width: 56.380208%;
          padding-right: 10px;
        }
        @include mobile {
          flex: 0 0 56.5625%;
          max-width: 56.5625%;
          padding-right: 5px;
        }
        .#{$s-simple} & {

          @include media-min($laptop-width) {
            padding-left: $p-container-xl;
          }
          @include laptop {
            padding-left: $p-container-sm;
          }
          @include mobile {
            flex: 0 0 54.6875%;
            max-width: 54.6875%;
            padding-left: 0;
          }
        }

      }

      &:last-child {
        flex: 0 0 43.359375%;
        max-width: 43.359375%;
        padding-left: 25px;
        @include tablet {
          flex: 0 0 43.619792%;
          max-width: 43.619792%;
          padding-left: 10px;
        }
        @include mobile {
          flex: 0 0 43.4375%;
          max-width: 43.4375%;
          padding-left: 5px;
        }
        .#{$s-simple} & {
          @include media-min($laptop-width) {
            padding-right: $p-container-xl;
          }
          @include laptop {
            padding-right: $p-container-sm;
          }
          @include mobile {
            flex: 0 0 45.3125%;
            max-width: 45.3125%;
            padding-right: 0;
          }
        }

      }
    }
  }

</style>
