<template>
    <section class="section s-entry">
      <div class="s-entry__wrapper container">
        <a-image v-if="Hero.image" class="s-entry__image" :src="Hero.image" alt="" type="bottom"></a-image>
        <div class="s-entry__head">
          <page-title v-if="Hero.title" :content="Hero.title" class="s-entry__title padding-l"></page-title>
          <span class="s-entry__slogan slogan">
            {{ 'services_slogan' | translate }}
          </span>
        </div>
      </div>
    </section>
</template>

<script>
    import PageTitle from "../../components/layout/pageTitle";
    import AImage from "../../components/layout/aImage";
    export default {
        name: "s-entry",
        components: {AImage, PageTitle},
        computed: {
            Hero() {
                return this.$store.getters.item.content.hero;
            },
        },
    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .s-entry {
    padding-top: $p-block-md;

    &__image {
      position: relative;
      display: flex;
      align-items: center;

      @include tablet {
        margin-left: -$p-container-sm;
        margin-right: -$p-container-sm;
      }

      @include mobile {
        margin: 0 -$p-container-xs;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(10.2deg, rgba(235, 235, 232, 0.9) -14.66%, rgba(196, 196, 196, 0) 41.5%);
      }
    }

    &__head {
      position: relative;
      margin-top: -$m-block-xl;
      margin-bottom: $m-block-xl;
      z-index: 2;

      @include mobile {
        margin-top: -$m-block-xs;
      }
    }

    &__title {
      margin: 0;
    }

    .slogan {
      position: absolute;
      bottom: 0;
      right: 0;

      @include mobile {
        display: none;
      }
    }
  }
</style>
