<template>
  <section class="section s-list">
    <div class="container">
      <div class="s-list__items padding-l padding-r">
        <div v-for="(item, index) in Services" class="s-list__item service-item">
          <div class="service-item__count">{{ getNum(index) }}</div>
          <div class="service-item__title heading-block padding-r" v-html="item.title"></div>
          <div v-if="item.subtitle" class="service-item__categories padding-r">
            <span v-html="item.subtitle"></span>
          </div>
          <div v-if="item.description" class="service-item__description text">
            <div v-html="item.description"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
    export default {
        name: "s-list",
        data() {
            return {
                // service_items: [
                //     {
                //         count: '1',
                //         title: 'Разработка концепции<br>Дизайн проектов',
                //         categories: [
                //             'Лобби', 'Офисов', 'Отделов продаж', 'Мопов', 'Лестничных клеток', 'Лифтов',
                //         ],
                //         text: [
                //             'Поиск референсов - часов 5 в общем за весь проект/ Согласование с заказчиком',
                //             'Разработка визуализаций - неделя, в зависимости от сложности и четко поставленного ТЗ',
                //             'Чертежи -  неделя- две, в зависимости от сложности и четко поставленного ТЗ',
                //             'Разработка чертежей мебели и узлов для подрядчиков (латунь, шпон, декоративные панели, люстры, почтовые ящики и тд) - каждый чертеж по часу-два, в зависимости от сложности и четкого решения.',
                //             'Оформление чертежей согласно требований ПТО, сметного и тд - два дня / Подбор и согласование всех материалов ( на протяжении всего проекта)',
                //         ],
                //     },
                //     {
                //         count: '1',
                //         title: 'Разработка концепции<br>Дизайн проектов',
                //         categories: [
                //             'Лобби', 'Офисов', 'Отделов продаж', 'Мопов', 'Лестничных клеток', 'Лифтов',
                //         ],
                //         text: [
                //             'Поиск референсов - часов 5 в общем за весь проект/ Согласование с заказчиком',
                //             'Разработка визуализаций - неделя, в зависимости от сложности и четко поставленного ТЗ',
                //             'Чертежи -  неделя- две, в зависимости от сложности и четко поставленного ТЗ',
                //             'Разработка чертежей мебели и узлов для подрядчиков (латунь, шпон, декоративные панели, люстры, почтовые ящики и тд) - каждый чертеж по часу-два, в зависимости от сложности и четкого решения.',
                //             'Оформление чертежей согласно требований ПТО, сметного и тд - два дня / Подбор и согласование всех материалов ( на протяжении всего проекта)',
                //         ],
                //     },
                //     {
                //         count: '1',
                //         title: 'Разработка концепции<br>Дизайн проектов',
                //         categories: [
                //             'Лобби', 'Офисов', 'Отделов продаж', 'Мопов', 'Лестничных клеток', 'Лифтов',
                //         ],
                //         text: [
                //             'Поиск референсов - часов 5 в общем за весь проект/ Согласование с заказчиком',
                //             'Разработка визуализаций - неделя, в зависимости от сложности и четко поставленного ТЗ',
                //             'Чертежи -  неделя- две, в зависимости от сложности и четко поставленного ТЗ',
                //             'Разработка чертежей мебели и узлов для подрядчиков (латунь, шпон, декоративные панели, люстры, почтовые ящики и тд) - каждый чертеж по часу-два, в зависимости от сложности и четкого решения.',
                //             'Оформление чертежей согласно требований ПТО, сметного и тд - два дня / Подбор и согласование всех материалов ( на протяжении всего проекта)',
                //         ],
                //     },
                //     {
                //         count: '1',
                //         title: 'Разработка концепции<br>Дизайн проектов',
                //         categories: [
                //             'Лобби', 'Офисов', 'Отделов продаж', 'Мопов', 'Лестничных клеток', 'Лифтов',
                //         ],
                //         text: [
                //             'Поиск референсов - часов 5 в общем за весь проект/ Согласование с заказчиком',
                //             'Разработка визуализаций - неделя, в зависимости от сложности и четко поставленного ТЗ',
                //             'Чертежи -  неделя- две, в зависимости от сложности и четко поставленного ТЗ',
                //             'Разработка чертежей мебели и узлов для подрядчиков (латунь, шпон, декоративные панели, люстры, почтовые ящики и тд) - каждый чертеж по часу-два, в зависимости от сложности и четкого решения.',
                //             'Оформление чертежей согласно требований ПТО, сметного и тд - два дня / Подбор и согласование всех материалов ( на протяжении всего проекта)',
                //         ],
                //     },
                //
                // ],
            }
        },
        computed: {
            Services() {
                return this.$store.getters.item.content.services.items;
            },
        },
    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .s-list {
    padding-bottom: $p-block-xl;

    &__items {

      @include tablet {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__item {
      margin-bottom: $m-block-md;
    }
  }

  .service-item {
    display: grid;
    grid-template-columns: 62.5% 37.5%;
    align-items: flex-start;

    @include mobile {
      grid-template-columns: 100%;
    }

    &__count {
      grid-column: 1 / 3;
      font-family: $font-trirong;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $c-light-grey;
      margin-bottom: 60px;

      @include mobile {
        grid-column: 1;
      }
    }

    &__title {
      grid-column: 1;
      margin-bottom: $m-block-xs;
    }

    &__categories {
      grid-column: 1;
      margin-bottom: $m-block-md;

      span {
        display: inline-block;
        position: relative;
        font-family: $font-anglecia;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        margin-right: 4px;
        line-height: 40px;
        color: $c-oak;

        &::after {
          content: ' /';
        }

        &:last-of-type::after {
          display: none;
        }
      }
    }

    &__description {
      grid-column: 2;
      grid-row: 2 / 5;


      @include mobile {
        grid-column: 1;
        grid-row: auto;
      }
    }
  }
</style>
