html,
body,
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

html {
  background: $body-bg;

  &.overflow,
  &.overflow body,
  &.overflow .wrapper {
    overflow: hidden;
  }
}

body {
  position: relative;
  font-family: $font;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: $body-bg;
  transition: all .5s;
  color: $c-brown;

  //&.active-footer,
  &.active-help {
    background: $c-dark-grey;
    //color: $c-white;
  }
}

.page {
  opacity: 1;
  transition: opacity .333s ease-in-out;
}

.active-footer {

  .page {
    opacity: 0;
    transition: opacity .333s ease-in-out;
  }
}

.wrapper {
  /* fixing footer */
  position: relative;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

button[type="button"] {
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }
}


.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.paddings {
  padding-top: 70px;
  padding-bottom: 70px;
  @include tablet {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}

.padding-l {
   padding-left: $padding-l-xl;

  @include tablet {
    padding-left: $padding-l-md;
  }

  @include mobile {
    padding-left: 0;
  }
 }

.padding-r {
  padding-right: $padding-r-xl;

  @include tablet {
    padding-right: $padding-r-md;
  }

  @include mobile {
    padding-right: 0;
  }
}

.padding-b {
  padding-bottom: 70px;
  @include tablet {
    padding-bottom: 38px;
  }
}

.section-p-b {
  padding-bottom: $p-section-xl;

  @include mobile {
    padding-bottom: $p-section-xs;
  }
}

.section-label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .35em;
  text-transform: uppercase;
  color: rgba(#1F1B1B, .1);
  @include tablet {
    font-size: 10px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 20px;
  }
}

.visible-mobile {

  @include media-min($grid-md-min) {
     display: none;
   }
}

.visible-tablet {

  @include media-min($grid-lg-min) {
    display: none;
  }
}

.visible-desktop {

  @include tablet {
    display: none;
  }
}

.opacity {
  opacity: 0;
}
