<template>
  <section class="works">
    <div class="container">
      <div class="works__items">
        <div ref="info" class="works__items-info visible-desktop">
          <span ref="count" class="works__item-num">01</span>
          <div ref="name"
               id="item_name"
               class="works__item-title heading-main active-cursor"
               v-html="items[0].title"></div>
        </div>
        <div class="works__item" v-for="(item, index) in items" v-if="item.thumbnail">
          <div class="works__item-wrapper">
            <span v-html="getNum(index)" class="works__item-num visible-tablet"></span>
            <router-link class="works__item-title heading-main active-cursor visible-tablet"
                         :to="{name: 'Single', params: {slug: item.slug}}"
                         v-html="item.title">
            </router-link>
            <span class="works__item-label" v-html="nl2br(item.description)"></span>
            <div v-viewport:fully="animatePhrases" :key="index" class="works__item-box"></div>
            <router-link class="works__item-image active-cursor"
                         :to="{name: 'Single', params: {slug: item.slug}}">
              <img :src="item.thumbnail" :alt="item.title">

              <!--              <img :src="item.image.url" :alt="item.image.alt" v-if="width >= 768">-->
              <!--              <img :src="item.mob_image.url" :alt="item.mob_image.alt" v-else>-->
            </router-link>
          </div>
        </div>
      </div>
      <div class="works__more" v-if="showMore">
        <button type="button" class="link-primary active-cursor">{{ btn_more }}</button>
      </div>
    </div>
  </section>
</template>

<script>
  import {TweenLite, TweenMax, Linear, Power4, Power0,} from 'gsap';

  export default {
    name: "works-list",
    data() {
      return {
        width: '',
        // names: [
        //     '1 A Day’s/<br> March"',
        //     '2 Brilliant/<br> Minds',
        //     '3 A Day’s/<br> March"',
        //     '4 Intellotel',
        // ],
        phrasesIndex: 0,
        showMore: false,
        btn_more: 'Watch more',
      }
    },
    created: function () {
      this.getWidth();

      if (window) {
        window.addEventListener('resize', this.getWidth);
      }
    },
    mounted() {
      if (document) {
        document.addEventListener('scroll', this.namePosition);
      }
    },
    beforeDestroy() {
      if (window) {
        document.removeEventListener('scroll', this.namePosition);
        window.removeEventListener('resize', this.getWidth);
      }
    },
    computed: {
      items() {
        let items = this.$store.state.viewData.items;

        return items.filter(item => {
          return item.title && item.thumbnail;
        });
      }
    },
    methods: {
      getWidth() {
        return this.width = window ? window.innerWidth : 769;
      },
      namePosition() {
        // let name = this.$refs.info;
        // if (name) {
        //   let position = document ? document.documentElement.scrollTop : 0;
        //   TweenMax.to(name, 1, {
        //     y: position,
        //     force3D: true,
        //     ease: Power4,
        //     onComplete: this.namePosition,
        //   });
        // }
      },
      animatePhrases(section, vnode) {
        let el = this.$refs.name;
        if (el) {
          let phrases = this.items.map(el => el.title);

          let text = phrases[vnode.key];
          TweenLite.to(el, 1, {
            text: {value: text},
            ease: Linear.easeNone,
          });
          TweenLite.to(this.$refs.count, 1, {
            text: {value: this.getNum(vnode.key)},
            ease: Linear.easeNone,
          });
        }
      },
    }
  }
</script>


<style lang="scss">
  @import "../../../../sass/helpers/variables";
  @import "../../../../sass/helpers/mixins";

  .works {
    padding: $m-block-xl 0 $p-section-xl;

    @include tablet {
      padding: 80px 0 $p-section-xl;
    }

    @include mobile {
      padding: 0 0 $p-section-xs;
    }

    .container {
      padding-right: 0;

      @include tablet {
        padding-right: 0;
      }
    }

    &__items {
      position: relative;
      padding: 0 0 $m-block-xl;

      &-info {
        @include desktop {
          position: fixed;
          width: 100%;
          display: grid;
          grid-template-rows: 1fr 1fr;
          height: calc(100vh - 350px);
          pointer-events: none;
          transform-style: flat;
          /*top: 0;*/
          left: 0;
          padding: 0 0 50px $p-container-sm;
          z-index: 1;
        }

        @include media-min($grid-xl-min) {
          padding: 0 0 50px $p-container-xl;
        }

        .works__item-title {
          grid-row: 2;
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;

      @include desktop {
        height: 100vh;
      }

      &:not(:last-child) {
        margin-bottom: $p-block-md;
      }

      &-wrapper {
        position: relative;
        display: flex;
        width: 100%;

        @include desktop {
          height: 100%;
        }
      }

      &-num {
        font-family: $font-anglecia;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25;
        color: $c-brown;
        @include tablet {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 15px;
          line-height: 1.33;
        }
        @include mobile {
          font-family: $font;
          font-size: 13px;
          line-height: 1.54;
        }
      }

      &-title {
        z-index: 1;
        max-width: 60%;
        line-height: 1;

        @include tablet {
          max-width: 50%;
          position: absolute;
          left: 0;
          bottom: 50px;
        }
        @include mobile {
          bottom: 90px;
        }
      }

      &-box {
        position: absolute;
        width: 20%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -50%);
        pointer-events: none;
        opacity: 0;
      }

      &-image {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 79.66102%;
        margin-left: auto;

        @include tablet {
          max-width: 80.77994%;
        }
        @include mobile {
          max-width: 75.86207%;
          min-height: 500px;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, rgba(235, 235, 232, 0.9) -30.64%, rgba(196, 196, 196, 0) 35.85%);
        }

        img {
          width: 100%;
          height: auto;

          @include desktop {
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          @include mobile {
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      &-label {
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-family: $font-anglecia;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.25;
        text-align: right;
        color: $c-white;
        z-index: 1;
        max-width: 20%;

        @include tablet {
          max-width: 140px;
        }
        @include mobile {
          right: 30px;
          bottom: 20px;
          /*max-width: 120px;*/
          font-family: $font;
          font-size: 13px;
          line-height: 1.54;
        }
      }
    }

    &__more {
      display: flex;
      justify-content: flex-end;
      padding-right: $p-container-sm;
      @include tablet {
        padding-right: $p-block-md;
      }
      @include mobile {
        padding-right: $p-block-xs;
      }

      @include media-min($grid-xl-min) {
        padding-right: $p-container-xl;
      }
    }
  }

</style>
