<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <v-card-title>
      <span>Редактировать пользователя</span>

      <v-spacer></v-spacer>

      <span>
        <v-btn @click="$router.go(-1)" class="mr-4" color="warning">Close</v-btn>
        <v-btn @click="saveItem" color="primary">Save</v-btn>
      </span>
    </v-card-title>

    <v-card-text @change="changed = true">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="4"
          >
            <v-text-field
              v-model="user.name"
              label="Имя"

            ></v-text-field>
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <v-text-field
              v-model="user.email"
              label="Email"
            ></v-text-field>
          </v-col>


          <v-col
            cols="12"
            md="4"
          >
            <v-text-field
              v-model="user.password"
              label="Пароль"
            ></v-text-field>
          </v-col>

        </v-row>
      </v-container>
    </v-card-text>

  </v-card>
</template>

<script>
  export default {
    name: "SingleUser",
    props: {
      id: [Number, String],
    },
    data() {
      return {
        api_url: '/api/users/',
        user: {
          name: '',
          email: '',
          password: '',
        }
      }
    },
    mounted() {
      if (this.id) {
        this.fetchData()
      }
    },
    methods: {
      fetchData() {
        this.changed = false;

        let data = {
          method: 'get',
          url: `${this.api_url}${this.id}`,
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log('page data = ', res.data.data);
          this.user = res.data.data;
        });
      },
      saveItem() {
        if (this.user.id) {
          this.updateItem(this.user.id);
        } else {
          this.createItem();
        }
      },
      updateItem() {
        let data = {
          method: 'put',
          url: `${this.api_url}${this.id}`,
          data: this.user
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log('page data = ', res);
          this.$store.dispatch('notify', {
            text: 'Update success!',
            color: 'success',
          });
        });

      },
      createItem() {
        let data = {
          method: 'post',
          url: this.api_url,
          data: {
            item: this.user,
          },
        };
        this.$store.dispatch('sendRequest', data).then(res => {
          console.log('page data = ', res);
          if (res.data.success) {
            this.user = res.data.item;
            this.$store.dispatch('notify', {
              text: 'Save success!',
              color: 'success',
            });
            this.$router.push({
              name: this.single_route,
              params: {
                id: this.user.id
              }
            });
          }
        });
      },
    },
  }
</script>

<style scoped>

</style>
