<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <!--    <div style="width: 500px; height: 500px"></div>-->

    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :loading="loading"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      loading-text="Loading... Please wait"
      class="post-table">

      <template v-slot:top>
        <v-toolbar flat color="white">
          <!--          <v-toolbar-title>{{ $route.name }}</v-toolbar-title>-->
          <v-toolbar-title>{{ 'List' }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            class="mr-5 search-field"
            single-line
            hide-details
          ></v-text-field>

          <v-btn :to="{name: single_route}" color="primary" dark class="mb-2">New User</v-btn>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="confirmDelete(item)">
          mdi-delete
        </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>

    </v-data-table>

    <confirm v-if="showConfirm" :item="activeItem" v-bind:show.sync="showConfirm" v-on:success="deleteItem"></confirm>
  </v-card>
</template>

<script>
  import Confirm from "../../../components/admin/dialogs/confirmDelete";

  export default {
    name: "users",
    components: {Confirm},
    data() {
      return {
        sortBy: ['date'],
        api_url: '/api/users/',
        single_route: 'Single User',
        sortDesc: [true],
        full: {
          data: [],
        },
        activeItem: false,
        showConfirm: false,
        loading: true,
        search: '',
      }
    },
    mounted() {
      this.getPages();
    },
    computed: {
      items() {
        return this.full.data;
      },
      headers() {
        let headers = [];

        if (this.items.length) {
          let itemHeaders = Object.keys(this.items[0]);
          let filtered = itemHeaders;
          headers = filtered.map(item => {
            return {
              text: this.$filters.ucFirst(item),
              value: item,
              sortable: item !== 'id',
              class: item !== 'id' ? 'table-header' : '',
            }
            // }
          });
          headers.push({
            text: 'Actions',
            value: 'action',
            sortable: false,
            align: 'center',
            width: 100,
          })
        }
        return headers;
      },
    },
    methods: {
      getPages() {
        let data = {
          method: 'get',
          url: this.api_url,
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log(res);
          this.loading = false;

          this.full = res.data;
        });
      },
      initialize() {
        this.getPages();
      },
      editItem(item) {
        let id = item.id;

        this.$router.push({
          name: this.single_route,
          params: {
            id
          }
        })
      },
      confirmDelete(item) {
        this.activeItem = item;
        this.showConfirm = true;
      },
      deleteItem() {
        let item = this.activeItem;

        let data = {
          method: 'delete',
          url: this.api_url+item.id,
        };

        this.loading = true;
        this.$store.dispatch('sendRequest', data).then(res => {
          this.loading = false;
          if (res.data.success) {
            this.full.data = this.full.data.filter(i => i !== item);

            this.$store.dispatch('notify', {
              text: 'Item deleted!',
              color: 'error',
            });
          }
        });
      },
    },
  }
</script>

<style lang="scss">
  .post-table {
    .search-field {
      max-width: 300px;
    }

    .v-data-table {
      &__wrapper {

      }

      &-header {
        th {
          /*min-width: 100px;*/
        }
      }
    }

    .table-header {
      min-width: 100px;
    }
  }
</style>
