<template>
  <div>
    <v-container fluid>
      <v-textarea
        filled
        :label="item.title"
        auto-grow
        v-model="item.value"
      ></v-textarea>
    </v-container>
  </div>
</template>
<script>
  export default {
    name: "TypeTextarea",
    props: {
      item: [Object],
    },
  }
</script>

<style scoped>

</style>
