<template>
  <div>
    <v-btn class="mb-2" v-if="preload.length"
           @click="showPreview = !showPreview"
           text>{{ showPreview ? 'Hide' : 'Show' }} preview
    </v-btn>

    <div class="preview-wrapper"
         v-if="showPreview">
      <img :src="item.value" />
    </div>
    <!--<div class="preview-wrapper" v-else><img :src="item.value" alt=""></div>-->

    <file-pond
      :name="name"
      ref="pond"
      label-idle="Drop files here..."
      accepted-file-types="image/jpeg, image/png, image/svg+xml"
      :server="uploadUrl"
      :allow-multiple="multiple"
      v-on:processfile="onAdd"
      v-on:init="init"
      :files="upload" />
  </div>
</template>

<script>
  // Import Vue FilePond
  import vueFilePond from 'vue-filepond';

  // Import FilePond styles
  import 'filepond/dist/filepond.min.css';

  // Import image preview plugin styles
  import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

  // Import image preview and file type validation plugins
  import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
  import FilePondPluginImagePreview from 'filepond-plugin-image-preview';

  // Create component
  const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);

  export default {
    name: "TypeImage",
    components: {
      FilePond,
    },
    props: {
      images: [String, Array],
      item: Object,
      multiple: {
        type: Boolean,
        default: false,
      },
      name: {
        type: String,
        default: 'images',
      }
    },
    data() {
      return {
        api_url: '/api/settingss/',
        preload: [],
        upload: [],
        showPreview: true,
      }
    },
    computed: {
      uploadUrl() {
        let url = this.api_url + this.item.id + "/upload/";
        console.log('upload url', url);
        return url;
      },
    },
    methods: {
      init() {
        let upload = [];
        let origin = window.location.origin;

        if (this.images && this.images.length) {
          if (typeof this.images === 'string') {
            this.addImage(this.images);
          }
        }

        return upload;
      },
      addImage(url) {
        this.preload.push(url);
        this.upload.push({
          source: origin + url,
          options: {
            type: 'local',
          }
        });
      },
      onAdd(error, file) {
        if (!error) {
          this.showPreview = false;
          let images = JSON.parse(file.serverId);
          console.log(images);
          this.item.value = `/media/${images.data.id}/${images.data.file_name}`;
          this.$emit('update:images', images)
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
  .preview-wrapper {
    border-radius: .5em;
    background-color: #f1f0ef;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 0;
    margin-top: 10px;
    img {
      height: 100px;
      width: auto;
    }
  }
</style>
