<template>
  <div>
    <v-text-field v-model="item.value" :label="item.title"></v-text-field>
  </div>
</template>

<script>
  export default {
    name: "TypeInput",
    props: {
      item: [Object],
    },
    methods: {

    }
  }
</script>

<style scoped>

</style>
