<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <v-toolbar flat color="white">
      <v-toolbar-title>{{ 'General' }}</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" class="vb_x mb-2" v-on="on">Add field</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Add field</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="editedItem.title" label="title"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-select
                    :items="types"
                    v-model="editedItem.type"
                    label="Field type"
                    solo
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="editedItem.group" label="Group"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field v-model="editedItem.key" label="Key"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field type="number" v-model.number="editedItem.order" label="order"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="add">Add</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <div class="container">
      <div class="fields">
        <v-row no-gutters>
          <v-col cols="3" v-if="fields" v-for="field in fields" :key="field.id">
            <v-card class="ma-4 pa-4">
              <div class="control_btns">
                <v-btn @click="remove(field)" fab dark small color="red">
                  <v-icon dark>mdi-delete</v-icon>
                </v-btn>
                <v-btn @click="save(field)" fab dark small color="green">
                  <v-icon dark>mdi-content-save</v-icon>
                </v-btn>
              </div>
              <component :is="field.type" :item="field"></component>
              Group: <input type="text" v-model="field.group" placeholder="group"><br>
              Key: <input type="text" v-model="field.key" placeholder="key"> <br>
              Order: <input type="number" v-model="field.order">
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </v-card>
</template>

<script>
  import TypeImage from "./Types/TypeImage";
  import TypeInput from "./Types/TypeInput";
  import TypeTextarea from "./Types/TypeTextarea";

  export default {
    name: "General",
    components: {TypeTextarea, TypeInput, TypeImage},
    data() {
      return {
        dialog: false,
        api_url: '/api/settingss/',
        editedItem: {
          title: '',
          type: '',
          group: '',
          key: '',
          order: '',
        },
        types: ['TypeImage', 'TypeInput', 'TypeTextarea'],
        fields: []
      }
    },
    mounted() {
      this.getData();
    },
    methods: {
      close() {
        this.dialog = false;
        this.getData();
      },
      getData() {
        let data = {
          method: 'get',
          url: this.api_url,
        };
        this.$store.dispatch('sendRequest', data).then(res => {

          this.fields = res.data.data.sort((a, b) => {
            // return a.order > b.order;
            if (a.order > b.order) return 1;
            if (b.order > a.order) return -1;

            return 0;
          });

          console.log('fields data', this.fields);
        });
      },
      add() {
        let item = '';
        item = Object.assign({}, this.editedItem);
        this.fields.push(item);
        console.log('fields', this.fields);


        let data = {
          method: 'post',
          url: this.api_url,
          data: {
            item: item,
          }
        };
        this.$store.dispatch('sendRequest', data).then(res => {
          this.$store.dispatch('notify', {
            text: 'Update success!',
            color: 'success',
          });
        });
        this.close();
      },
      save(item) {
        console.log('item',item);
        let data = {
          method: 'put',
          url: this.api_url + item.id,
          data: {
            item: item,
          }
        };
        this.$store.dispatch('sendRequest', data).then(res => {
          this.$store.dispatch('notify', {
            text: 'Update success!',
            color: 'success',
          });
          this.getData();
        });

      },
      remove(item) {
        let data = {
          method: 'delete',
          url: this.api_url + item.id,
        };
        this.loading = true;
        this.$store.dispatch('sendRequest', data).then(res => {
          this.loading = false;
          if (res.data.success) {
            this.$store.dispatch('notify', {
              text: 'Item deleted!',
              color: 'error',
            });
            this.getData();
          }
        });
      }
    }
  }
</script>

<style scoped>
  .vb_x {
    margin-right: 10px;
  }

  .control_btns {
    text-align: right;
  }
</style>
