<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :loading="loading"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      loading-text="Loading... Please wait"
      class="post-table">

      <template v-slot:top>
        <v-toolbar flat color="white">

          <v-toolbar-title>{{ 'List' }}</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" class="mr-5 search-field" single-line
                        hide-details></v-text-field>

          <v-dialog v-model="dialog" persistent max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" class="mb-2" v-on="on">New Item</v-btn>
            </template>
            <v-card>

              <v-card-title>
                <span v-if="editedItems[Settings.currentLocale].id" class="headline">Edit
                                                                                     {{editedItems[Settings.currentLocale].id}}</span>
                <span v-else class="headline">New Item</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row v-for="(item, index) in editedItems" :key="index">
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="item.locale" label="Key" disabled></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="editedItems.en.key" label="Key"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field v-model="item.value" label="Value"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <div class="lang-switcher">
          <languages-switcher :changed="changed" v-on:locale-changed="getPages"></languages-switcher>
        </div>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
        <v-icon small @click="confirmDelete(item)">mdi-delete</v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>

    </v-data-table>

    <confirm v-if="showConfirm" :item="activeItem" v-bind:show.sync="showConfirm" v-on:success="deleteItem"></confirm>
  </v-card>


</template>

<script>
  import Confirm from "../../../components/admin/dialogs/confirmDelete";
  import LanguagesSwitcher from "../../../components/admin/layout/languagesSwitcher";

  export default {
    name: "Translates",
    components: {Confirm, LanguagesSwitcher},
    data() {
      return {
        sortBy: ['date'],
        api_url: '/api/translatess/',
        single_route: 'Single Page',
        sortDesc: [true],
        columns: ['locale', 'key', 'value', 'date'],
        full: {data: []},
        activeItem: false,
        showConfirm: false,
        loading: true,
        dialog: false,
        search: '',
        changed: false,
        editedIndex: -1,
        editedItems: {
          en: {
            locale: 'en',
            key: '',
            value: '',
          },
          ru: {
            locale: 'ru',
            key: '',
            value: '',
          },
          ua: {
            locale: 'ua',
            key: '',
            value: '',
          },
        },
        defaultItems: {
          en: {
            locale: 'en',
            key: '',
            value: '',
          },
          ru: {
            locale: 'ru',
            key: '',
            value: '',
          },
          ua: {
            locale: 'ua',
            key: '',
            value: '',
          },
        },
      }
    },
    mounted() {
      this.getPages();
    },
    computed: {
      items() {
        return this.full.data;
      },
      Settings() {
        return this.$store.state.settings;
      },
      headers() {
        let headers = [];

        if (this.items && this.items.length) {
          let itemHeaders = Object.keys(this.items[0]);
          let filtered = itemHeaders;
          headers = filtered.map(item => {
            return {
              text: this.$filters.ucFirst(item),
              value: item,
              sortable: item !== 'id',
              class: item !== 'id' ? 'table-header' : '',
            }
            // }
          });

          headers.push({
            text: 'Actions',
            value: 'action',
            sortable: false,
            align: 'center',
            width: 100,
          })
        }
        return headers;
      },
    },
    methods: {
      getPages() {
        let data = {
          method: 'get',
          url: this.api_url + '?local=' + this.Settings.currentLocale,
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          this.loading = false;
          this.full = res.data;
          console.log(this.full);
        });
      },
      initialize() {
        this.getPages();
      },
      confirmDelete(item) {
        this.activeItem = item;
        this.showConfirm = true;
      },
      deleteItem() {
        let item = this.activeItem;
        let data = {
          method: 'delete',
          url: this.api_url + item.id,
        };
        this.loading = true;
        this.$store.dispatch('sendRequest', data).then(res => {
          this.loading = false;
          if (res.data.success) {
            this.full.data = this.full.data.filter(i => i !== item);
            this.$store.dispatch('notify', {
              text: 'Item deleted!',
              color: 'error',
            });
          }
        });
      },
      fetchData(item) {
        let data = {
          method: 'get',
          url: `${this.api_url}${item.id}/${this.Settings.currentLocale}`,
        };

        let copy_item = Object.assign({}, item);
        let new_data = {
            id: copy_item.id,
            key: copy_item.key,
        };


        this.$store.dispatch('sendRequest', data).then(res => {
          let merge_data = {};
          for (let dd in res.data) {
            merge_data[dd] = Object.assign(res.data[dd], new_data);
          }
          this.editedItems = merge_data;
        });
      },
      editItem(item) {
        this.editedIndex = this.full.data.indexOf(item);
        this.fetchData(item);
        this.dialog = true
      },
      close() {
        this.dialog = false;
        setTimeout(() => {
          this.editedItems = Object.assign({}, this.defaultItems);
          this.editedIndex = -1
        }, 300)
      },
      save() {
        let locale = this.Settings.currentLocale;
        let data = {
          method: 'put',
          url: this.api_url + this.editedItems[locale].id,
          data: {
            item: this.editedItems,
            locale: locale,
          }
        };
        if (!this.editedItems[locale].id) {
          data.method = 'post';
          data.url = this.api_url
        }

        this.$store.dispatch('sendRequest', data).then(res => {
          this.$store.dispatch('notify', {
            text: 'Update success!',
            color: 'success',
          });
        });

        if (this.editedIndex > -1) {
          Object.assign(this.full.data[this.editedIndex], this.editedItems)
        } else {
          this.getPages();
        }
        this.close()
      },
    },
  }
</script>

<style lang="scss">
  .post-table {
    .search-field {
      max-width: 300px;
    }

    .v-data-table {
      &__wrapper {

      }

      &-header {
        th {
          /*min-width: 100px;*/
        }
      }
    }

    .table-header {
      min-width: 100px;
    }
  }

  .lang-switcher {
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
  }
</style>
