<template>
  <div id="login" class="flex-grow-1 d-flex flex-column justify-center">
    <v-card class="mx-auto" max-width="500" light>
      <v-card-text>
        <h2 class="title text-center">Авторизация</h2>
      </v-card-text>

      <div class="card-body">
        <v-form method="post" class="form enter-form login" ref="form" v-model="valid" lazy-validation>
          <div class="row">
            <div class="col-12">
              <div class="form__input-container">
                <v-text-field
                  :type="'email'"
                  v-model="user.email"
                  :rules="rules.email"
                  label="Email"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container">
                <v-text-field
                  :type="'password'"
                  v-model="user.password"
                  :rules="rules.password"
                  label="Пароль"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container pt-20">
                <v-btn color="success" class="mb-4" @click="send">Вход</v-btn>
                <!--<v-btn @click="$router.push({ name: 'Registration' })" text>Registration</v-btn>-->
                <p class="pt-10 text-center error--text" v-if="errorMessage">{{ errorMessage }}</p>
              </div>
            </div>
          </div>
        </v-form>

      </div>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: "login",
    data() {
      return {
        socialEnter: false,
        user: {
          email: '',
          password: '',
        },
        valid: true,
        rules: {
          email: [
            v => !!v || 'Field is required',
            // v => (v && v.length <= 20) || 'Name must be less than 20 characters',
          ],
          password: [
            v => !!v || 'Field is required',
          ],
        },
        errorMessage: false,
      }
    },
    computed: {
      loginAction() {
        return this.$store.state.settings.actions.login;
      },
    },
    methods: {
      send() {
        if (this.$refs.form.validate()) {
          let data = {
            fields: this.user,
          };

          this.$store.dispatch('sendRequest', {
            url: this.loginAction,
            data: this.user,
          }).then(res => {
            console.log(res);
            if (res.data.success) {
              this.$store.commit('setter', {
                user: res.data.user,
              });

              this.$router.push({name: 'Admin'});
            } else {
              this.valid = false;
              this.errorMessage = res.data.message;
            }
          });
        }
      }
    },
  }
</script>

<style scoped lang="scss">
  //noinspection CssUnknownTarget
  @import "~scss/helpers/variables";
  //noinspection CssUnknownTarget
  @import "~scss/helpers/mixins";


  #login {
    height: 100%;
  }

  .form {
    &__input-container {
      display: flex;
      flex-direction: column;
      width: 350px;
      margin: 0 auto 15px;

      @include mobile {
        width: 100%;
      }
    }

    &__btn {
      width: 100%;
      margin-bottom: 25px;
    }

    &__restore-link {
      cursor: pointer;
      color: #969696;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-decoration: underline;
    }

    .enter-social {
      &__title {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 20px;
      }

      &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        margin: 0 auto 15px;
      }

      &__btn {
        height: 40px;
        width: 163px;
        padding: 15px 30px 15px 20px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 15px;
          margin-right: 10px;
        }

        @include mobile {
          width: 140px;
        }
      }
    }
  }
</style>
