<template>
  <div id="registration" class="flex-grow-1 d-flex flex-column justify-center">

    <v-card class="mx-auto" max-width="500" light>
      <v-card-text>
        <h2 class="title text-center">Registration</h2>
      </v-card-text>

      <div class="card-body">
        <v-form method="post" class="form register-form login" ref="form" v-model="valid" lazy-validation>
          <div class="row">
            <div class="col-12">
              <div class="form__input-container">
                <!--                  <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>-->
                <!--                  <div class="col-md-6">-->
                <!--                    <input id="name" type="text" v-model="register.name" >-->
                <!--                  </div>-->
                <v-text-field
                  v-model="register.name"
                  label="Name"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container">
                <v-text-field
                  :type="'email'"
                  v-model="register.email"
                  label="Email"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container">
                <v-text-field
                  :type="'password'"
                  v-model="register.password"
                  label="Password"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container">
                <v-text-field
                  :type="'password'"
                  v-model="register.repeat_password"
                  label="Confirm Password"
                  required
                ></v-text-field>
              </div>
            </div>
            <div class="col-12">
              <div class="form__input-container pt-20">
                <v-btn
                  :disabled="!valid"
                  color="success"
                  class="mb-4"
                  @click="registration">Register
                </v-btn>

                <v-btn @click="$router.push({ name: 'Login' })" text>Login</v-btn>
              </div>
            </div>
          </div>
        </v-form>
      </div>

    </v-card>
  </div>
</template>

<script>
  export default {
    name: "registration",
    data() {
      return {
        valid: true,
        register: {
          name: '',
          email: '',
          password: '',
          repeat_password: '',
        }
      }
    },
    computed: {
      registrationAction() {
        return this.$store.state.settings.actions.registration;
      }
    },
    methods: {
      registration() {
        let request = {
          url: this.registrationAction,
          data: this.register
        };

        this.$store.dispatch('sendRequest', request).then((res) => {
          console.log(res);
          if (res.data.status) {
            this.$store.commit('setter', {
              user: res.data.user,
            });

            location.href = res.data.url;
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  //noinspection CssUnknownTarget
  @import "~scss/helpers/variables";
  //noinspection CssUnknownTarget
  @import "~scss/helpers/mixins";

  #registration {
    height: 100%;
  }


  .form {
    &__input-container {
      display: flex;
      flex-direction: column;
      width: 350px;
      margin: 0 auto 15px;

      @include mobile {
        width: 100%;
      }
    }

    &__btn {
      width: 100%;
      margin-bottom: 25px;
    }

    &__restore-link {
      cursor: pointer;
      color: #969696;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-decoration: underline;
    }

    .enter-social {
      &__title {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 20px;
      }

      &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        margin: 0 auto 15px;
      }

      &__btn {
        height: 40px;
        width: 163px;
        padding: 15px 30px 15px 20px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 15px;
          margin-right: 10px;
        }

        @include mobile {
          width: 140px;
        }
      }
    }
  }
</style>
