<template>
  <div id="restore">

    <v-card class="mx-auto" max-width="500" light>
      <v-card-text>
        <h2 class="title text-center">Reset Password</h2>
      </v-card-text>

      <v-form method="post" class="form enter-form login" ref="form" v-model="valid" lazy-validation>
        <div class="row">
          <div class="col-12">
            <div class="form__input-container">
              <v-text-field
                v-model="user.email"
                :rules="rules.email"
                label="Email or login"
                required
              ></v-text-field>
            </div>
          </div>
          <div class="col-12">
            <div class="form__input-container">
              <v-text-field
                :type="'password'"
                v-model="user.password"
                :rules="rules.password"
                label="Password"
                required
              ></v-text-field>
            </div>
            <div class="form__input-container">
              <v-text-field
                :type="'password'"
                v-model="user.password_confirmation"
                :rules="rules.password"
                label="Confirm Password"
                required
              ></v-text-field>
            </div>
          </div>
          <div class="col-12">
            <div class="form__input-container pt-20">
              <v-btn
                :disabled="!user.password.length || user.password !== user.password_confirmation "
                color="success"
                class="mb-4"
                @click="Reset">Enter
              </v-btn>
            </div>
          </div>
        </div>
      </v-form>
    </v-card>

  </div>

</template>

<script>
  export default {
    name: "restore",
    data() {
      return {
        result: 'default',
        user: {
          email: '',
          password: '',
          password_confirmation: '',
        },
        valid: true,
        rules: {
          email: [
            v => !!v || 'Field is required',
            // v => (v && v.length <= 20) || 'Name must be less than 20 characters',
          ],
          password: [
            v => !!v || 'Field is required',
          ],
        }
      }
    },
    computed: {
      restoreAction() {
        return this.$store.state.settings.actions.restore;
      }
    },
    methods: {
      Reset() {
        let request = {
          url: this.restoreAction,
          data: this.user
        };

        this.$store.dispatch('sendRequest', request).then((e) => {
          console.log(e);
          if (e.data.status) {
            location.href = e.data.url;
          }
        })
      }
    }
  }

</script>

<style scoped lang="scss">
  //noinspection CssUnknownTarget
  @import "~scss/helpers/variables";
  //noinspection CssUnknownTarget
  @import "~scss/helpers/mixins";

  .restore {
    &-subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #6F6F6F;
      margin: 15px auto 20px auto;
    }
    svg {
      margin: 20px auto 15px;
    }
    .form {
      &__input-container {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 0 auto 15px;

        @include mobile {
          width: 100%;
        }
      }
      &__btn {
        width: 100%;
        margin-bottom: 25px;
      }
      &__restore-link {
        cursor: pointer;
        color: #969696;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-decoration: underline;
      }
      .enter-social {
        &__title {
          text-align: center;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          margin-bottom: 20px;
        }
        &-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 350px;
          margin: 0 auto 15px;
        }
        &__btn {
          height: 40px;
          width: 163px;
          padding: 15px 30px 15px 20px;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 15px;
            margin-right: 10px;
          }

          @include mobile {
            width: 140px;
          }
        }
      }
    }
  }
</style>
