<template>
  <v-card class="menu mx-auto flex-grow-1" mix-width="500" light>
    <v-toolbar flat color="white">
      <v-toolbar-title>{{ 'Menu' }}</v-toolbar-title>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn color="primary" dark class="mb-2" @click="save">Save</v-btn>

    </v-toolbar>
    <div class="container">
      <div class="fields" v-for="item in Menu">
        <div class="field">
          <v-select
            :items="Items"
            v-model="item.page_id"
            label="Page"
            solo
          ></v-select>
        </div>
        <div class="field">
          <v-select
            :items="types"
            v-model="item.page_type"
            label="Type Page"
            solo
          ></v-select>
        </div>
        <div class="field-2">
          <v-text-field type="number" v-model.number="item.order" label="order"></v-text-field>
        </div>
        <div class="field-3">
          <v-btn color="danger" class="mb-2" @click="remove(item)">remove</v-btn>
        </div>
      </div>
      <v-btn color="primary" dark class="mb-2" @click="add">Add</v-btn>
    </div>
  </v-card>
</template>

<script>
    export default {
        name: "menu",
        data() {
            return {
                api_url: '/api/menus/',
                items: [],
                types: ['page'],
                menu: []
            }
        },
        mounted() {
            this.getData();
        },
        computed: {
            Items() {
                return this.items;
            },
            Menu() {
                return this.menu;
            }
        },
        methods: {
            getData() {
                let data = {
                    method: 'get',
                    url: this.api_url,
                };
                this.$store.dispatch('sendRequest', data).then(res => {
                    res.data.pages.map(item => {
                        this.items.push({
                            value: item.id,
                            text: item.title,
                        })
                    });

                    this.menu = res.data.menu.sort((a, b) => {
                            if (a.order > b.order) return 1;
                            if (b.order > a.order) return -1;
                            return 0;
                        });
                });
            },
            add() {
                let item = {
                    page_id: '',
                    page_type: '',
                    order: 0,
                };
                this.menu.push(item);
            },
            remove(item) {
                let data = {
                    method: 'delete',
                    url: this.api_url + item.id,
                };
                this.$store.dispatch('sendRequest', data).then(res => {
                    if (res.data.success) {
                        this.$store.dispatch('notify', {
                            text: 'Item deleted!',
                            color: 'error',
                        });
                        this.getData();
                    }
                });
            },
            save() {
                let data = {
                    method: 'post',
                    url: this.api_url,
                    data: this.menu
                };
                this.$store.dispatch('sendRequest', data).then(res => {
                    console.log('save',res);
                    this.$store.dispatch('notify', {
                        text: 'Update success!',
                        color: 'success',
                    });
                    this.getData();
                });
            }
        },
    }
</script>

<style scoped lang="scss">
  .menu {
    .fields {
      width: 100%;
      display: flex;
      flex-direction: row;

      .field {
        width: 30%;
        margin-right: 30px;
      }

      .field-2 {
        width: 5%;
        margin-right: 30px;
      }
      .field-3 {
        width: 10%;
      }
    }
  }

</style>
