/* responsive */
.entry-block[data-v-0bbc4a8e] {
  display: grid;
  justify-items: stretch;
  margin-bottom: 150px;
}
@media (max-width: 1199px) {
.entry-block[data-v-0bbc4a8e] {
    margin-bottom: 150px;
}
}
@media (max-width: 767px) {
.entry-block[data-v-0bbc4a8e] {
    margin-bottom: 150px;
}
}
.entry-block__content[data-v-0bbc4a8e] {
  position: relative;
  display: grid;
  justify-items: stretch;
}
.entry-block__wrapper[data-v-0bbc4a8e] {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  padding-top: 50px;
}
@media (max-width: 767px) {
.entry-block__wrapper[data-v-0bbc4a8e] {
    padding-right: 0;
    align-items: flex-start;
}
}
.entry-block__image[data-v-0bbc4a8e] {
  position: absolute;
  top: -45px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 35%;
  /*z-index: 1;*/
}
@media (max-width: 1199px) {
.entry-block__image[data-v-0bbc4a8e] {
    top: -65px;
    max-width: 36%;
}
}
@media (max-width: 767px) {
.entry-block__image[data-v-0bbc4a8e] {
    display: none;
}
}
@media only screen and (min-width: 1580px) {
.entry-block__image[data-v-0bbc4a8e] {
    max-width: 30%;
}
}
.entry-block__image-overlay[data-v-0bbc4a8e] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  transform: translateY(0);
  background: #EBEBE8;
  z-index: 1;
}
.entry-block__image-wrap[data-v-0bbc4a8e] {
  width: 100%;
  height: 100%;
}
.entry-block__image img[data-v-0bbc4a8e] {
  width: 100%;
  height: 100%;
  max-width: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.entry-block__title[data-v-0bbc4a8e] {
  position: relative;
  /*margin-top: 30px;*/
  margin-bottom: 30px;
  z-index: 3;
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}
@media (min-width: 1200px) {
.entry-block__title[data-v-0bbc4a8e] {
    max-width: 90%;
}
}
@media (max-width: 1199px) {
.entry-block__title[data-v-0bbc4a8e] {
    padding-left: 22px;
    margin-bottom: 60px;
}
}
@media (max-width: 767px) {
.entry-block__title[data-v-0bbc4a8e] {
    padding-top: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 30px;
}
}
.entry-block__bg[data-v-0bbc4a8e] {
  position: relative;
  width: 30%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-end;
  overflow: hidden;
}
@media (max-width: 1199px) {
.entry-block__bg[data-v-0bbc4a8e] {
    width: 36%;
}
}
@media (max-width: 767px) {
.entry-block__bg[data-v-0bbc4a8e] {
    width: 60%;
    height: auto;
    min-height: 100%;
    padding-top: 125px;
}
}
.entry-block__bg img[data-v-0bbc4a8e] {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
.entry-block__bg img[data-v-0bbc4a8e] {
    height: auto;
}
}
@media (max-width: 767px) {
.entry-block__socials[data-v-0bbc4a8e] {
    position: absolute;
    left: 30px;
    bottom: 30px;
}
}/* responsive */
.about-block[data-v-d811002e] {
  position: relative;
  overflow: hidden;
}
.about-block__wrapper[data-v-d811002e] {
  padding-left: calc(50px + 100px);
}
@media (max-width: 1199px) {
.about-block__wrapper[data-v-d811002e] {
    padding-left: calc(50px + 22px);
}
}
@media (max-width: 767px) {
.about-block__wrapper[data-v-d811002e] {
    padding-left: 30px;
}
}
@media only screen and (min-width: 1580px) {
.about-block__wrapper[data-v-d811002e] {
    padding-left: calc(200px + 100px);
}
}
.about-block__image-wrapper[data-v-d811002e] {
  position: relative;
  padding: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
.about-block__image-wrapper[data-v-d811002e] {
    min-height: 410px;
}
}
.about-block__image-wrapper[data-v-d811002e]::before {
  content: "";
  display: block;
  padding-top: 46%;
}
@media (min-width: 1200px) {
.about-block__image-wrapper:hover .about-block__image[data-v-d811002e] {
    transform: scale(1);
}
}
.about-block__image-cover[data-v-d811002e] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
}
.about-block__image[data-v-d811002e] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
}
.about-block__image img[data-v-d811002e] {
  position: absolute;
  top: -5vh;
  bottom: -5vh;
  width: 100%;
  height: calc(100% + 10vh);
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
.about-block__image img[data-v-d811002e] {
    min-height: 350px;
}
}
.about-block__link[data-v-d811002e] {
  position: absolute;
  top: 50px;
  right: calc(50px + 100px);
  font-family: AngleciaProDisplay, sans-serif;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.2;
  color: #FFFFFF;
  z-index: 1;
}
@media (max-width: 1199px) {
.about-block__link[data-v-d811002e] {
    right: 150px;
    font-size: 40px;
}
}
@media (max-width: 767px) {
.about-block__link[data-v-d811002e] {
    font-size: 30px;
    right: auto;
    left: calc(30px + 50px);
}
}
@media only screen and (min-width: 1580px) {
.about-block__link[data-v-d811002e] {
    right: calc(200px + 100px);
}
}
.about-block__link[data-v-d811002e]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #FFFFFF;
}
.about-block__content[data-v-d811002e] {
  position: relative;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
@media (max-width: 767px) {
.about-block__content[data-v-d811002e] {
    grid-template-columns: 50px auto;
}
}
.about-block__content .rel[data-v-d811002e] {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}
@media (max-width: 767px) {
.about-block__content .rel[data-v-d811002e] {
    display: none;
}
}
.about-block__content .element[data-v-d811002e] {
  position: absolute;
  /* left: -$padding-l-xl; */
  left: 0;
  bottom: 0;
}
@media (max-width: 767px) {
.about-block__content .element[data-v-d811002e] {
    display: none;
}
}
.about-block__title[data-v-d811002e] {
  grid-column: 2;
  margin-top: -75px;
}
@media (max-width: 1199px) {
.about-block__title[data-v-d811002e] {
    margin-top: -45px;
}
}
@media (max-width: 767px) {
.about-block__title[data-v-d811002e] {
    margin-top: -25px;
    margin-bottom: 20px;
}
}
.about-block__text[data-v-d811002e] {
  grid-column: 3;
  grid-row: 2;
}
@media (max-width: 767px) {
.about-block__text[data-v-d811002e] {
    grid-column: 2;
}
}/* responsive */
.projects-block__wrapper[data-v-cfffd1e4] {
  position: relative;
}
.projects-block__wrapper .slogan[data-v-cfffd1e4] {
  position: absolute;
  right: 50px;
  bottom: 0;
}
@media (max-width: 767px) {
.projects-block__wrapper .slogan[data-v-cfffd1e4] {
    right: 30px;
}
}
@media only screen and (min-width: 1580px) {
.projects-block__wrapper .slogan[data-v-cfffd1e4] {
    right: 200px;
}
}
.projects-block__title[data-v-cfffd1e4] {
  width: 60%;
  margin-bottom: 70px;
}
.projects-block__slider[data-v-cfffd1e4] {
  margin-bottom: 70px;
  padding-left: 50px;
}
@media (max-width: 767px) {
.projects-block__slider[data-v-cfffd1e4] {
    padding-left: 30px;
    padding-right: 30px;
}
}
@media only screen and (min-width: 1580px) {
.projects-block__slider[data-v-cfffd1e4] {
    padding-left: 200px;
}
}
.projects-block__link[data-v-cfffd1e4] {
  text-align: center;
}
.project-tile[data-v-cfffd1e4] {
  width: 100%;
  max-width: 56.25vw;
  /*margin: 0 25px;*/
  margin: 0 20px;
  padding: 0 5px;
  transition: padding 0.3s;
}
@media (max-width: 1199px) {
.project-tile[data-v-cfffd1e4] {
    margin: 0 10px;
    max-width: 54.6875vw;
}
}
@media (max-width: 767px) {
.project-tile[data-v-cfffd1e4] {
    max-width: none;
    margin: 0 0 40px;
    padding: 0;
}
}
.sliding .project-tile[data-v-cfffd1e4] {
  padding: 0;
}
.project-tile__inner[data-v-cfffd1e4] {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid #000000;
  transition: max-width 0.6s ease-out;
  will-change: max-width;
}
@media (min-width: 1200px) {
.project-tile__inner[data-v-cfffd1e4] {
    max-width: calc(43.75vw - 111px);
}
}
@media only screen and (min-width: 1580px) {
.project-tile__inner[data-v-cfffd1e4] {
    max-width: calc(43.75vw - 256px);
}
}
@media (max-width: 1199px) {
.project-tile__inner[data-v-cfffd1e4] {
    max-width: calc(45.3125vw - 75px);
    padding-top: 20px;
}
}
@media (max-width: 767px) {
.project-tile__inner[data-v-cfffd1e4] {
    max-width: 100%;
}
}
.project-tile.slick-active .project-tile__inner[data-v-cfffd1e4] {
  max-width: 100%;
}
.project-tile[data-v-cfffd1e4], .project-tile a[data-v-cfffd1e4]:focus {
  outline: 0;
}
.project-tile__count[data-v-cfffd1e4] {
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
.project-tile__count[data-v-cfffd1e4] {
    font-size: 14px;
}
}
.project-tile__description[data-v-cfffd1e4] {
  width: 340px;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
.project-tile__description[data-v-cfffd1e4] {
    width: 80%;
    font-size: 14px;
}
}
@media (max-width: 767px) {
.project-tile__description[data-v-cfffd1e4] {
    font-size: 13px;
}
}
.project-tile__title[data-v-cfffd1e4] {
  display: block;
  width: 340px;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
.project-tile__title[data-v-cfffd1e4] {
    width: 240px;
    margin-bottom: 40px;
}
}
@media (max-width: 767px) {
.project-tile__title[data-v-cfffd1e4] {
    width: 60%;
}
}
.project-tile__image[data-v-cfffd1e4] {
  display: block;
  overflow: hidden;
}
.project-tile__image-inner[data-v-cfffd1e4] {
  position: relative;
  width: 100%;
  height: 100%;
}
.project-tile__image img[data-v-cfffd1e4] {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  /*will-change: transform;*/
  /*transform: scale(1);*/
  /*transform-style: preserve-3d;*/
  /*transition: all .4s ease-in-out;*/
}
.project-tile:hover .project-tile__image img[data-v-cfffd1e4] {
  /*transform: scale(1.25);*/
}/* responsive */
.a-image[data-v-6cdaaf67] {
  position: relative;
  overflow: hidden;
}
.a-image__overlay[data-v-6cdaaf67] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  transform: translateY(0);
  background: #EBEBE8;
  z-index: 1;
}
.a-image__wrap[data-v-6cdaaf67] {
  width: 100%;
  height: 100%;
}
.a-image__wrap div[data-v-6cdaaf67] {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.a-image img[data-v-6cdaaf67] {
  width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
.s-entry .a-image img[data-v-6cdaaf67] {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}/* responsive */
.a-entry[data-v-dcdb9430] {
  padding-top: 60px;
  padding-bottom: 150px;
}
@media (max-width: 1199px) {
.a-entry[data-v-dcdb9430] {
    padding-top: 74px;
}
}
@media (max-width: 767px) {
.a-entry[data-v-dcdb9430] {
    padding-top: 0;
    padding-bottom: 100px;
}
}
.a-entry__container[data-v-dcdb9430] {
  position: relative;
}
@media (max-width: 767px) {
.a-entry__container[data-v-dcdb9430] {
    padding-top: 108px;
}
}
.a-entry__link[data-v-dcdb9430] {
  position: absolute;
  top: 0;
  transform: translate(0, -48%);
  display: flex;
  width: 308px;
  height: 308px;
  padding: 60px;
  font-family: Trirong, sans-serif;
  font-weight: normal;
  line-height: normal;
  color: #555555;
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 1199px) {
.a-entry__link[data-v-dcdb9430] {
    width: 168px;
    height: 168px;
    padding: 33px;
    font-size: 14px;
}
}
@media (max-width: 767px) {
.a-entry__link[data-v-dcdb9430] {
    width: 160px;
    height: 160px;
    padding: 16px 0 0 57px;
    transform: translate(0, 0);
}
}
.a-entry__link-wrapper[data-v-dcdb9430] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  opacity: 0;
}
@media (max-width: 767px) {
.a-entry__link-wrapper[data-v-dcdb9430] {
    justify-content: flex-start;
}
}
.a-entry__link-circle[data-v-dcdb9430] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.a-entry__link-circle svg[data-v-dcdb9430] {
  width: 100% !important;
  height: 100% !important;
}
.a-entry__link-text[data-v-dcdb9430] {
  margin: 24px 0;
}
@media (max-width: 1199px) {
.a-entry__link-text[data-v-dcdb9430] {
    margin: 5px 0;
}
}
.a-entry__link:hover .a-entry__link-text[data-v-dcdb9430] {
  text-decoration: underline;
}
.a-entry__img[data-v-dcdb9430] {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 82.75862%;
  margin-left: auto;
  /* &:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(0deg, rgba(235, 235, 232, 0.9) -30.64%, rgba(196, 196, 196, 0) 35.85%);
   } */
}
@media (max-width: 1199px) {
.a-entry__img[data-v-dcdb9430] {
    max-width: 82.33533%;
}
}
@media (max-width: 767px) {
.a-entry__img[data-v-dcdb9430] {
    margin-right: -30px;
    /*max-width: 100%;*/
    height: 172px;
}
}
.a-entry__img img[data-v-dcdb9430] {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
.a-entry__img img[data-v-dcdb9430] {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}
.a-entry__header[data-v-dcdb9430] {
  position: relative;
  margin-top: -90px;
  margin-bottom: 70px;
  z-index: 2;
}
@media (max-width: 1199px) {
.a-entry__header[data-v-dcdb9430] {
    margin-top: -50px;
}
}
@media (max-width: 767px) {
.a-entry__header[data-v-dcdb9430] {
    margin-top: -32px;
    margin-bottom: 50px;
}
}
.a-entry__title[data-v-dcdb9430] {
  margin: 0;
}
.a-entry__slogan[data-v-dcdb9430] {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1199px) {
.a-entry__slogan[data-v-dcdb9430] {
    bottom: 10px;
}
}
@media (max-width: 767px) {
.a-entry__slogan[data-v-dcdb9430] {
    display: none;
}
}
.a-entry__content[data-v-dcdb9430] {
  margin-bottom: 100px;
  padding-right: 100px;
}
@media (max-width: 1199px) {
.a-entry__content[data-v-dcdb9430] {
    padding-right: 0;
}
}
@media (max-width: 767px) {
.a-entry__content[data-v-dcdb9430] {
    margin-bottom: 70px;
}
}
@media (max-width: 767px) {
.a-entry__content-col[data-v-dcdb9430]:first-child {
    margin-bottom: 40px;
}
}
.a-entry__text[data-v-dcdb9430] {
  /*max-width: 380px;*/
}
.a-entry__action[data-v-dcdb9430] {
  padding-right: 100px;
}
@media (max-width: 1199px) {
.a-entry__action[data-v-dcdb9430] {
    padding-right: 0;
}
}
.a-entry__action-col[data-v-dcdb9430] {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
.a-entry__action-col[data-v-dcdb9430]:first-child {
    margin-bottom: 30px;
}
}
.a-entry__row[data-v-dcdb9430] {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
}
@media (max-width: 1199px) {
.a-entry__row[data-v-dcdb9430] {
    margin: 0 -35px;
}
}
@media (max-width: 767px) {
.a-entry__row[data-v-dcdb9430] {
    margin: 0 -30px;
}
}
.a-entry__col[data-v-dcdb9430] {
  flex: 0 0 44.444444%;
  padding: 0 50px;
}
@media (max-width: 1199px) {
.a-entry__col[data-v-dcdb9430] {
    flex: 0 0 50%;
    padding: 0 35px;
}
}
@media (max-width: 767px) {
.a-entry__col[data-v-dcdb9430] {
    flex: 0 0 100%;
    padding: 0 30px;
}
}/* responsive */
@media (max-width: 767px) {
.a-team[data-v-58b4f252] {
    padding-bottom: 63px;
}
}
.a-team__row[data-v-58b4f252] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -25px;
}
@media (max-width: 1199px) {
.a-team__row[data-v-58b4f252] {
    margin: 0 -8px;
}
}
@media (max-width: 767px) {
.a-team__row[data-v-58b4f252] {
    margin: 0;
}
}
.a-team__person[data-v-58b4f252] {
  flex: 0 0 33.333333%;
  padding: 0 25px;
}
@media (max-width: 1199px) {
.a-team__person[data-v-58b4f252] {
    padding: 0 8px;
}
}
@media (max-width: 767px) {
.a-team__person[data-v-58b4f252] {
    flex: 0 0 100%;
    padding: 0;
}
}
@media (max-width: 767px) {
.a-team__person[data-v-58b4f252]:not(:first-child) {
    margin-top: 70px;
}
}
@media only screen and (min-width: 768px) {
.a-team__person:nth-of-type(3) ~ .a-team__person[data-v-58b4f252] {
    margin-top: 70px;
}
}
.a-team__person:hover img[data-v-58b4f252] {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.a-team__person-img[data-v-58b4f252] {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
.a-team__person-img[data-v-58b4f252] {
    height: calc(100vw - 55px);
}
}
.a-team__person-img img[data-v-58b4f252] {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  /*transform: translate(0, 5%) scale(1, 1.05);*/
  /*transform-origin: 50% 0;*/
  /*opacity: 0;*/
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
@media (max-width: 767px) {
.a-team__person-img img[data-v-58b4f252] {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}
.a-team__person-name[data-v-58b4f252] {
  margin: 50px 0 30px;
}
@media (max-width: 767px) {
.a-team__person-name[data-v-58b4f252] {
    margin: 50px 0 20px;
}
}/* responsive */
.a-help__hide[data-v-080701bb] {
  height: 205px;
}
@media (max-width: 767px) {
.a-help__hide[data-v-080701bb] {
    height: 100px;
}
}
.a-help__container[data-v-080701bb] {
  display: flex;
  justify-content: flex-end;
  /*padding-top: 205px;*/
  /*padding-top: 105px;*/
  padding-bottom: 205px;
}
@media (max-width: 767px) {
.a-help__container[data-v-080701bb] {
    /*padding-top: 50px;*/
    /*padding-top: 0;*/
    padding-bottom: 50px;
}
}
.a-help__content[data-v-080701bb] {
  width: 100%;
  max-width: calc(66.66666% - 20px);
  margin-left: auto;
}
@media (max-width: 1199px) {
.a-help__content[data-v-080701bb] {
    max-width: calc(66.66666% - 8px);
}
}
@media (max-width: 767px) {
.a-help__content[data-v-080701bb] {
    max-width: 100%;
    padding-left: 27px;
    font-size: 25px;
    line-height: 1.4;
}
}
.a-help__label[data-v-080701bb] {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.active-help .a-help__label.c-primary[data-v-080701bb] {
  color: #FFFFFF;
}
.a-help__text.heading-block[data-v-080701bb] {
  font-weight: 300;
}
.active-help .a-help__text.heading-block[data-v-080701bb] {
  color: #FFFFFF;
}
.a-help__img[data-v-080701bb] {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
@media (max-width: 767px) {
.a-help__img[data-v-080701bb] {
    height: 500px;
}
}
.a-help__img[data-v-080701bb]::before {
  background: #3C3E42;
}
.a-help__img div[data-v-080701bb] {
  width: 100%;
  height: 100%;
}
.a-help__img img[data-v-080701bb] {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
.a-help__img img[data-v-080701bb] {
    max-width: none;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}/* responsive */
.a-awards__title[data-v-30163130] {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
.a-awards__title[data-v-30163130] {
    margin-bottom: 20px;
}
}
.a-awards__item[data-v-30163130] {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid #312A28;
}
.a-awards__item-name[data-v-30163130] {
  margin-right: 50px;
}
@media (max-width: 767px) {
.a-awards__item-name[data-v-30163130] {
    margin-right: 16px;
}
}
.a-awards__item-image[data-v-30163130] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) scale(0.4);
  opacity: 0;
  width: 50%;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
.a-awards__item-date[data-v-30163130] {
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.5;
}
@media (max-width: 1199px) {
.a-awards__item-date[data-v-30163130] {
    font-size: 20px;
}
}
@media (max-width: 767px) {
.a-awards__item-date[data-v-30163130] {
    margin-left: auto;
    font-size: 16px;
    line-height: 1.87;
}
}
.a-awards__item:hover .a-awards__item-image[data-v-30163130] {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  transform: translateY(-50%) scale(1);
}/* responsive */
.works {
  padding: 70px 0 150px;
}
@media (max-width: 1199px) {
.works {
    padding: 80px 0 150px;
}
}
@media (max-width: 767px) {
.works {
    padding: 0 0 100px;
}
}
.works .container {
  padding-right: 0;
}
@media (max-width: 1199px) {
.works .container {
    padding-right: 0;
}
}
.works__items {
  position: relative;
  padding: 0 0 70px;
}
@media (min-width: 1200px) {
.works__items-info {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 350px);
    pointer-events: none;
    transform-style: flat;
    /*top: 0;*/
    left: 0;
    padding: 0 0 50px 50px;
    z-index: 1;
}
}
@media only screen and (min-width: 1580px) {
.works__items-info {
    padding: 0 0 50px 200px;
}
}
.works__items-info .works__item-title {
  grid-row: 2;
}
.works__item {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
.works__item {
    height: 100vh;
}
}
.works__item:not(:last-child) {
  margin-bottom: 50px;
}
.works__item-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}
@media (min-width: 1200px) {
.works__item-wrapper {
    height: 100%;
}
}
.works__item-num {
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: #312A28;
}
@media (max-width: 1199px) {
.works__item-num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    line-height: 1.33;
}
}
@media (max-width: 767px) {
.works__item-num {
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    line-height: 1.54;
}
}
.works__item-title {
  z-index: 1;
  max-width: 60%;
  line-height: 1;
}
@media (max-width: 1199px) {
.works__item-title {
    max-width: 50%;
    position: absolute;
    left: 0;
    bottom: 50px;
}
}
@media (max-width: 767px) {
.works__item-title {
    bottom: 90px;
}
}
.works__item-box {
  position: absolute;
  width: 20%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  pointer-events: none;
  opacity: 0;
}
.works__item-image {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 79.66102%;
  margin-left: auto;
}
@media (max-width: 1199px) {
.works__item-image {
    max-width: 80.77994%;
}
}
@media (max-width: 767px) {
.works__item-image {
    max-width: 75.86207%;
    min-height: 500px;
}
}
.works__item-image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(235, 235, 232, 0.9) -30.64%, rgba(196, 196, 196, 0) 35.85%);
}
.works__item-image img {
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
.works__item-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}
@media (max-width: 767px) {
.works__item-image img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
}
.works__item-label {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  color: #FFFFFF;
  z-index: 1;
  max-width: 20%;
}
@media (max-width: 1199px) {
.works__item-label {
    max-width: 140px;
}
}
@media (max-width: 767px) {
.works__item-label {
    right: 30px;
    bottom: 20px;
    /*max-width: 120px;*/
    font-family: OpenSans, sans-serif;
    font-size: 13px;
    line-height: 1.54;
}
}
.works__more {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
@media (max-width: 1199px) {
.works__more {
    padding-right: 50px;
}
}
@media (max-width: 767px) {
.works__more {
    padding-right: 30px;
}
}
@media only screen and (min-width: 1580px) {
.works__more {
    padding-right: 200px;
}
}/* responsive */
.w-entry {
  padding: 50px 0 150px;
}
@media (max-width: 767px) {
.w-entry {
    padding: 0 0 100px;
}
}
.w-entry__img {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
.w-entry__img {
    margin: 0 -30px;
}
}
.w-entry__img img {
  width: 100%;
  height: auto;
}
.w-entry__header {
  position: relative;
  margin: -80px 0 100px;
  padding-left: 100px;
}
@media (max-width: 1199px) {
.w-entry__header {
    margin: -45px 0 70px;
    padding-left: 50px;
}
}
@media (max-width: 767px) {
.w-entry__header {
    margin: -29px 0 50px;
    padding-left: 0;
}
}
.w-entry__slogan {
  position: absolute;
  right: 0;
  top: 180px;
  text-align: right;
}
@media (max-width: 1199px) {
.w-entry__slogan {
    top: 80px;
}
}
@media (max-width: 767px) {
.w-entry__slogan {
    display: none;
}
}
.w-entry__content {
  padding: 0;
}
.w-entry__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media only screen and (min-width: 1580px) {
.w-entry__row {
    margin: 0 -200px;
}
}
@media (max-width: 1579px) {
.w-entry__row {
    margin: 0 -50px;
}
}
@media (max-width: 767px) {
.w-entry__row {
    margin: 0 -30px;
}
}
.w-entry__col {
  flex: 0 0 43.359375%;
  max-width: 43.359375%;
}
@media (max-width: 1199px) {
.w-entry__col {
    flex: 0 0 43.619792%;
    max-width: 43.619792%;
}
}
@media (max-width: 767px) {
.w-entry__col {
    flex: 0 0 100%;
    max-width: 100%;
}
}
.w-entry__col:first-child {
  padding-right: 55px;
}
@media only screen and (min-width: 1580px) {
.w-entry__col:first-child {
    padding-left: 270px;
}
}
@media (max-width: 1579px) {
.w-entry__col:first-child {
    padding-left: 120px;
}
}
@media (max-width: 1199px) {
.w-entry__col:first-child {
    padding-right: 10px;
    padding-left: 70px;
}
}
@media (max-width: 767px) {
.w-entry__col:first-child {
    padding: 0 30px;
}
}
.w-entry__col:last-child {
  padding-left: 25px;
}
@media only screen and (min-width: 1580px) {
.w-entry__col:last-child {
    padding-right: 300px;
}
}
@media (max-width: 1579px) {
.w-entry__col:last-child {
    padding-right: 150px;
}
}
@media (max-width: 1199px) {
.w-entry__col:last-child {
    padding-left: 30px;
    padding-right: 50px;
}
}
@media (max-width: 767px) {
.w-entry__col:last-child {
    padding: 0 30px;
}
}
@media (max-width: 767px) {
.w-entry__col:not(:last-child) {
    margin-bottom: 40px;
}
}/* responsive */
.w-section {
  /*overflow: hidden;*/
}
.w-section:not(:last-child) {
  padding-bottom: 150px;
}
@media (max-width: 767px) {
.w-section:not(:last-child) {
    padding-bottom: 100px;
}
}
.w-section img {
  width: 100%;
  height: auto;
}
.w-section__title {
  position: relative;
  margin-bottom: -50px;
  padding-left: 300px;
  z-index: 2;
}
@media (max-width: 1579px) {
.w-section__title {
    padding-left: 150px;
}
}
@media (max-width: 1199px) {
.w-section__title {
    margin-bottom: -31px;
    padding-left: 100px;
}
}
@media (max-width: 767px) {
.w-section__title {
    margin-bottom: -16px;
    padding-left: 30px;
}
}
.w-section__content {
  display: flex;
  justify-content: flex-end;
  padding: 50px 0 100px;
}
@media (max-width: 767px) {
.w-section--simple .w-section__content {
    justify-content: flex-start;
}
}
.w-section__content-wrapper {
  flex: 0 0 43.359375%;
  width: 100%;
  max-width: 43.359375%;
  padding-left: 25px;
}
@media only screen and (min-width: 1580px) {
.w-section__content-wrapper {
    padding-right: 300px;
}
}
@media (max-width: 1579px) {
.w-section__content-wrapper {
    padding-right: 150px;
}
}
@media (max-width: 1199px) {
.w-section__content-wrapper {
    flex: 0 0 43.619792%;
    max-width: 43.619792%;
    padding-left: 10px;
    padding-right: 50px;
}
}
@media (max-width: 767px) {
.w-section__content-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (max-width: 767px) {
.w-section--simple .w-section__content-wrapper {
    padding: 0 100px 0 30px;
}
}
@media (max-width: 1199px) {
.w-section--full .w-section__content-wrapper {
    padding-right: 120px;
}
}
@media (max-width: 767px) {
.w-section--full .w-section__content-wrapper {
    padding: 0 47px 0 110px;
}
}
.w-section__subtitle {
  margin: 0 0 30px;
}
.w-section__text {
  transition: all 1s;
}
@media only screen and (min-width: 768px) {
.w-section__subtitle ~ .w-section__text {
    margin-bottom: 50px;
}
}
.w-section__text:hover {
  line-height: 2;
}
.w-section__image {
  display: flex;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
.w-section--simple .w-section__image {
    padding: 0 50px;
}
}
@media only screen and (min-width: 1580px) {
.w-section--simple .w-section__image {
    padding: 0 200px;
}
}
@media only screen and (min-width: 768px) {
.w-section--full .w-section__image {
    padding-right: 120px;
}
}
@media only screen and (min-width: 1200px) {
.w-section--full .w-section__image {
    padding-right: 150px;
}
}
@media only screen and (min-width: 1580px) {
.w-section--full .w-section__image {
    padding-right: 300px;
}
}
@media (max-width: 767px) {
.w-section--full .w-section__image {
    padding-right: 47px;
}
}
@media (max-width: 767px) {
.w-section__images-col {
    min-height: 400px;
}
}
.w-section__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.w-section__img {
  width: 100%;
  height: 100%;
}
.w-section__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.w-section__col {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.w-section__col:first-child {
  flex: 0 0 56.640625%;
  max-width: 56.640625%;
  padding-right: 25px;
}
@media (max-width: 1199px) {
.w-section__col:first-child {
    flex: 0 0 56.380208%;
    max-width: 56.380208%;
    padding-right: 10px;
}
}
@media (max-width: 767px) {
.w-section__col:first-child {
    flex: 0 0 56.5625%;
    max-width: 56.5625%;
    padding-right: 5px;
}
}
@media only screen and (min-width: 1580px) {
.w-section--simple .w-section__col:first-child {
    padding-left: 200px;
}
}
@media (max-width: 1579px) {
.w-section--simple .w-section__col:first-child {
    padding-left: 50px;
}
}
@media (max-width: 767px) {
.w-section--simple .w-section__col:first-child {
    flex: 0 0 54.6875%;
    max-width: 54.6875%;
    padding-left: 0;
}
}
.w-section__col:last-child {
  flex: 0 0 43.359375%;
  max-width: 43.359375%;
  padding-left: 25px;
}
@media (max-width: 1199px) {
.w-section__col:last-child {
    flex: 0 0 43.619792%;
    max-width: 43.619792%;
    padding-left: 10px;
}
}
@media (max-width: 767px) {
.w-section__col:last-child {
    flex: 0 0 43.4375%;
    max-width: 43.4375%;
    padding-left: 5px;
}
}
@media only screen and (min-width: 1580px) {
.w-section--simple .w-section__col:last-child {
    padding-right: 200px;
}
}
@media (max-width: 1579px) {
.w-section--simple .w-section__col:last-child {
    padding-right: 50px;
}
}
@media (max-width: 767px) {
.w-section--simple .w-section__col:last-child {
    flex: 0 0 45.3125%;
    max-width: 45.3125%;
    padding-right: 0;
}
}/* responsive */
.w-nav {
  padding: 150px 0;
  overflow: hidden;
  min-height: 800px;
  display: flex;
  align-items: center;
}
@media (max-width: 1579px) {
.w-nav {
    padding: 150px 0;
}
}
@media (max-width: 767px) {
.w-nav {
    padding: 100px 0;
}
}
.w-nav__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.w-nav__words {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 2;
}
.w-nav__words-group {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}
.w-nav__word {
  will-change: transform;
}
.w-nav__circle {
  position: absolute;
  width: 679px;
  height: 679px;
  display: flex;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1199px) {
.w-nav__circle {
    width: 531px;
    height: 531px;
}
}
@media (max-width: 767px) {
.w-nav__circle {
    width: 100vw;
    height: 100vw;
}
}
.w-nav__circle svg,
.w-nav__circle .svg-circle {
  width: 100% !important;
  height: 100% !important;
}
.w-nav__image {
  position: relative;
  display: flex;
  align-items: flex-start;
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
.w-nav__image {
    max-width: 390px;
}
}
@media (max-width: 767px) {
.w-nav__image {
    max-width: 100%;
    padding: 0 47px;
}
}
.w-nav__image img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.w-nav__title {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
.w-nav__title {
    padding: 0 47px;
}
}/* responsive */
.s-entry[data-v-407b089a] {
  padding-top: 50px;
}
.s-entry__image[data-v-407b089a] {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
.s-entry__image[data-v-407b089a] {
    margin-left: -50px;
    margin-right: -50px;
}
}
@media (max-width: 767px) {
.s-entry__image[data-v-407b089a] {
    margin: -30px;
}
}
.s-entry__image[data-v-407b089a]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(10.2deg, rgba(235, 235, 232, 0.9) -14.66%, rgba(196, 196, 196, 0) 41.5%);
}
.s-entry__head[data-v-407b089a] {
  position: relative;
  margin-top: -70px;
  margin-bottom: 70px;
  z-index: 2;
}
@media (max-width: 767px) {
.s-entry__head[data-v-407b089a] {
    margin-top: -30px;
}
}
.s-entry__title[data-v-407b089a] {
  margin: 0;
}
.s-entry .slogan[data-v-407b089a] {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
.s-entry .slogan[data-v-407b089a] {
    display: none;
}
}/* responsive */
.s-list[data-v-472d7d26] {
  padding-bottom: 100px;
}
@media (max-width: 1199px) {
.s-list__items[data-v-472d7d26] {
    padding-left: 0;
    padding-right: 0;
}
}
.s-list__item[data-v-472d7d26] {
  margin-bottom: 50px;
}
.service-item[data-v-472d7d26] {
  display: grid;
  grid-template-columns: 62.5% 37.5%;
  align-items: flex-start;
}
@media (max-width: 767px) {
.service-item[data-v-472d7d26] {
    grid-template-columns: 100%;
}
}
.service-item__count[data-v-472d7d26] {
  grid-column: 1/3;
  font-family: Trirong, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
.service-item__count[data-v-472d7d26] {
    grid-column: 1;
}
}
.service-item__title[data-v-472d7d26] {
  grid-column: 1;
  margin-bottom: 30px;
}
.service-item__categories[data-v-472d7d26] {
  grid-column: 1;
  margin-bottom: 50px;
}
.service-item__categories span[data-v-472d7d26] {
  display: inline-block;
  position: relative;
  font-family: AngleciaProDisplay, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-right: 4px;
  line-height: 40px;
  color: #A97856;
}
.service-item__categories span[data-v-472d7d26]::after {
  content: " /";
}
.service-item__categories span[data-v-472d7d26]:last-of-type::after {
  display: none;
}
.service-item__description[data-v-472d7d26] {
  grid-column: 2;
  grid-row: 2/5;
}
@media (max-width: 767px) {
.service-item__description[data-v-472d7d26] {
    grid-column: 1;
    grid-row: auto;
}
}/* responsive */
.status[data-v-540ff01f] {
  padding: 10px;
}
.status .red[data-v-540ff01f] {
  color: red;
}
.status .green[data-v-540ff01f] {
  color: #3daa44;
}
.contacts[data-v-540ff01f] {
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto;
}
@media (max-width: 1199px) {
.contacts[data-v-540ff01f] {
    grid-template-columns: 1fr 1fr;
}
}
.contacts__data[data-v-540ff01f] {
  padding-top: 50px;
  grid-column: 1;
  grid-row: 1;
}
@media (max-width: 767px) {
.contacts__data[data-v-540ff01f] {
    grid-column: 1/3;
}
}
.contacts__item[data-v-540ff01f] {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 2fr;
}
.contacts__item .upper[data-v-540ff01f] {
  display: inline-block;
  white-space: nowrap;
  /*margin-right: 20px;*/
  width: 100px;
}
.contacts .slogan[data-v-540ff01f] {
  grid-column: 1;
  grid-row: 2;
  align-self: flex-end;
}
@media (max-width: 1199px) {
.contacts .slogan[data-v-540ff01f] {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
}
}
@media (max-width: 767px) {
.contacts .slogan[data-v-540ff01f] {
    display: none;
}
}
.contacts__form[data-v-540ff01f] {
  position: relative;
  grid-column: 3;
  grid-row: 1/3;
  z-index: 1;
}
@media (max-width: 1199px) {
.contacts__form[data-v-540ff01f] {
    grid-column: 1/3;
    grid-row: 2;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 88px;
}
}
@media (max-width: 767px) {
.contacts__form[data-v-540ff01f] {
    padding-left: 0;
    padding-right: 0;
}
}
.contacts__circle[data-v-540ff01f] {
  position: fixed;
  top: 0;
  left: 75%;
  transform: translate(calc(-50% - 100px), 0);
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vh;
  z-index: -1;
}
@media (max-width: 1199px) {
.contacts__circle[data-v-540ff01f] {
    transform: translate(calc(-50% - 260px), 0);
    width: 80vh;
}
}
@media (max-width: 767px) {
.contacts__circle[data-v-540ff01f] {
    transform: translate(calc(-50% - 310px), 0);
    width: 100vh;
}
}
.contacts__circle svg[data-v-540ff01f],
.contacts__circle .svg-circle[data-v-540ff01f] {
  width: 100% !important;
  height: 100% !important;
}
.contacts .contacts-form[data-v-540ff01f] {
  /* padding-top: $p-block-md; */
  padding-top: 20px;
}
.contacts .contacts-form__group[data-v-540ff01f] {
  position: relative;
  margin-bottom: 10px;
}
.contacts .contacts-form__input[data-v-540ff01f] {
  width: 100%;
  padding: 20px 0;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #312A28;
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #312A28;
}
.contacts .contacts-form__input[data-v-540ff01f]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #312A28;
}
.contacts .contacts-form__input[data-v-540ff01f]::-moz-placeholder {
  /* Firefox 19+ */
  color: #312A28;
}
.contacts .contacts-form__input[data-v-540ff01f]:-ms-input-placeholder {
  /* IE 10+ */
  color: #312A28;
}
.contacts .contacts-form__input[data-v-540ff01f]:-moz-placeholder {
  /* Firefox 18- */
  color: #312A28;
}
.contacts .contacts-form__label[data-v-540ff01f] {
  position: absolute;
  left: 0;
  top: 20px;
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #312A28;
}
.contacts .contacts-form__btn[data-v-540ff01f] {
  padding-top: 30px;
  text-align: right;
}
.contacts .contacts-form__btn .btn[data-v-540ff01f] {
  opacity: 0.8;
}
.contacts .contacts-form__btn .btn.active-btn[data-v-540ff01f] {
  opacity: 1;
}/* responsive */
.error-page[data-v-16a6c328] {
  position: relative;
  padding-top: 100px;
  /*<!--padding-bottom: $p-block-xl;-->*/
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 1199px) {
.error-page[data-v-16a6c328] {
    display: block;
}
}
.error-page__wrap[data-v-16a6c328] {
  position: relative;
  grid-column: 2;
  z-index: 1;
}
@media (max-width: 1199px) {
.error-page__wrap[data-v-16a6c328] {
    padding-left: 50px;
    padding-right: 88px;
}
}
@media (max-width: 767px) {
.error-page__wrap[data-v-16a6c328] {
    padding: 0;
}
}
.error-page__title[data-v-16a6c328] {
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
.error-page__title[data-v-16a6c328] {
    margin-bottom: 30px;
}
}
@media (max-width: 767px) {
.error-page__title[data-v-16a6c328] {
    margin-bottom: 20px;
}
}
.error-page__txt[data-v-16a6c328] {
  font-family: AngleciaProDisplay, sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
  color: #555555;
  margin-bottom: 50px;
}
.error-page__link[data-v-16a6c328] {
  text-align: right;
  margin-bottom: 14px;
}
.error-page .slogan[data-v-16a6c328] {
  position: absolute;
  left: 50px;
  bottom: 0;
}
@media (max-width: 1199px) {
.error-page .slogan[data-v-16a6c328] {
    left: auto;
    right: 50px;
    bottom: 50px;
}
}
@media (max-width: 767px) {
.error-page .slogan[data-v-16a6c328] {
    display: none;
}
}
@media only screen and (min-width: 1580px) {
.error-page .slogan[data-v-16a6c328] {
    left: 200px;
}
}
.error-page__circle[data-v-16a6c328] {
  position: fixed;
  top: 0;
  left: 75%;
  transform: translate(calc(-50% - 100px), 0);
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vh;
  z-index: -1;
}
@media (max-width: 1199px) {
.error-page__circle[data-v-16a6c328] {
    transform: translate(calc(-50% - 260px), 0);
    width: 80vh;
}
}
@media (max-width: 767px) {
.error-page__circle[data-v-16a6c328] {
    transform: translate(calc(-50% - 310px), 0);
    width: 100vh;
}
}
.error-page__circle svg[data-v-16a6c328],
.error-page__circle .svg-circle[data-v-16a6c328] {
  width: 100% !important;
  height: 100% !important;
}/* responsive */
@media (min-width: 1200px) {
.custom-cursor[data-v-cd4cea22] {
    stroke-width: 6;
    stroke: #FFFFFF;
    transition: stroke-width 0.3s;
}
.custom-cursor[data-v-cd4cea22]:not(.custom-cursor--1) {
    stroke-width: 6 !important;
    transition: stroke-width 0.5s;
}
.custom-cursor circle[data-v-cd4cea22] {
    r: 3;
    transition: r 0.3s;
}
}
@media (min-width: 1200px) {
.custom-cursor--1[data-v-cd4cea22] {
    stroke-width: 2;
}
.custom-cursor--1 circle[data-v-cd4cea22] {
    r: 30;
}
}
.custom-cursor--move circle[data-v-cd4cea22] {
  opacity: 0;
}
.custom-cursor--2[data-v-cd4cea22] {
  display: none;
  margin: 30px auto;
}
.custom-cursor--2 path[data-v-cd4cea22] {
  opacity: 0;
  transition: all 0.3s;
}
.custom-cursor__wrapper[data-v-cd4cea22] {
  display: none;
}
@media (min-width: 1200px) {
.custom-cursor__wrapper[data-v-cd4cea22] {
    display: block;
    position: fixed;
    z-index: 11002;
    will-change: left, top;
    transform: translateX(-50%) translateY(-50%);
    mix-blend-mode: difference;
    pointer-events: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s, background 0.3s;
}
}
@media (min-width: 1200px) {
.custom-cursor__wrapper.cursor-move[data-v-cd4cea22] {
    mix-blend-mode: normal;
}
}/*.hide {*/
/*  opacity: 0;*/
/*}*/
/*.hide {*/
/*  opacity: 0;*/
/*}*//* responsive */
.lang-switcher[data-v-59369a86] {
  position: relative;
}
.lang-switcher__el[data-v-59369a86] {
  display: block;
  padding: 0 6px;
  margin-bottom: 4px;
  font-family: Trirong, sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.lang-switcher__el a[data-v-59369a86] {
  color: #888888;
  transition: color 0.2s;
}
@media (max-width: 767px) {
.lang-switcher__el a[data-v-59369a86] {
    color: rgba(255, 255, 255, 0.6);
}
}
.lang-switcher__el:not(.lang-switcher__el--selected):hover a[data-v-59369a86] {
  color: #312A28;
}
@media (max-width: 767px) {
.lang-switcher__el:not(.lang-switcher__el--selected):hover a[data-v-59369a86] {
    color: #FFFFFF;
}
}
.lang-switcher__el--selected[data-v-59369a86] {
  display: flex;
  color: #555555;
}
@media (max-width: 767px) {
.lang-switcher__el--selected[data-v-59369a86] {
    color: #FFFFFF;
}
}
.lang-switcher__arrow[data-v-59369a86] {
  display: inline-block;
  margin-left: 4px;
  line-height: 18px;
}
.lang-switcher__arrow #arrow[data-v-59369a86] {
  fill: #312A28;
  transition: d 0.3s;
}
@media (max-width: 767px) {
.lang-switcher__arrow #arrow[data-v-59369a86] {
    fill: #FFFFFF;
}
}
.lang-switcher__arrow.active #arrow[data-v-59369a86] {
  d: path("M0 7L4 2.16667L8 7L4 0L0 7Z");
  transition: d 0.3s;
}
.lang-switcher__dropdown[data-v-59369a86] {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
}
.lang-switcher__dropdown.fade-enter-active[data-v-59369a86] {
  transition: all 0.3s ease;
}
.lang-switcher__dropdown.fade-leave-active[data-v-59369a86] {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.lang-switcher__dropdown.fade-enter[data-v-59369a86], .lang-switcher__dropdown.fade-leave-to[data-v-59369a86] {
  transform: translateX(10px);
  opacity: 0;
}/* responsive */
.header {
  position: relative;
  z-index: 100;
}
@media (max-width: 767px) {
.header {
    margin-bottom: 30px;
}
}
.header__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media (max-width: 767px) {
.header__wrapper {
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
}
.header__logo {
  padding-top: 50px;
  width: 110px;
  z-index: 11001;
}
@media (max-width: 767px) {
.header__logo {
    padding-top: 30px;
}
}
.header__logo a {
  display: block;
}
.header__logo img, .header__logo svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
.header__logo img, .header__logo svg {
    width: auto;
    /*height: 36px;*/
    height: 56px;
}
}
.header__logo path:not(.letter) {
  transition: all 0.3s;
}
.header--open .header__logo path:not(.letter) {
  fill: #FFFFFF;
}
.header--open .header__logo path:not(.letter).stroke {
  fill: #CECECE;
}
.header__menu {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto 1fr;
}
@media (max-width: 767px) {
.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    height: 100vh;
    grid-template-columns: 100%;
    /*grid-template-rows: auto min-content 0;*/
    grid-template-rows: 1fr auto;
    padding: 75px 30px 0;
    background: #3C3E42;
    z-index: 11000;
}
}
.header__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
}
.header__circle svg {
  width: 100vh;
}
.header__nav-btn {
  z-index: 11001;
}
@media (max-width: 767px) {
.header__nav-btn {
    justify-self: flex-end;
}
}
@media only screen and (min-width: 768px) {
.header__nav-btn {
    display: none;
}
}
.header__nav-btn svg {
  fill: #555555;
  transition: all 0.3s;
}
.header--open .header__nav-btn svg {
  fill: #FFFFFF;
}
.header__nav-btn .hide {
  opacity: 1;
  transition: all 0.3s;
}
.header--open .header__nav-btn .hide {
  opacity: 0;
}
.header .nav {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
.header .nav {
    grid-row: 1/3;
}
}
@media (max-width: 767px) {
.header .nav {
    grid-row: 1;
}
}
.header .nav .link {
  margin-bottom: 16px;
  color: #9A8E8B;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 767px) {
.header .nav .link {
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
}
.header .nav .link:last-of-type {
  margin-bottom: 0;
}
.header .nav .link:hover {
  color: #312A28;
  transition: color 0.3s ease-in-out;
}
.header .nav .link--current {
  color: #312A28;
}
@media (max-width: 767px) {
.header .nav .link--current {
    position: relative;
    padding-left: 24px;
    color: #A97856;
}
}
@media (max-width: 767px) {
.header .nav .link--current:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 7px;
    height: 7px;
    background-color: #A97856;
    border-radius: 50%;
    transform: translateY(-50%);
}
}
.header__languages {
  grid-column: 2;
  justify-self: flex-end;
}
@media (max-width: 767px) {
.header__languages {
    grid-column: auto;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}
}
.header__socials {
  grid-column: 2;
  justify-self: flex-end;
  align-self: flex-end;
}
@media (max-width: 767px) {
.header__socials {
    /*display: none; */
    grid-column: auto;
    justify-self: center;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 30px;
}
}
.header__socials .link {
  margin-top: 4px;
}
@media (max-width: 767px) {
.header__socials .link {
    margin: 0 20px;
    font-size: 14px;
    line-height: 22px;
    color: #EBEBE8;
}
}/* responsive */
#login[data-v-a731d92c] {
  height: 100%;
}
.form__input-container[data-v-a731d92c] {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
.form__input-container[data-v-a731d92c] {
    width: 100%;
}
}
.form__btn[data-v-a731d92c] {
  width: 100%;
  margin-bottom: 25px;
}
.form__restore-link[data-v-a731d92c] {
  cursor: pointer;
  color: #969696;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
.form .enter-social__title[data-v-a731d92c] {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}
.form .enter-social-container[data-v-a731d92c] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin: 0 auto 15px;
}
.form .enter-social__btn[data-v-a731d92c] {
  height: 40px;
  width: 163px;
  padding: 15px 30px 15px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .enter-social__btn svg[data-v-a731d92c] {
  width: 15px;
  margin-right: 10px;
}
@media (max-width: 767px) {
.form .enter-social__btn[data-v-a731d92c] {
    width: 140px;
}
}/* responsive */
.footer[data-v-0347f712] {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  /*min-height: 100vh;*/
  height: 100vh;
  background: #3C3E42;
  opacity: 0;
  visibility: hidden;
  transition: all 0.333s ease-in-out;
  /*<!--z-index: -2;-->*/
}
.footer--active[data-v-0347f712] {
  /*z-index: 2;*/
  opacity: 1;
  visibility: visible;
  transition: all 0.333s ease-in-out;
}
@media (max-width: 1199px) {
.footer .container[data-v-0347f712] {
    height: 100%;
}
}
.footer__wrapper[data-v-0347f712] {
  display: grid;
  grid-template-columns: 50% auto 1fr;
  padding-top: 100px;
}
@media (max-width: 1199px) {
.footer__wrapper[data-v-0347f712] {
    height: 100%;
}
}
@media (max-width: 767px) {
.footer__wrapper[data-v-0347f712] {
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-template-rows: auto 1fr auto;
}
}
.footer__contact-info[data-v-0347f712] {
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 100px;
  font-weight: 300;
}
@media (max-width: 767px) {
.footer__contact-info[data-v-0347f712] {
    padding-bottom: 0;
    grid-column: 1;
    grid-row: 3;
    padding-right: 12px;
}
}
.footer__menu[data-v-0347f712] {
  grid-column: 2;
  grid-row: 1;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
.footer__menu[data-v-0347f712] {
    /*padding-bottom: 80px;*/
    padding-bottom: 0;
    grid-column: 1/3;
    grid-row: 1;
}
}
.footer .nav[data-v-0347f712] {
  display: grid;
  margin-right: -60px;
  grid-template-columns: repeat(2, auto);
}
@media (max-width: 1199px) {
.footer .nav[data-v-0347f712] {
    margin-right: -34px;
}
}
@media (max-width: 767px) {
.footer .nav[data-v-0347f712] {
    margin-right: 0;
    display: inline-grid;
}
}
.footer .nav .link[data-v-0347f712] {
  margin-right: 60px;
  margin-bottom: 15px;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 1199px) {
.footer .nav .link[data-v-0347f712] {
    margin-right: 34px;
}
}
@media (max-width: 767px) {
.footer .nav .link[data-v-0347f712] {
    margin-right: 20px;
}
}
.footer .nav .link[data-v-0347f712]:nth-child(2) {
  grid-row: 2;
}
.footer .link[data-v-0347f712] {
  transition: opacity 0.3s ease-in-out;
}
.footer .link[data-v-0347f712]:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
.footer__socials[data-v-0347f712] {
  grid-column: 3;
  grid-row: 1;
  justify-self: flex-end;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
.footer__socials[data-v-0347f712] {
    padding-bottom: 0;
    grid-column: 2;
    grid-row: 3;
}
}
.footer__socials .link[data-v-0347f712] {
  margin-top: 4px;
}
@media (max-width: 767px) {
.footer__socials .link[data-v-0347f712] {
    margin-bottom: 4px;
    line-height: 21px;
}
}
.footer__contact-us[data-v-0347f712] {
  grid-column: 1/4;
  grid-row: 2;
  position: relative;
  padding-bottom: 100px;
  min-height: 346px;
}
@media (max-width: 767px) {
.footer__contact-us[data-v-0347f712] {
    /*padding-bottom: 80px;*/
    padding-bottom: 0;
    grid-column: 1/3;
    grid-row: 2;
    min-height: 140px;
}
}
.footer__contact-us .heading-section[data-v-0347f712] {
  max-width: 70%;
}
@media (max-width: 767px) {
.footer__contact-us .heading-section[data-v-0347f712] {
    max-width: 100%;
}
}
.footer__contact-us .slogan[data-v-0347f712] {
  position: absolute;
  bottom: calc(100px + 1em);
  right: 0;
  font-size: 14px;
  line-height: 30px;
  color: #9A9A9A;
}
@media (max-width: 767px) {
.footer__contact-us .slogan[data-v-0347f712] {
    display: none;
}
}/* responsive */
.preloader[data-v-6e98b05e] {
  z-index: 90000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #EBEBE8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader__content[data-v-6e98b05e] {
  font-family: AngleciaProDisplay, sans-serif;
  opacity: 1;
  transform: translateZ(0);
  font-size: 2vw;
  color: #312A28;
}/* responsive */
.pageloader[data-v-4ab2daaa] {
  z-index: 90000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pageloader__dark[data-v-4ab2daaa], .pageloader__white[data-v-4ab2daaa] {
  width: 100%;
  height: 100%;
}
.pageloader__dark[data-v-4ab2daaa] {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3C3E42;
  transform: translate(0, 100%);
}
.pageloader__white[data-v-4ab2daaa] {
  background: white;
  opacity: 0;
}/* responsive */
@media (min-width: 1200px) {
*, a {
    cursor: none !important;
}
}
p {
  /* These are technically the same, but use both */
  word-wrap: break-word;
  word-wrap: break-word;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
/*# sourceMappingURL=vue-front.css.map*/