.vue-content > div {
  display: -webkit-box;
  display: flex;
}
.full-height {
  /*min-*/
}.field-group[data-v-8fbb4ba6] {
  min-width: 25%;
}.small-col[data-v-29445a90] {
  max-width: 5%;
}
.flex-center[data-v-29445a90] {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.handle[data-v-29445a90] {
  cursor: pointer;
}
.row-number[data-v-29445a90] {
  min-width: 15px;
  margin-left: 5px;
}.preview-wrapper[data-v-7efbeb3e] {
  border-radius: 0.5em;
  background-color: #f1f0ef;
  padding: 15px;
  margin-bottom: 15px;
  line-height: 0;
  text-align: center;
}
.preview-wrapper img[data-v-7efbeb3e] {
  max-width: 100%;
  max-height: 400px;
}/* responsive */
#login[data-v-a731d92c] {
  height: 100%;
}
.form__input-container[data-v-a731d92c] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 350px;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
.form__input-container[data-v-a731d92c] {
    width: 100%;
}
}
.form__btn[data-v-a731d92c] {
  width: 100%;
  margin-bottom: 25px;
}
.form__restore-link[data-v-a731d92c] {
  cursor: pointer;
  color: #969696;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
.form .enter-social__title[data-v-a731d92c] {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}
.form .enter-social-container[data-v-a731d92c] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 350px;
  margin: 0 auto 15px;
}
.form .enter-social__btn[data-v-a731d92c] {
  height: 40px;
  width: 163px;
  padding: 15px 30px 15px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.form .enter-social__btn svg[data-v-a731d92c] {
  width: 15px;
  margin-right: 10px;
}
@media (max-width: 767px) {
.form .enter-social__btn[data-v-a731d92c] {
    width: 140px;
}
}/* responsive */
#registration[data-v-64d480c8] {
  height: 100%;
}
.form__input-container[data-v-64d480c8] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 350px;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
.form__input-container[data-v-64d480c8] {
    width: 100%;
}
}
.form__btn[data-v-64d480c8] {
  width: 100%;
  margin-bottom: 25px;
}
.form__restore-link[data-v-64d480c8] {
  cursor: pointer;
  color: #969696;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
.form .enter-social__title[data-v-64d480c8] {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}
.form .enter-social-container[data-v-64d480c8] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 350px;
  margin: 0 auto 15px;
}
.form .enter-social__btn[data-v-64d480c8] {
  height: 40px;
  width: 163px;
  padding: 15px 30px 15px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.form .enter-social__btn svg[data-v-64d480c8] {
  width: 15px;
  margin-right: 10px;
}
@media (max-width: 767px) {
.form .enter-social__btn[data-v-64d480c8] {
    width: 140px;
}
}/* responsive */
.restore-subtitle[data-v-333005cf] {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #6F6F6F;
  margin: 15px auto 20px auto;
}
.restore svg[data-v-333005cf] {
  margin: 20px auto 15px;
}
.restore .form__input-container[data-v-333005cf] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 350px;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
.restore .form__input-container[data-v-333005cf] {
    width: 100%;
}
}
.restore .form__btn[data-v-333005cf] {
  width: 100%;
  margin-bottom: 25px;
}
.restore .form__restore-link[data-v-333005cf] {
  cursor: pointer;
  color: #969696;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
.restore .form .enter-social__title[data-v-333005cf] {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}
.restore .form .enter-social-container[data-v-333005cf] {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 350px;
  margin: 0 auto 15px;
}
.restore .form .enter-social__btn[data-v-333005cf] {
  height: 40px;
  width: 163px;
  padding: 15px 30px 15px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.restore .form .enter-social__btn svg[data-v-333005cf] {
  width: 15px;
  margin-right: 10px;
}
@media (max-width: 767px) {
.restore .form .enter-social__btn[data-v-333005cf] {
    width: 140px;
}
}.ck-content {
  min-height: 400px;
}.page-tabs[data-v-8052570a] {
  margin-bottom: 20px;
}.ck-content {
  min-height: 400px;
}.post-table .search-field {
  max-width: 300px;
}
.post-table .v-data-table-header th {
  /*min-width: 100px;*/
}
.post-table .table-header {
  min-width: 100px;
}.page-tabs[data-v-a1ea218a] {
  margin-bottom: 20px;
}.sub-item[data-v-ba0cf184] {
  padding-left: 36px;
}.post-table .search-field {
  max-width: 300px;
}
.post-table .v-data-table-header th {
  /*min-width: 100px;*/
}
.post-table .table-header {
  min-width: 100px;
}.post-table .search-field {
  max-width: 300px;
}
.post-table .v-data-table-header th {
  /*min-width: 100px;*/
}
.post-table .table-header {
  min-width: 100px;
}.post-table .search-field {
  max-width: 300px;
}
.post-table .v-data-table-header th {
  /*min-width: 100px;*/
}
.post-table .table-header {
  min-width: 100px;
}
.lang-switcher {
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}.preview-wrapper[data-v-942650aa] {
  border-radius: 0.5em;
  background-color: #f1f0ef;
  padding: 15px;
  margin-bottom: 15px;
  line-height: 0;
  margin-top: 10px;
}
.preview-wrapper img[data-v-942650aa] {
  height: 100px;
  width: auto;
}
/*# sourceMappingURL=vue-admin.css.map*/