<template>
  <div class="svg-circle">
    <div ref="circle" style="display: flex; transform: rotate(-90deg); transform-origin: center"></div>
  </div>
</template>

<script>
    /* global SVG */
    export default {
        name: "drawCircle",
        props: ['size', 'color', 'opacity'],
        data() {
            return {
                defaultColor: '#555555',
                defaultOpacity: '1',
            }
        },
        mounted() {
            if (SVG) {
                let color = this.color ? this.color : this.defaultColor;
                let opacity = this.opacity ? this.opacity : this.defaultOpacity;

                // let draw = SVG(this.$refs.circle).size(this.size, this.size);
                let draw = SVG(this.$refs.circle).viewbox(0, 0, this.size, this.size);
                let rect = draw.circle(this.size - 4).move(1, 1);

                rect.attr({
                    fill: 'none',
                    stroke: color,
                    'stroke-opacity': opacity,
                    'stroke-width': '1px',
                });
            }
        },
    }
</script>

<style scoped>

</style>
