<template>
  <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.36217 0H0.724486C0.404311 0 0.144775 0.259536 0.144775 0.579711V5.2174C0.144775 5.53757 0.404311 5.79711 0.724486 5.79711H5.36217C5.68234 5.79711 5.94188 5.53757 5.94188 5.2174V0.579711C5.94188 0.259536 5.68234 0 5.36217 0Z"/>
    <path class="hide" d="M12.3187 0H7.68103C7.36085 0 7.10132 0.259536 7.10132 0.579711V5.2174C7.10132 5.53757 7.36085 5.79711 7.68103 5.79711H12.3187C12.6389 5.79711 12.8984 5.53757 12.8984 5.2174V0.579711C12.8984 0.259536 12.6389 0 12.3187 0Z"/>
    <path class="hide" d="M5.36217 6.95654H0.724486C0.404311 6.95654 0.144775 7.21608 0.144775 7.53625V12.1739C0.144775 12.4941 0.404311 12.7537 0.724486 12.7537H5.36217C5.68234 12.7537 5.94188 12.4941 5.94188 12.1739V7.53625C5.94188 7.21608 5.68234 6.95654 5.36217 6.95654Z"/>
    <path d="M12.3187 6.95654H7.68103C7.36085 6.95654 7.10132 7.21608 7.10132 7.53625V12.1739C7.10132 12.4941 7.36085 12.7537 7.68103 12.7537H12.3187C12.6389 12.7537 12.8984 12.4941 12.8984 12.1739V7.53625C12.8984 7.21608 12.6389 6.95654 12.3187 6.95654Z"/>
    <path d="M19.2752 0H14.6376C14.3174 0 14.0579 0.259536 14.0579 0.579711V5.2174C14.0579 5.53757 14.3174 5.79711 14.6376 5.79711H19.2752C19.5954 5.79711 19.855 5.53757 19.855 5.2174V0.579711C19.855 0.259536 19.5954 0 19.2752 0Z"/>
    <path class="hide" d="M19.2752 6.95654H14.6376C14.3174 6.95654 14.0579 7.21608 14.0579 7.53625V12.1739C14.0579 12.4941 14.3174 12.7537 14.6376 12.7537H19.2752C19.5954 12.7537 19.855 12.4941 19.855 12.1739V7.53625C19.855 7.21608 19.5954 6.95654 19.2752 6.95654Z"/>
    <path d="M5.36217 14.2029H0.724486C0.404311 14.2029 0.144775 14.4624 0.144775 14.7826V19.4203C0.144775 19.7405 0.404311 20 0.724486 20H5.36217C5.68234 20 5.94188 19.7405 5.94188 19.4203V14.7826C5.94188 14.4624 5.68234 14.2029 5.36217 14.2029Z"/>
    <path class="hide" d="M12.3187 14.2029H7.68103C7.36085 14.2029 7.10132 14.4624 7.10132 14.7826V19.4203C7.10132 19.7405 7.36085 20 7.68103 20H12.3187C12.6389 20 12.8984 19.7405 12.8984 19.4203V14.7826C12.8984 14.4624 12.6389 14.2029 12.3187 14.2029Z"/>
    <path d="M19.2752 14.2029H14.6376C14.3174 14.2029 14.0579 14.4624 14.0579 14.7826V19.4203C14.0579 19.7405 14.3174 20 14.6376 20H19.2752C19.5954 20 19.855 19.7405 19.855 19.4203V14.7826C19.855 14.4624 19.5954 14.2029 19.2752 14.2029Z"/>
  </svg>

</template>

<script>
    export default {
        name: "navBtn"
    }
</script>

<style lang="scss" scoped>
  /*.hide {*/
  /*  opacity: 0;*/
  /*}*/
  /*.hide {*/
  /*  opacity: 0;*/
  /*}*/
</style>
