<template>
  <div>
    <v-card class="mb-6" v-for="(group, key) in groups" :key="key">
      <v-card-title><span class="subtitle-1" v-if="group.title">{{ group.title }}</span></v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <field-group
              v-for="(field, slug) in group.fields"
              :key="slug"
              :field="field"
              :group="key"
              :columns="calcCols(group.fields, field)"
              :models="models[key][slug]"
              v-on:update:models="updateModels"
              :item="item"></field-group>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import FieldGroup from "../fieldGroup";
  import Repeater from "../repeater";

  export default {
    name: "aboutTemplate",
    components: {Repeater, FieldGroup},
    props: {
      item: Object,
      itemModels: Object,
    },
    data() {
      return {
        groups: {
          hero: {
            title: 'Hero',
            fields: {
              image: {
                title: 'Image',
                type: 'image',
                description: 'Recommended size 960x300',
              },
              title: {
                title: 'Title',
                type: 'text',
              },
              column1: {
                title: 'Column 1',
                type: 'editor',
              },
              column2: {
                title: 'Column 2',
                type: 'editor',
              },
            },
          },
          teams: {
            title: 'Teams',
            fields: {
              members: {
                type: 'repeater',
                // title: 'Team',
                fields: {
                  image: {
                    title: 'Image',
                    type: 'image',
                    description: 'Recommended size 360x450',
                  },
                  title: {
                    title: 'Title',
                    type: 'text',
                  },
                  description: {
                    title: 'Description',
                    type: 'editor',
                    props: {
                      rows: 3,
                    }
                  },
                }
              },
            }
          },
          help: {
            title: 'Help',
            fields: {
              image: {
                title: 'Image',
                type: 'image',
                description: 'Recommended size 1280x650',
              },
              title: {
                title: 'Title',
                type: 'text',
              },
              description: {
                title: 'Description',
                type: 'editor',
                props: {
                  rows: 4,
                }
              },
            }
          },
          awards: {
            title: 'Awards',
            fields: {
              title: {
                title: 'Title',
                type: 'text',
              },
              items: {
                type: 'repeater',
                title: 'Items',
                fields: {
                  title: {
                    title: 'Title',
                    type: 'text',
                  },
                  date: {
                    title: 'Date',
                    type: 'date',
                    default: new Date().toISOString().substr(0, 10),
                  },
                  url: {
                    title: 'Url',
                    type: 'text',
                    props: {
                      prependInnerIcon: 'mdi-earth',
                    },
                  },
                  image: {
                    title: 'Image',
                    type: 'image',
                    description: 'Recommended size 800x430',
                    columns: 6,
                  },
                  pdf: {
                    title: 'PDF',
                    type: 'image',
                    props: {
                      fileTypes: 'application/pdf',
                      imagePreview: false,
                    },
                    columns: 6,
                  }
                }
              }
            }
          },
        },
      }
    },
    computed: {
      models: {
        get() {
          return this.setModelValues();
        },
        set(value) {
          this.$emit('update:itemModels', value);
        }
      }
    },
    methods: {
      setModelValues() {
        Object.entries(this.groups).forEach(([key, group]) => {
          if ( !this.itemModels[key] ) {
            this.itemModels[key] = {};

            Object.entries(group.fields).forEach(([slug, field]) => {
              if ( !this.itemModels[key][slug] ) {
                this.itemModels[key][slug] = field.value ? field.value : '';
              }
            });
          }
        });

        return this.itemModels;
      },
      updateModels(model, group) {
        let models = this.models;

        // if ( group === 'teams' && models[group]['repeater'] ) {
        //   delete models[group]['repeater'];
        // }

        models[group][model.key] = model.value;
        this.models = models;
      },
      calcCols(fields, field) {
        let count = Object.keys(fields).length;
        let cols = count < 4 ? count : Math.ceil(count/2);

        if (field.columns) {
          return field.columns;
        }

        return Math.ceil(12/cols);
      }
    },
  }
</script>

<style scoped>

</style>
