<template>
  <div>
    <v-card class="mb-6" v-for="(group, key) in groups" :key="key">
      <v-card-title><span class="subtitle-1">{{ group.title }}</span></v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <field-group
              v-for="(field, slug) in group.fields"
              :key="slug"
              :field="field"
              :group="key"
              :models="models[key][slug]"
              v-on:update:models="updateModels"
              :item="item"></field-group>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import FieldGroup from "../fieldGroup";

  export default {
    name: "homeTemplate",
    components: {FieldGroup},
    props: {
      item: Object,
      itemModels: Object,
    },
    data() {
      return {
        groups: {
          hero: {
            title: 'Hero',
            fields: {
              leftImage: {
                title: 'Left image',
                type: 'image',
                description: 'Recommended size 418x402',
              },
              rightImage: {
                title: 'Right image',
                type: 'image',
                description: 'Recommended size 340x550',
              },
            },
          },
          about: {
            title: 'About',
            fields: {
              image: {
                title: 'Image',
                type: 'image',
                description: 'Recommended size 1130x600',
              },
              title: {
                title: 'Title',
                type: 'text',
              },
              description: {
                title: 'Description',
                type: 'editor',
              },
            },
          },
          projects: {
            title: 'Projects',
            fields: {
              title: {
                title: 'Title',
                type: 'text',
              }
            }
          }
        },
      }
    },
    computed: {
      models: {
        get() {
          return this.setModelValues();
        },
        set(value) {
          this.$emit('update:itemModels', value);
        }
      },
    },
    methods: {
      setModelValues() {
        Object.entries(this.groups).forEach(([key, group]) => {
          if ( !this.itemModels[key] ) {
            this.itemModels[key] = {};

            Object.entries(group.fields).forEach(([slug, field]) => {
              if ( !this.itemModels[key][slug] ) {
                this.itemModels[key][slug] = field.value ? field.value : '';
              }
            });
          }
        });

        return this.itemModels;
      },
      updateModels(model, group) {
        let models = this.models;
        models[group][model.key] = model.value;
        this.models = models;
      },
      calcCols(fields) {
        let count = Object.keys(fields).length;
        let cols = count < 4 ? count : Math.ceil(count/2);

        return Math.ceil(12/cols);
      },
    },
  }
</script>

<style scoped>

</style>
