<template>
  <div>
    <v-card class="mb-6" v-for="(group, key) in groups" :key="key">
      <v-card-title>
        <span class="subtitle-1" v-if="group.title">{{ group.title }}</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <field-group
              v-for="(field, slug) in group.fields"
              :key="slug"
              :field="field"
              :group="key"
              :columns="calcCols(group.fields, field)"
              :models="models[key][slug]"
              v-on:update:models="updateModels"
              :item="item"></field-group>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import FieldGroup from "../fieldGroup";
  import Repeater from "../repeater";

  export default {
    name: "servicesTemplate",
    components: {Repeater, FieldGroup},
    props: {
      item: Object,
      itemModels: Object,
    },
    data() {
      return {
        groups: {
          hero: {
            title: 'Hero',
            fields: {
              image: {
                title: 'Image',
                type: 'image',
                description: 'Recommended size 1180x300',
              },
              title: {
                title: 'Title',
                type: 'text',
              },
            },
          },
          services: {
            title: 'Services',
            fields: {
              items: {
                type: 'repeater',
                fields: {
                  title: {
                    title: 'Title',
                    type: 'text',
                    columns: 6,
                  },
                  subtitle: {
                    title: 'Subtitle',
                    type: 'text',
                    columns: 6,
                  },
                  description: {
                    title: 'Description',
                    type: 'editor',
                      columns: 12,
                    props: {
                      rows: 6,
                    }
                  },
                }
              },
            }
          },
        },
      }
    },
    computed: {
      models: {
        get() {
          return this.setModelValues();
        },
        set(value) {
          this.$emit('update:itemModels', value);
        }
      }
    },
    methods: {
      setModelValues() {
        Object.entries(this.groups).forEach(([key, group]) => {
          if ( !this.itemModels[key] ) {
            this.itemModels[key] = {};

            Object.entries(group.fields).forEach(([slug, field]) => {
              if ( !this.itemModels[key][slug] ) {
                this.itemModels[key][slug] = field.value ? field.value : '';
              }
            });
          }
        });

        return this.itemModels;
      },
      updateModels(model, group) {
        let models = this.models;

        // if ( group === 'teams' && models[group]['repeater'] ) {
        //   delete models[group]['repeater'];
        // }

        models[group][model.key] = model.value;
        this.models = models;
      },
      calcCols(fields, field) {
        let count = Object.keys(fields).length;
        let cols = count < 4 ? count : Math.ceil(count/2);

        if (field.columns) {
          return field.columns;
        }

        return Math.ceil(12/cols);
      }
    },
  }
</script>

<style scoped>

</style>
