<template>
  <div>
    <v-card class="mb-6" v-for="(group, key) in groups" :key="key">
      <v-card-title><span class="subtitle-1" v-if="group.title">{{ group.title }}</span></v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <field-group
              v-for="(field, slug) in group.fields"
              :key="slug"
              :field="field"
              :group="key"
              :columns="calcCols(group.fields, field)"
              :models="models[key][slug]"
              v-on:update:models="updateModels"
              :item="item"></field-group>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  import FieldGroup from "../fieldGroup";
  import Repeater from "../repeater";

  export default {
    name: "workTemplate",
    components: {Repeater, FieldGroup},
    props: {
      item: Object,
      itemModels: Object,
    },
    data() {
      return {
        groups: {
          hero: {
            title: 'Hero',
            fields: {
              // image: {
              //   title: 'Image',
              //   type: 'image',
              // },
              // title: {
              //   title: 'Title',
              //   type: 'text',
              // },
              column1: {
                title: 'Column 1',
                type: 'editor',
              },
              column2: {
                title: 'Column 2',
                type: 'editor',
              },
            },
          },
          sections: {
            title: 'Sections',
            fields: {
              items: {
                type: 'repeater',
                // title: 'Team',
                fields: {
                  images: {
                    title: 'Images',
                    type: 'image',
                    props: {
                      multiple: true,
                      maxFiles: 3,
                      fileTypes: 'image/jpeg, image/png',
                      imagePreview: true,
                    },
                    columns: 12,
                    description: 'Max size 1180x650, max files - 3',
                  },

                  description: {
                    title: 'Description',
                    type: 'editor',
                    columns: 12,
                    props: {
                      rows: 5,
                    },
                  },

                  type: {
                    title: 'Block type',
                    type: 'select',
                    values: [
                      {
                        text: 'Simple',
                        value: 'simple',
                      },
                      {
                        text: 'Full',
                        value: 'full',
                      },
                    ]
                  },

                  title: {
                    title: 'Title',
                    type: 'text',
                  },
                  subtitle: {
                    title: 'Subtitle',
                    type: 'text',
                  },
                }
              },
            }
          },
        },
      }
    },
    computed: {
      models: {
        get() {
          return this.setModelValues();
        },
        set(value) {
          this.$emit('update:itemModels', value);
        }
      }
    },
    methods: {
      setModelValues() {
        Object.entries(this.groups).forEach(([key, group]) => {
          if ( !this.itemModels[key] ) {
            this.itemModels[key] = {};

            Object.entries(group.fields).forEach(([slug, field]) => {
              if ( !this.itemModels[key][slug] ) {
                this.itemModels[key][slug] = field.value ? field.value : '';
              }
            });
          }

        });

        // console.log(this.itemModels['sections']['items']);
        // let items = Object.values(this.itemModels['sections']['items']);
        // Object.entries(this.itemModels['sections']['items']).forEach(([key, value])=>{
        //   for ( let i=1;i<4;i++ ) {
        //     if ( value['image'+i] ) {
        //       delete this.itemModels['sections']['items'][key]['image'+i];
        //     }
        //   }
        // });

        return this.itemModels;
      },
      updateModels(model, group) {
        let models = this.models;

        models[group][model.key] = model.value;
        this.models = models;
      },
      calcCols(fields, field) {
        let count = Object.keys(fields).length;
        let cols = count < 4 ? count : Math.ceil(count/2);

        if (field.columns) {
          return field.columns;
        }

        return Math.ceil(12/cols);
      }
    },
  }
</script>

<style scoped>

</style>
