<template>
  <section class="a-awards section-p-b">
    <div class="container">
      <div class="a-awards__title heading-section" v-html="block.title"></div>
      <div class="a-awards__items">
        <div class="a-awards__item" v-for="item in block.items">
          <a v-if="item.pdf"
             :href="item.pdf"
             target="_blank"
             class="a-awards__item-name heading-block active-cursor"
             v-html="item.title"></a>

          <a v-else :href="item.url" class="a-awards__item-name heading-block active-cursor" v-html="item.title"></a>


          <div class="a-awards__item-image">
            <img :src="item.image" :alt="item.title">
          </div>
          <div class="a-awards__item-date">{{ FormatDate(item.date) }}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "a-awards",
        data() {
            return {
            }
        },
      computed: {
        block() {
          return this.$store.getters.item.content.awards;
        }
      },
    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .a-awards {
    &__title {
      margin-bottom: 40px;
      @include mobile {
        margin-bottom: 20px;
      }
    }

    &__item {
      position: relative;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      padding: 30px 0;
      border-bottom: 1px solid $c-brown;

      &-name {
        margin-right: $m-block-md;

        @include mobile {
          margin-right: 16px;
        }
      }

      &-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) scale(.4);
        opacity: 0;
        width: 50%;
        pointer-events: none;
        transition: all .4s ease-in-out;
        z-index: 1;
      }

      &-date {
        font-family: $font-anglecia;
        font-weight: 300;
        font-size: 25px;
        line-height: 1.5;
        @include tablet {
          font-size: 20px;
        }
        @include mobile {
          margin-left: auto;
          font-size: 16px;
          line-height: 1.87;
        }
      }

      &:hover {
        .a-awards__item-image {
          opacity: 1;
          transition: all .4s ease-in-out;
          transform: translateY(-50%) scale(1);
        }
      }
    }
  }

</style>
