<template>
  <section class="a-entry">
    <div class="a-entry__container container">
      <router-link :to="{name: 'Work'}"
                   class="a-entry__link active-cursor">
        <div class="a-entry__link-wrapper" ref="link_text">
          <span>+++</span>
          <span class="a-entry__link-text">{{ 'link_portfolio' | translate }}</span>
        </div>
        <div ref="circle" class="a-entry__link-circle" style="visibility: hidden">
          <draw-circle :size="308"></draw-circle>
        </div>
      </router-link>
      <a-image :src="block.image"
               alt=""
               type="bottom"
               class="a-entry__img"></a-image>
      <div class="a-entry__header padding-l">
        <page-title :content="block.title" class="a-entry__title"></page-title>
        <span class="a-entry__slogan slogan opacity" ref="slogan" v-html="Translate('design_living')"></span>
      </div>
      <div class="a-entry__content padding-l">
        <div class="a-entry__row opacity" v-viewport:fully.once="showContent">
          <div class="a-entry__col a-entry__content-col">
            <div class="a-entry__text text text--dark" v-html="block.column1"></div>
          </div>
          <div class="a-entry__col a-entry__content-col">
            <div class="a-entry__text text text--dark" v-html="block.column2"></div>
          </div>
        </div>
      </div>
      <div class="a-entry__action padding-l">
        <div class="a-entry__row" v-viewport:fully.once="animateCallToAction">
          <div class="a-entry__col a-entry__action-col">
            <div class="a-entry__action-title heading-block" ref="ctaTitle">{{ 'ask_presentation' | translate }}</div>
          </div>
          <div class="a-entry__col a-entry__action-col">
            <router-link class="a-entry__action-btn link link-primary active-cursor" ref="ctaBtn"
                         :to="{name: 'Contacts'}">
              {{ 'send_request' | translate }}
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import DrawCircle from "../../components/icons/drawCircle";
  import {TweenMax, Power2} from 'gsap';
  import PageTitle from "../../components/layout/pageTitle";
  import AImage from "../../components/layout/aImage";

  export default {
    name: "a-entry",
    components: {AImage, PageTitle, DrawCircle},
    data() {
      return {
        // title: 'Profound <br>know-how <br>and eclecticism.',
        // link: {
        //   url: '/portfolio/',
        //   name: 'Work',
        //   // text: 'For press portfolio'
        // },
        // image: {
        //   url: '/images/about-header.png',
        //   alt: 'Design of living'
        // },
        // content: [
        //   '<p>Pelizzari Studio was launched in 1991, within an heritage palace in Brescia’s historical centre. Its aim? To amaze and astonish.</p><p>Each customer has specific requests and needs, therefore each project - be it home, hotel, retail - is taylor made, starting from architectural details to the choice of materials, all the way to the littlest and slightest detail. It’s on these premises that the studio evolved, realizing projects from London to Dubai, from Côte d’Azur to Lugano and Italy’s most renowned cities of arts.</p>',
        //   '<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugitt.</p>'
        // ],
        // action: {
        //   title: 'Ask for Company Presentation',
        //   button: 'Send Request',
        //   url: 'Contacts'
        // },
        slogan: 'Design of<br>living',
        size: '',
      }
    },
    watch: {
      ready(val) {
        if (val) {
          this.startAnimations();
        }
      }
    },
    mounted() {
      this.setAnimateEl(this.$refs.ctaTitle);
      this.setAnimateEl(this.$refs.ctaBtn);
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
      block() {
        return this.$store.getters.item.content.hero;
      },
    },
    methods: {
      startAnimations() {
        this.animateLink();
        this.showEl(this.$refs.slogan);
      },
      animateLink() {
        let circle = this.$refs.circle.getElementsByTagName('circle')[0];
        this.$refs.circle.style.visibility = 'visible';
        if (circle) {
          let array = circle.getTotalLength();
          circle.style.strokeDasharray = array;
          circle.style.strokeDashoffset = array;

          TweenMax.to(circle, 3, {strokeDashoffset: 0, ease: Power2.easeIn});
        }
        TweenMax.to(this.$refs.link_text, 3, {opacity: 1, ease: Power2.easeIn});
      },
      animateCallToAction() {
        this.animateEl(this.$refs.ctaTitle);
        this.animateEl(this.$refs.ctaBtn, .3);
      },
      showContent(el) {
        this.showEl(el, .5);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .a-entry {
    padding-top: 60px;
    padding-bottom: $p-section-xl;

    @include tablet {
      padding-top: 74px;
    }

    @include mobile {
      padding-top: 0;
      padding-bottom: $p-section-xs;
    }

    &__container {
      position: relative;
      @include mobile {
        padding-top: 108px;
      }
    }

    &__link {
      position: absolute;
      top: 0;
      transform: translate(0, -48%);
      display: flex;
      width: 308px;
      height: 308px;
      padding: 60px;
      font-family: $font-trirong;
      font-weight: normal;
      line-height: normal;
      color: $c-light-grey;
      border-radius: 50%;
      z-index: 2;


      @include tablet {
        width: 168px;
        height: 168px;
        padding: 33px;
        font-size: 14px;
      }

      @include mobile {
        width: 160px;
        height: 160px;
        padding: 16px 0 0 57px;
        transform: translate(0, 0);
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        opacity: 0;
        @include mobile {
          justify-content: flex-start;
        }
      }

      &-circle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        svg {
          width: 100% !important;
          height: 100% !important;
        }
      }


      &-text {
        margin: 24px 0;
        @include tablet {
          margin: 5px 0;
        }

        .a-entry__link:hover & {
          text-decoration: underline;
        }
      }
    }

    &__img {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 82.75862%;
      margin-left: auto;
      @include tablet {
        max-width: 82.33533%;
      }
      @include mobile {
        margin-right: -30px;
        /*max-width: 100%;*/
        height: 172px;
      }


      img {
        width: 100%;
        height: auto;
        @include mobile {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      /* &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(0deg, rgba(235, 235, 232, 0.9) -30.64%, rgba(196, 196, 196, 0) 35.85%);
       } */
    }

    &__header {
      position: relative;
      margin-top: - ($m-block-xl + 20px);
      margin-bottom: $m-block-xl;
      z-index: 2;

      @include tablet {
        margin-top: -$m-block-md;
      }
      @include mobile {
        margin-top: -32px;
        margin-bottom: $m-block-md;
      }
    }

    &__title {
      margin: 0;
    }

    &__slogan {
      position: absolute;
      right: 0;
      bottom: 0;
      @include tablet {
        bottom: 10px;
      }
      @include mobile {
        display: none;
      }
    }

    &__content {
      margin-bottom: $padding-l-xl;
      padding-right: $padding-r-xl;
      @include tablet {
        padding-right: 0;
      }
      @include mobile {
        margin-bottom: $m-block-xl;
      }

      &-col:first-child {
        @include mobile {
          margin-bottom: 40px;
        }
      }
    }

    &__text {
      /*max-width: 380px;*/
    }

    &__action {
      padding-right: $padding-r-xl;
      @include tablet {
        padding-right: 0;
      }

      &-col {
        display: flex;
        align-items: flex-end;

        &:first-child {
          @include mobile {
            margin-bottom: 30px;
          }
        }
      }
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -50px;
      @include tablet {
        margin: 0 -35px;
      }
      @include mobile {
        margin: 0 -30px;
      }
    }

    &__col {
      flex: 0 0 44.444444%;
      padding: 0 50px;
      @include tablet {
        flex: 0 0 50%;
        padding: 0 35px;
      }
      @include mobile {
        flex: 0 0 100%;
        padding: 0 30px;
      }
    }
  }
</style>
