<template>
  <section class="a-help section-p-b">
    <div class="a-help__hide"></div>

    <div class="a-help__wrapper" ref="wrapper">
      <div class="a-help__container container">
        <div class="a-help__content" ref="help_content" >
          <div class="a-help__label text c-primary" v-viewport:enter="showHelp" v-viewport:partExit="hideHelpDown" v-html="block.title"></div>
          <div class="a-help__text heading-block c-primary" v-html="block.description"></div>
        </div>
      </div>
    </div>
    <div class="a-help__img" ref="help_image">
      <div v-image>
        <img :src="block.image" :alt="block.title">
      </div>
    </div>
  </section>
</template>

<script>
  import {TweenMax, Power2, Power4} from 'gsap';

  export default {
    name: "a-help",
    data() {
      return {
        // label: 'What i can help you with',
        // text: 'Brand Strategy & Positioning, Consumer Insiukghts & Research, Naming, Branding, Packaging Design, Print Design & Management, Website Design, Social Media, Retail & Environmental Graphics.',
        // image: {
        //     url: '/images/a-help.jpg',
        //     alt: 'help you with',
        // }
        showAnimation: false,
      }
    },
    mounted() {
      TweenMax.set(this.$refs.help_content, {
        autoAlpha: 0,
        yPercent: 100
      });
    },
    watch: {
      ready(val) {
        if (val) {
          this.showAnimation = true;
        }
      }
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
      block() {
        return this.$store.getters.item.content.help;
      }
    },
    methods: {
      showHelp() {
        if (this.showAnimation) {
          console.log('show');
          document.body.classList.add('active-help');
          TweenMax.to(this.$refs.help_image, 1, {
            autoAlpha: 0,
            y: 200
          });
          TweenMax.to(this.$refs.help_content, .6, {
            autoAlpha: 1,
            ease: Power4,
            yPercent: 0,
            delay: .5
          });
        }
      },
      hideHelpUp() {
        if ( this.showAnimation ) {
          console.log('hideUP');
          document.body.classList.remove('active-help');
          TweenMax.to(this.$refs.help_image, 1, {
            autoAlpha: 1,
            y: 0,
            ease: Power2,
          });
        }
      },
      hideHelpDown() {
        if ( this.showAnimation ) {
          console.log('hideDOWN');
          document.body.classList.remove('active-help');
          TweenMax.to(this.$refs.help_image, 1, {
            autoAlpha: 1,
            y: 0,
            ease: Power2,
          });
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .a-help {

    &__hide {
      height: 205px;

      @include mobile {
        height: 100px;
      }
    }
    &__container {
      display: flex;
      justify-content: flex-end;
      /*padding-top: 205px;*/
      /*padding-top: 105px;*/
      padding-bottom: 205px;
      @include mobile {
        /*padding-top: 50px;*/
        /*padding-top: 0;*/
        padding-bottom: 50px;
      }
    }

    &__content {
      width: 100%;
      max-width: calc(66.66666% - 20px);
      margin-left: auto;

      @include tablet {
        max-width: calc(66.66666% - 8px);
      }
      @include mobile {
        max-width: 100%;
        padding-left: 27px;
        font-size: 25px;
        line-height: 1.4;
      }
    }

    &__label {
      margin-bottom: $m-block-xs;
      text-transform: uppercase;

      &.c-primary {
        .active-help & {
          color: $c-white;
        }
      }
    }

    &__text {
      &.heading-block {
        font-weight: 300;

        .active-help & {
          color: $c-white;
        }
      }
    }

    &__img {
      display: flex;
      align-items: flex-start;
      overflow: hidden;

      @include mobile {
        height: 500px;
      }

      &::before {
        background: $c-dark-grey;
      }

      div {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: auto;

        @include mobile {
          max-width: none;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

</style>
