<template>
  <section class="a-team section-p-b">
    <div class="container">
      <div class="a-team__row" v-viewport:enter.once="animateTeam">
        <div class="a-team__person" v-for="person in block.members">
          <div class="a-team__person-img">
            <img :src="person.image" :alt="person.title" ref="image">
          </div>
          <a-text class="a-team__person-name heading-block" :content="person.title" :animate="animated" :delay=".5"></a-text>
          <a-text class="a-team__person-description text" :content="person.description" :animate="animated" :delay=".5"></a-text>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    import AText from "../../components/layout/aText";

    export default {
        name: "a-team",
        components: {AText},
        data() {
            return {
                animated: false,
                // team: [
                //     {
                //         name: 'Claudia Pelizzari',
                //         description: '<p>Described by Archilovers as “one of the feminine talents of contemporary architecture”, ' +
                //             'Claudia is an instinctive and radical interior designer with a consolidated international background.</p>',
                //         image: {
                //             url: '/images/person.jpg',
                //             alt: '',
                //         }
                //     },
                //     {
                //         name: 'David Morini',
                //         description: '<p>Polyhedric Architect, sophisticated art connoisseur and spontaneous creative, David directs the Studio acting as its true incarnation.</p>',
                //         image: {
                //             url: '/images/person.jpg',
                //             alt: '',
                //         }
                //     },
                //     {
                //         name: 'Claudia Pelizzari',
                //         description: '<p>Described by Archilovers as “one of the feminine talents of contemporary architecture”, ' +
                //             'Claudia is an instinctive and radical interior designer with a consolidated international background.</p>',
                //         image: {
                //             url: '/images/person.jpg',
                //             alt: '',
                //         }
                //     }
                // ]
            }
        },
        mounted() {
            if(this.$refs.image.length) {
                this.$refs.image.forEach(el => this.setAnimateEl(el));
            }
        },
      computed: {
        block() {
          return this.$store.getters.item.content.teams;
        }
      },
        methods: {
            animateTeam() {
                if(this.$refs.image.length) {
                    this.$refs.image.forEach(el => this.animateEl(el));
                }
                this.animated = true;
            }
        }
    }
</script>
<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .a-team {

    @include mobile {
      padding-bottom: 63px;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 -25px;

      @include tablet {
        margin: 0 -8px;
      }
      @include mobile {
        margin: 0;
      }
    }

    &__person {
      flex: 0 0 33.333333%;
      padding: 0 25px;

      @include tablet {
        padding: 0 8px;
      }
      @include mobile {
        flex: 0 0 100%;
        padding: 0;
      }

      &:not(:first-child) {
        @include mobile {
          margin-top: 70px;
        }
      }

      .a-team__person:nth-of-type(3) ~ & {
        @include media-min($container-md) {
          margin-top: $p-block-lg;
        }
      }

      &:hover {
        img {
          filter: grayscale(0%);
        }
      }

      &-img {
        display: flex;
        align-items: flex-start;
        @include mobile {
          height: calc(100vw - 55px)
        }

        img {
          width: 100%;
          height: auto;
          filter: grayscale(100%);
          /*transform: translate(0, 5%) scale(1, 1.05);*/
          /*transform-origin: 50% 0;*/
          /*opacity: 0;*/
          transition: filter .3s;
          @include mobile {
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      &-name {
        margin: $m-block-md 0 $m-block-xs;
        @include mobile {
          margin: $m-block-md 0 20px;
        }
      }
    }
  }

</style>
