<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <!--    <div style="width: 500px; height: 500px"></div>-->
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :loading="loading"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :single-select="singleSelect"
      :show-select="showSelect"
      v-model="selected"
      loading-text="Loading... Please wait"
      class="post-table">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>{{ 'List' }}</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>

            <v-btn
              v-if="showSelect && selected.length"
              @click="confirmDelete(selected)"
              color="warning"
              dark class="mb-2">Delete Items</v-btn>

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            class="mr-5 search-field"
            single-line
            hide-details
          ></v-text-field>
          <v-btn :to="{name: single_route}" color="primary" dark class="mb-2">New Item</v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="confirmDelete(item)">
          mdi-delete
        </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>

    </v-data-table>

    <confirm v-if="showConfirm" :item="activeItem" v-bind:show.sync="showConfirm" v-on:success="deleteItem"></confirm>
  </v-card>
</template>

<script>
  import Confirm from "../../../components/admin/dialogs/confirmDelete";

  export default {
    name: "pages",
    components: {Confirm},
    data() {
      return {
        sortBy: ['date'],
        api_url: '/api/pages/',
        single_route: 'Single Page',
        sortDesc: [true],
        headersColumn: [
          'id', 'title', 'slug', 'description', 'status', 'date'
        ],
        full: {
          data: [],
        },
        activeItem: false,
        showConfirm: false,
        singleSelect: false,
        showSelect: true,
        loading: true,
        search: '',
        selected: [],
      }
    },
    mounted() {
      this.getPages();
    },
    computed: {
      items() {
        return this.full.data;
      },
      headers() {
        let headers = [];

        if (this.items.length) {
          let itemHeaders = Object.keys(this.items[0]);
          let filtered = itemHeaders;

          headers = filtered.map(item => {
              return {
                text: this.$filters.ucFirst(item),
                value: item,
                sortable: item !== 'id',
                class: item !== 'id' ? 'table-header' : '',
              }
          });

          headers.push({
            text: 'Actions',
            value: 'action',
            sortable: false,
            align: 'center',
            width: 100,
          })
        }

        return headers;
      },
    },
    methods: {
      getPages() {
        let data = {
          method: 'get',
          url: this.api_url,
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log(res);
          this.loading = false;

          this.full = res.data;
        });
      },
      initialize() {
        this.getPages();
      },
      editItem(item) {
        let id = item.id;

        this.$router.push({
          name: this.single_route,
          params: {
            id
          }
        })
      },
      confirmDelete(item) {
        this.activeItem = item;
        this.showConfirm = true;
      },
      deleteItem() {
        let items = this.activeItem.length ? this.activeItem : [this.activeItem];

        items.forEach((item, key)=>{
          let data = {
            method: 'delete',
            url: this.api_url+item.id,
          };

          this.loading = true;
          this.$store.dispatch('sendRequest', data).then(res => {
            // console.log(res);
            if ( key === (items.length-1) ) {
              this.loading = false;
            }

            if (res.data.success) {
              this.selected = this.selected.filter(i => i !== item);
              this.full.data = this.full.data.filter(i => i !== item);

              this.$store.dispatch('notify', {
                text: 'Item deleted!',
                color: 'error',
              });

              console.log('Delete ', item);
            }
          });
        });
      },
    },
  }
</script>

<style lang="scss">
  .post-table {
    .search-field {
      max-width: 300px;
    }

    .v-data-table {
      &__wrapper {

      }

      &-header {
        th {
          /*min-width: 100px;*/
        }
      }
    }

    .table-header {
      min-width: 100px;
    }
  }
</style>
