<template>
  <component v-bind:is="currentTemplate" :item.sync="item" :itemModels.sync="dataModels"></component>
</template>

<script>
  import homeTemplate from "./templates/homeTemplate";
  import aboutTemplate from "./templates/aboutTemplate";
  import servicesTemplate from "./templates/servicesTemplate";
  import workTemplate from "./templates/workTemplate";

  export default {
    name: "contentTemplates",
    props: {
      template: [String, Boolean],
      item: Object,
    },
    components: {
      homeTemplate,
      aboutTemplate,
      servicesTemplate,
      workTemplate,
    },
    computed: {
      currentTemplate() {
        if ( this.template ) {
          return this.template + 'Template';
        } else {
          return false;
        }
      },
      dataModels: {
        get() {
          if ( typeof this.item.content === 'object' ) {
            return this.item.content;
          } else if (typeof this.item.content === 'string') {
            let json = this.parseJson(this.item.content);
            if (json) {
              return json;
            } else {
              return {};
            }
          } else {
            return {};
          }
        },
        set(value) {
          let item = this.item;
          let json = JSON.stringify(value);

          if ( json ) {
            item.content = json;
          }

          this.$emit('update:item', this.item);
        }
      },
    },
  }
</script>

<style scoped>

</style>
