<template>
  <v-col class="field-group" :cols="cols">
    <div class="subtitle-2" v-if="field.title">{{ field.title }}</div>

    <upload-images
      v-if="field.type == 'image'"
      v-bind:item="item"
      v-bind:images.sync="model"
      :multiple="getProp('multiple', false)"
      :maxFiles="getProp('maxFiles', null)"
      :params="field.props"
      :name="$vnode.key"></upload-images>

    <v-text-field
      v-if="field.type == 'text'"
      :label="getProp('label', '')"
      :prepend-inner-icon="getProp('prependInnerIcon', '')"
      v-model="model"></v-text-field>

    <v-textarea
      v-if="field.type == 'textarea'"
      :label="getProp('label', '')"
      :rows="getProp('showLabel', 5)"
      outlined
      v-model="model" ></v-textarea>

    <v-select
      v-if="field.type == 'select'"
      :items="field.values"
      v-model="model"
      dense
      outlined
    ></v-select>

    <ckeditor
      v-if="field.type == 'editor'"
      :editor="editor"
      v-model="model"
      :config="editorConfig">
    </ckeditor>

    <repeater
      v-if="field.type == 'repeater'"
      :group="group"
      :item="item"
      :fields="field.fields"
      :field-models.sync="model"
    ></repeater>

    <v-range-slider
      v-if="field.type == 'range'"
      v-model="model"
      class="align-center field-range"
      :max="getProp('values', {max: false}).max"
      :min="getProp('values', {min: false}).min"
      :thumb-size="getProp('thumbSize', 24)"
      :thumb-label="getProp('showLabel', 'always')"
    ></v-range-slider>

    <v-menu
      v-if="field.type == 'date'"
      v-model="toggle"
      :close-on-content-click="false"
      :nudge-right="40"
      transition="scale-transition"
      offset-y
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="model"
          :label="getProp('label', '')"
          :prepend-icon="getProp('prependIcon', 'mdi-calendar')"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker v-model="model" @input="toggle = false"></v-date-picker>
    </v-menu>

    <div class="field-description" v-if="field.description">{{ field.description }}</div>
  </v-col>
</template>

<script>
  import UploadImages from "./uploadImages";
  // import Repeater from "./repeater";
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  export default {
    name: "fieldGroup",
      data() {
          return {
              editor: ClassicEditor,
              editorConfig: {},
          }
      },
    components: {
      Repeater: () => import('./repeater'),
      UploadImages
    },
    props: {
      field: Object,
      item: Object,
      group: [String, Number],
      columns: {
        type: [Number, Boolean],
        default: false,
      },
      description: [String],
      models: [String, Object, Array],
      toggle: false,
    },
    computed: {
      model: {
        get() {
          if ( !this.models && this.field.default ) {
            return this.field.default;
          }
          if ( this.field.type === 'editor' ) {
            if (!this.models) {
              return "";
            }
          }

          return this.models;
        },
        set(value) {
          this.$emit('update:models', {
            key: this.$vnode.key,
            value: value,
          }, this.group);
        }
      },
      cols() {
        if ( this.field.type === 'repeater' ) {
          return 12;
        }

        if (this.field.columns) {
          return this.field.columns;
        }

        return this.columns;
      }
    },
    methods: {
      getProp(name, def = false) {
        if ( this.field['props'] && this.field['props'][name] ) {
          return this.field['props'][name];
        }

        return def;
      }
    },
  }
</script>

<style lang="scss" scoped>
.field-group {
  min-width: 25%;
}
</style>
