<template>
  <div>

    <draggable
      :disabled="!enabledDragging"
      @start="dragging = true"
      @end="dragging = false"
      handle=".handle"
      ghost-class="ghost"
      v-model="models">

      <v-card
        class="mx-auto"
        outlined
        v-for="(model, key) in models"
        v-if="model"
        :key="key"
      >
        <v-container>
          <v-row class="rows">
            <v-col class="small-col flex-center handle">
              <v-icon small class="">
                mdi-arrow-up-down
              </v-icon>
              <span class="row-number">{{ key }}</span>
            </v-col>

            <v-col>
              <v-container>
                <v-row>

                  <field-inner-group
                    v-for="(field, slug) in fields"
                    :key="slug"
                    :field="field"
                    :group="key"
                    :models="model[slug] ? model[slug] : ''"
                    v-on:update:models="updateModels"
                    @click.stop="enabledDragging = false"
                    :columns="calcCols(fields, field)"
                    :item="item"></field-inner-group>

                </v-row>
              </v-container>
            </v-col>

            <v-col class="small-col flex-column flex-center">
              <v-icon class="mb-4" color="success" @click="addRow(key+1)">
                mdi-plus-circle
              </v-icon>

              <v-icon color="red" @click="deleteRow(model)">
                mdi-delete
              </v-icon>
            </v-col>
          </v-row>
        </v-container>
      </v-card>

    </draggable>

    <div class="mt-4 d-flex justify-content-end">
      <v-btn small @click="addRow()">Add row</v-btn>
    </div>
  </div>
</template>

<script>
  import FieldInnerGroup from "./fieldGroup";

  export default {
    name: "repeater",
    components: {
      FieldInnerGroup,
    },
    props: {
      group: String,
      item: Object,
      columns: Number,
      fields: [Array, Object],
      description: [String],
      fieldModels: [Array, Object, String],
    },
    data() {
      return {
        dragging: false,
        enabledDragging: true,
      }
    },
    computed: {
      models: {
        get() {
          if (!this.fieldModels || typeof this.fieldModels === 'string') {
            return [];
          } else {
            return this.fieldModels;
          }
        },
        set(value) {
          this.$emit('update:fieldModels', value);
        },
      },
    },
    methods: {
      setList() {
        this.models = this.fieldModels;
      },
      updateModels(model, key) {
        let models = this.models;
        models[key][model.key] = model.value;
        this.models = models;
      },
      addRow(ind = false) {
        let row = {};
        let models = this.models;

        Object.entries(this.fields).forEach(([slug, field]) => {
          row[slug] = field.value ? field.value : '';
        });

        // row['id'] = id;
        let pos = ind ? ind : models.length;
        models.splice(pos, 0, row);
        // models.push(row);
        this.models = models;
      },
      deleteRow(row) {
        this.models = this.models.filter(r => r !== row);
      },
      calcCols(fields, field = {}) {
        let count = Object.keys(fields).length;
        let cols = count < 4 ? count : Math.ceil(count / 2);

        if ( field.columns ) {
          return field.columns;
        }

        return Math.ceil(10 / cols);
      },
    },
  }
</script>

<style lang="scss" scoped>
  .small-col {
    max-width: 5%;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .handle {
    cursor: pointer;
  }

  .row-number {
    min-width: 15px;
    margin-left: 5px;
  }
</style>
