<template>
  <div class="upload-wrapper">
    <template v-if="params.imagePreview">
      <v-btn class="mb-2" v-if="preload && preload.length"
             @click="showPreview = !showPreview"
             text>{{ showPreview ? 'Hide' : 'Show' }} preview
      </v-btn>

      <div class="preview-wrapper"
           v-if="preload.length && showPreview">
        <v-row>
          <v-col v-for="image in preload" v-if="preload" :key="image.id">
            <img :src="image" alt="" />
          </v-col>
        </v-row>
      </div>
    </template>

    <file-pond
      :name="name"
      ref="pond"
      label-idle="Drop files here..."
      :accepted-file-types="params.fileTypes"
      :allow-image-preview="params.imagePreview"
      :server="server"
      :max-files="maxFiles"
      :allow-multiple="multiple"
      v-on:processfile="onAdd"
      v-on:processfilerevert="onRevert"
      v-on:updatefiles="onUpdate"
      v-on:init="init"
      :files="upload" />
    <span v-if="description">x{{description}}</span>
  </div>
</template>

<script>
  // Import Vue FilePond
  import vueFilePond from 'vue-filepond';

  // Import FilePond styles
  import 'filepond/dist/filepond.min.css';

  // Import FilePond plugins
  // Please note that you need to install these plugins separately

  // Import image preview plugin styles
  import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

  // Import image preview and file type validation plugins
  import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';
  import FilePondPluginImagePreview from 'filepond-plugin-image-preview';

  // Create component
  const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview);

  export default {
    name: "uploadImages",
    components: {
      FilePond,
    },
    props: {
      images: [String, Array],
      item: Object,
      description: [String],
      maxFiles: {
        type: Number,
        default: null,
      },
      multiple: {
        type: Boolean,
        default: false,
      },
      name: {
        type: String,
        default: 'images',
      },
      fileTypes: {
        type: String,
        default: 'image/jpeg, image/png',
      },
      imagePreview: {
        type: Boolean,
        default: true,
      },
      params: {
        type: Object,
        default() {
          return {
            fileTypes: 'image/jpeg, image/png',
            imagePreview: true,
          }
        }
      }
    },
    // watch: {
    //   images: {
    //     deep: true,
    //     handler: function (value) {
    //       if (value) {
    //         this.setUpload(value);
    //       }
    //     }
    //   }
    // },
    data() {
      return {
        // uploadUrl: '/api/upload/',
        origin: window.location.origin,
        // preload: [],
        // upload: [],
        showPreview: false,
        preloadFiles: [],
        uploadFiles: [],
        allFiles: [],
        initField: true,
        test: 2,
      }
    },
    mounted() {
      // this.server.url = this.uploadUrl;
      // this.server.precess = this.uploadUrl;

      setTimeout(()=>{
        // console.log(this.images);
        if (this.images && this.images.length && !this.uploadFiles.length) {
          this.upload = this.images;
        }
      }, 600);
    },
    computed: {
      server() {
        return {
          remove: this.removeFile,
          url: this.uploadUrl,
        }
      },
      uploadUrl() {
        let url = '/api/upload';
        if (this.item.id) {
          url = `/api/${this.item.type}/${this.item.id}/upload`;
        }

        return url;
      },
      preload: {
        get() {
          this.preloadFiles = [];

          if (this.images && this.images.length) {
            if (typeof this.images === 'string') {
              let file = this.formatUrl(this.images);
              if ( file ) {
                this.preloadFiles.push(file);
              }
            } else {
              this.images.forEach(image=>{
                let file = this.formatUrl(image);
                if ( file ) {
                  this.preloadFiles.push(file);
                }
              });
            }
          }

          return this.preloadFiles;
        },
        set(value) {
          this.preloadFiles = value;
        }
      },
      upload: {
        get() {
          return this.uploadFiles;
        },
        set(value) {
          // this.uploadFiles = [];
          if (typeof value === 'string') {
            let file = this.formatUrl(value);

            if ( file ) {
              this.uploadFiles.push(this.formatFile(value));
            }
          } else {
            value.forEach(image => {
              let file = this.formatUrl(image);
              if ( file ) {
                this.uploadFiles.push(this.formatFile(image));
              }
            });
          }
          // this.uploadFiles = value;
        }
      },
      files: {
        get() {
          if ( !this.allFiles.length && this.uploadFiles.length ) {
            this.allFiles = this.uploadFiles;
          }

          return this.allFiles;
        },
        set(value) {
          this.allFiles = value;
        }
      }
    },
    methods: {
      init() {
      //   this.server = {
      //     url: this.uploadUrl,
      //     // process: this.uploadUrl,
      //     remove: this.removeFile,
      //   };
      //   this.upload = this.images;
      },
      formatFile(url) {
        return {
          source: this.origin + url,
          options: {
            type: 'local',
          }
        }
      },
      formatUrl(url) {
        if ( url && url.search('media/') === 0 ) {
          // return this.origin + '/storage/app/' + url;
          return false;
        } else {
          return url;
        }
      },
      parseJson(str) {
        let parsed = str;

        try {
          parsed = JSON.parse(str);
        } catch (e) {
          // Oh well, but whatever...
        }

        return parsed;
      },
      onAdd(error, file) {
        console.log('onAdd');
        if (!error) {
          console.log(file);
          let images = this.parseJson(file.serverId);

          this.allFiles.push(file);
          this.updateImages(images);
        }
      },
      onRemove(error, file) {
        console.log('onRemove');
        if (!error) {
          // let images = JSON.parse(file.serverId);

          // this.preload = images;
          // this.upload = images;
          // this.$emit('update:images', images);
          // this.files = images;

          this.removeImage(file)
        }
      },
      onUpdate(files, file) {
        console.log('onUpdate');
        // console.log(files);
        // console.log(file);
      },
      onRevert(file) {
        console.log('onRevert');
        // console.log(file);
        this.removeImage(file);
      },
      updateImages(images) {
        console.log('updateImages');
        let img = [].concat( this.images );
        img = img.filter(item=>item.length);
        if ( !this.multiple ) {
          images = images.pop();
        } else {
          img.push(images.pop());
          images = img;
        }

        // this.upload = images;
        this.$emit('update:images', images);
      },
      removeFile(source, load, error) {
        console.log('removeFile', source);
        // let url = source.replace(this.origin, '');
        // this.removeFile()

        this.removeImage({source: source});

        load();
      },
      removeImage(file) {
        console.log('removeImage', file);
        // this.preload = this.preload.filter(item => item !== url);
        // this.upload = this.upload.filter(item => item.source !== this.origin + url);
        // this.updateImages(this.preload);

        let images = this.files.filter(item=>{
          return item.source !== file.source;
        });

        this.files = images;
        if ( images.length ) {
          images = images.map(item=>{
            // console.log(item);
            // return item.source.replace(this.origin, '');
            let url = item.serverId ? this.parseJson(item.serverId) : item.source;

            if ( typeof url === 'object' ) {
              url = url.pop();
            }

            return url.replace(this.origin, '');
          });
        }

        this.$emit('update:images', images);
      },
    },
  }
</script>

<style lang="scss" scoped>
  .preview-wrapper {
    border-radius: .5em;
    background-color: #f1f0ef;
    padding: 15px;
    margin-bottom: 15px;
    line-height: 0;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 400px;
    }
  }
</style>

<style lang="scss">
  .upload-wrapper {
    .filepond--root {
      margin-bottom: 0;
    }
  }
</style>
