<template>
  <div>
    <v-item-group class="v-btn-toggle" v-model="current">
      <v-btn v-for="locale in locales"
             :key="locale"
             @click.stop="changeLocale(locale)"
             :input-value="current == locale"
             :value="locale">{{ locale | ucFirst }}
      </v-btn>
    </v-item-group>


  </div>
</template>

<script>
  export default {
    name: "languagesSwitcher",
    props: {
      changed: Boolean,
    },
    data() {
      return {
        showDialog: false,
        nextLocale: false,
        dialogTitle: 'You have unsaved changes',
      }
    },
    computed: {
      locales() {
        return this.$store.state.settings.locales;
      },
      current: {
        get() {
          return this.$store.state.settings.currentLocale;
        },
        set(value) {
          this.$store.commit('setSettings', {
            currentLocale: value
          });

          this.$emit('locale-changed', value);
        }
      }
    },
    methods: {
      changeLocale(val) {
        if ( this.changed ) {
          this.nextLocale = val;
          this.showDialog = true;
        } else {
          this.current = val;
        }
      },
      confirmChange() {
        this.showDialog = false;
        this.current = this.nextLocale;
      },
    },
  }
</script>

<style scoped>

</style>
