<template>
  <v-navigation-drawer
    v-model="drawer"
    app>

    <v-list>
      <v-list-item v-for="page in pages" :to="{name: page.name}" :key="page.id" link v-if="!page.children">
        <v-list-item-action>
          <v-icon v-if="page.meta && page.meta.icon">{{ page.meta.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>{{ page.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-group v-else>
        <template v-slot:activator>
          <v-list-item-action>
            <v-icon v-if="page.meta && page.meta.icon">{{ page.meta.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ page.name }}</v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item class="sub-item" v-for="sub in page.children" :to="{name: sub.name}" :key="sub.id" link>
          <v-list-item-action>
            <v-icon v-if="sub.meta && sub.meta.icon">{{ sub.meta.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ sub.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>


    <!-- -->
  </v-navigation-drawer>
</template>

<script>
  export default {
    name: "leftLayout",
    data() {
      return {
      }
    },
    computed: {
      drawer: {
        get() {
          return this.$store.state.drawer;
        },
        set(value) {
          this.$store.commit('setter', {
            drawer: value,
          });
        }
      },
      pages() {
        let admin = this.$router.options.routes.find(i=>i.name = 'Admin');
        let pages = admin.children.filter(x=>x.meta && x.meta.menu);

        return pages;
      }
    },
    methods: {
    },
  }
</script>

<style lang="scss" scoped>
.sub-item {
  padding-left: 36px;
}
</style>
