<template>
  <v-snackbar
    v-model="showSnackbar"
    :color="snackbar.color"
    :right="settings.right"
    :timeout="settings.timeout"
    :top="settings.top"
  >
    {{ snackbar.text }}
    <v-btn
      dark
      text
      @click="showSnackbar = false"
    >
      Close
    </v-btn>
  </v-snackbar>
</template>

<script>
  export default {
    name: "notification",
    data() {
      return {
        settings: {
          top: true,
          right: true,
          timeout: 5000,
        }
      }
    },
    computed: {
      showSnackbar: {
        get: function () {
          return this.$store.state.showSnackbar;
        },
        set: function (newValue) {
          this.$store.commit('setter',{
            showSnackbar: newValue,
          });
        }
      },
      snackbar() {
        return this.$store.state.snackbar;
      },
    },
  }
</script>

<style scoped>

</style>
