<template>
  <v-app-bar app>
    <v-app-bar-nav-icon
      @click.stop="togglePanel"
    ></v-app-bar-nav-icon>

    <v-toolbar-title>{{ pageTitle }}</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn
      color="blue-grey"
      class="ma-2 white--text"
      @click="toHome"
    >
      Перейти на сайт
      <v-icon right dark>mdi-home</v-icon>
    </v-btn>

    <v-menu left bottom
            :offset-y="true">
      <template v-slot:activator="{ on }">
        <div>
          <span class="user_name mr-2">{{ user.name }}</span>

          <v-btn icon v-on="on">
            <!--          <v-icon>mdi-dots-vertical</v-icon>-->
            <v-avatar color="indigo">
              <v-icon dark>mdi-account-circle</v-icon>
            </v-avatar>
          </v-btn>
        </div>

      </template>

      <v-list>
<!--        <v-list-item-->
<!--          v-for="n in 5"-->
<!--          :key="n"-->
<!--          @click="() => {}"-->
<!--        >-->
<!--          <v-list-item-title>Option {{ n }}</v-list-item-title>-->
<!--        </v-list-item>-->
        <v-list-item
          @click="edit">
          <v-list-item-title>Редактировать</v-list-item-title>
        </v-list-item>
        <v-list-item
          @click="logout">
          <v-list-item-title>Выход</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
  export default {
    name: "topLayout",
    props: ['pageTitle'],
    data() {
      return {
        buttons: true,
        single_route: 'Single User',
      }
    },
    mounted() {
      // console.log(this.$store.state.user);
    },
    computed: {
      logoutUrl() {
        return this.$store.state.settings.actions.logout;
      },
      user() {
        return this.$store.state.user;
      },
      next() {
        let name = this.$route.name !== 'Login' ? 'Login' : 'Admin';
        return {name};
      },
    },
    methods: {
      togglePanel() {
        this.$store.dispatch('togglePanel');
      },
      edit() {
        let id = this.user.id;

        this.$router.push({
          name: this.single_route,
          params: {
            id
          }
        })
      },
      toHome() {
          window.open(
              '/',
              '_blank' // <- This is what makes it open in a new window.
          );
      },
      logout() {
        this.$store.dispatch('sendRequest', {
          url: this.logoutUrl,
        }).then((res)=>{
          if ( res.data.success ) {
            this.$store.commit('setter', {
              user: false,
            });

            this.$router.push({name: 'Login'});
          }
        });
      },
      testSend() {
        this.$store.dispatch('sendRequest', {
          url: window.location.origin + '/getPageData',
          body: {
            route: 'login',
          },
        }).then((res)=>{
          console.log(res);
        });
      }
    },
  }
</script>

<style scoped>

</style>
