<template>
  <div class="a-image">
    <div ref="overlay" class="a-image__overlay"></div>
    <div ref="wrap" class="a-image__wrap">
      <div v-image>
        <img :src="src" :alt="alt">
      </div>
    </div>
  </div>
</template>

<script>
    import {TweenMax, Power4} from 'gsap';
    export default {
        name: "aImage",
        props: {
            src: {
                type: String,
                default: '#'
            },
            alt: {
                type: String,
                default: ''
            },
            type: {
                type: String,
                default: 'top'
            },
            // animate: Boolean,
            delay: {
                type: Number,
                default: 0
            }
        },
        watch: {
            ready(val) {
                if(val) {
                    this.animateImage();
                }
            }
        },
        computed: {
            ready() {
                return this.$store.getters.pageReady
            }
        },
        mounted() {
            TweenMax.set(this.$refs.overlay, {yPercent: 0});
            TweenMax.set(this.$refs.wrap, {scale:1.2});
        },
        methods: {
            animateImage() {
                let position = this.type === 'top' ? -100 : 100;
                TweenMax.to(this.$refs.overlay, .6, {
                    yPercent: position,
                    ease: "none",
                });
                TweenMax.to(this.$refs.wrap, .8, {
                    scale: 1,
                    ease: "none"
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";
  .a-image{
    position: relative;
    overflow: hidden;

    &__overlay {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      transform: translateY(0);
      background: $body-bg;
      z-index: 1;
     }

    &__wrap {
      width: 100%;
      height: 100%;
      div {
        width: 100%;
        height: 100%;
        perspective: 1000px;
      }
    }

    img {
      width: 100%;
      height: auto;

      .s-entry & {
        @include tablet {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

</style>
