<template>
    <div ref="text" v-html="content"></div>
</template>

<script>
    export default {
        name: "aText",
        props: {
            content: String,
            animate: Boolean,
            delay: {
                type: Number,
                default: 0
            }
        },
        watch: {
          animate(val) {
            if(val) {
                this.animateEl(this.$refs.text, this.delay);
            }
          }
        },
        mounted() {
            this.setAnimateEl(this.$refs.text);
        },
    }
</script>

<style scoped>

</style>
