<template>
  <div class="lang-switcher">
    <div @click="show_dropdown = !show_dropdown"
         class="lang-switcher__el lang-switcher__el--selected active-cursor">
      <span v-html="currentLang.toUpperCase()"></span>
      <i class="lang-switcher__arrow" :class="{'active': show_dropdown}">
        <svg width="8" height="7" viewBox="0 0 8 7" xmlns="http://www.w3.org/2000/svg">
          <path id="arrow" d="M0 0L4 4.83333L8 0L4 7L0 0Z" />
        </svg>
      </i>
    </div>
    <transition name="fade">
      <ul ref="land_dropdown" class="lang-switcher__dropdown" v-show="show_dropdown">
        <li v-for="item in locales.all" v-if="item !== currentLang" class="lang-switcher__el">
          <a class="active-cursor" :href="localeUrl(item)">{{ item.toUpperCase() }}</a>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
  export default {
    name: "languageSwitcher",
    data() {
      return {
        show_dropdown: false,
      }
    },
    computed: {
      locales() {
        return this.$store.state.global.locales;
      },
      currentLang() {
        // return document.documentElement.lang.split('-')[0];
        return this.locales.current;
      }
    },
    methods: {
      localeUrl(locale) {
        let router = this.$router.currentRoute;
        let path = '';
        if (locale !== this.locales.default) {
          path = `/${locale}${router.path}`;
        } else {
          path = router.path;
        }
        path = router.path !== '/' ? path : `/${locale}/`;
        return router.path === '/' && locale === this.locales.default ? '/' : path;
      }
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .lang-switcher {
    position: relative;

    &__el {
      display: block;
      padding: 0 6px;
      margin-bottom: 4px;
      font-family: $font-trirong;
      font-size: 14px;
      line-height: 21px;

      a {
        color: lighten($c-light-grey, 20%);
        transition: color .2s;

        @include mobile {
          color: rgba($c-white, .6);
        }
      }

      &:not(.lang-switcher__el--selected) {
        &:hover a {
          color: $c-brown;

          @include mobile {
            color: $c-white;
          }
        }
      }

      &--selected {
        display: flex;
        color: $c-light-grey;

        @include mobile {
          color: $c-white;
        }
      }
    }

    &__arrow {
      display: inline-block;
      margin-left: 4px;
      line-height: 18px;

      #arrow {
        fill: $c-brown;
        transition: d .3s;

        @include mobile {
          fill: $c-white;
        }
      }

      &.active {
        #arrow {
          d: path('M0 7L4 2.16667L8 7L4 0L0 7Z');
          transition: d .3s;
        }
      }
    }

    &__dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 0;
      margin: 0;

      &.fade-enter-active {
        transition: all .3s ease;
      }

      &.fade-leave-active {
        transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      }

      &.fade-enter,
      &.fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
      }
    }
  }
</style>
