<template>
    <h1 class="page-title heading-main" ref="titleWrap">
      <div class="page-title__content" ref="title" v-html="content"></div>
    </h1>
</template>

<script>
    import {TweenMax, Power1} from 'gsap';
    export default {
        name: "pageTitle",
        props: ['content'],
        watch: {
            ready(val) {
                if(val) {
                    this.animateTitle();
                }
            }
        },
        computed: {
            ready() {
                return this.$store.getters.pageReady
            }
        },
        mounted() {
            TweenMax.set(this.$refs.titleWrap, { yPercent: 20, overflow: "hidden" });
            TweenMax.set(this.$refs.title, { display: 'block', yPercent: 100 });
        },
        methods: {
            animateTitle() {
                TweenMax.to(this.$refs.titleWrap, .6, {
                    yPercent: 0,

                    ease: Power1.inOut,
                });
                TweenMax.to(this.$refs.title, 1, {
                    yPercent: 0,
                    ease: Power1.inOut,
                });
            }
        }
    }
</script>

<style scoped>

</style>
