<template>
  <header class="header" ref="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo" ref="logo">
          <router-link :to="{name: 'Home'}" class="logo active-cursor">
            <logo></logo>
          </router-link>
        </div>
        <button class="btn header__nav-btn" ref="hamburger" @click="toggleMenu">
          <nav-btn></nav-btn>
        </button>
        <div class="header__menu" ref="menu">
          <nav class="nav flex-col" ref="nav">
            <router-link class="link link-nav link-nav--dark active-cursor"
                         active-class="link--current"
                         :class="{'link--active': !hasActiveItem, 'link--current': isSingle(item)}"
                         v-for="(item, ind) in menuItems"
                         :key="ind"
                         :to="{name: capitalizeFirstLetter(item.slug)}">
              {{ item.title }}
            </router-link>
          </nav>
          <div class="header__languages opacity" ref="language">
            <language-switcher></language-switcher>
          </div>
          <div v-if="socials.length" class="header__socials opacity flex-col" ref="socials">
            <a class="link link-social link-social--dark active-cursor"
               v-for="social in socials"
               :href="social.value"
               ref="nofollow"
               target="_blank">
              {{ social.title }}
            </a>
          </div>
          <div ref="circle" v-show="width < 768" class="header__circle">
            <draw-circle size="1000" color="#FFFFFF" :opacity=".2"></draw-circle>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
    import {TweenMax, Power2, Linear, gsap} from 'gsap';
    import NavBtn from "../icons/navBtn";
    import Logo from "../icons/logo";
    import DrawCircle from "../icons/drawCircle";
    import languageSwitcher from "./languageSwitcher";

    export default {
        name: "pageHeader",
        components: {languageSwitcher, DrawCircle, Logo, NavBtn},
        data() {
            return {
                nav_btn: '/images/nav-btn.svg',
                width: '',
                circle_array: '',
                show_menu: false,
                show_dropdown: false
            }
        },
        watch: {
            ready(val) {
                if (val) {
                    this.startAnimations();
                } else {
                    if (this.show_menu && this.width < 768) {
                        this.closeMenu();
                    }
                }
            },
        },
        created: function () {
            this.setData();

            if (window) {
                window.addEventListener('resize', this.setData);
            }
        },
        mounted() {
            this.setElements();
            this.setMenuHeight();

            if (window) {
                window.addEventListener('resize', () => {
                    this.setElements();
                    this.startAnimations();
                    this.setMenuHeight();
                });
            }
        },
        computed: {
            socials() {
                let settings = this.$store.state.global.settings;
                let socials = this.getDataByGroup(settings, 'socials');

                return socials;
            },
            ready() {
                return this.$store.getters.pageReady
            },
            menuItems() {
                let menu = this.$store.state.global.menu;
                let result = menu.sort((a, b) => {
                    if (a.order > b.order) return 1;
                    if (b.order > a.order) return -1;
                    return 0;
                });

                return result;
            },
            hasActiveItem() {
                let current = this.$route.name;
                return this.menuItems.find(item => item.slug == current);
            },
            navItems() {
                return this.$refs.nav.childNodes;
            },
            circle() {
                return this.$refs.circle.getElementsByTagName('circle')[0];
            },
            currentLanguage() {
                return this.languages.find(item => item.type === 'current');
            },
            languagesList() {
                let languages = this.languages;

                return languages ? languages.filter(item => item.type !== 'current') : [];
            },
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
            isSingle(item) {
                return (this.$route.name === 'Single' && item.slug === 'Work');
            },
            setData() {
                this.width = this.$store.state.windowWidth;
                this.show_menu = this.width >= 768 ? true : false;
            },
            setElements() {
                TweenMax.set([this.$refs.logo, this.$refs.hamburger], {
                    y: 20,
                    autoAlpha: 0
                });
                TweenMax.set(this.navItems, {
                    y: 40,
                    autoAlpha: 0
                });

                if (this.width >= 768) {
                    TweenMax.set(this.$refs.menu, {clearProps: 'all'});
                } else {
                    this.setCircle();
                    TweenMax.set(this.$refs.menu, {
                        xPercent: 100,
                        autoAlpha: 0
                    });
                }
            },
            setMenuHeight() {
                if (window && this.width <= 767) {
                    let height = window.innerHeight;
                    TweenMax.set(this.$refs.menu, {
                        height: height
                    })
                }
            },
            setCircle() {
                this.circle_array = this.circle.getTotalLength();
                this.circle.style.strokeDasharray = this.circle_array;
                this.circle.style.strokeDashoffset = this.circle_array;
            },
            startAnimations() {
                this.animateLogo();
                if (this.width >= 768) {
                    this.animateNav();
                    this.showEl(this.$refs.socials);
                    this.showEl(this.$refs.language);
                }
            },
            animateLogo() {
                TweenMax.to([this.$refs.logo, this.$refs.hamburger], 2, {
                    y: 0,
                    ease: Linear,
                    autoAlpha: 1
                });
            },

            animateNav(delay = 0) {
                this.navItems.forEach((item, index) => {
                    let d = delay + (index * .1);
                    TweenMax.to(item, 2, {
                        y: 0,
                        ease: Linear,
                        autoAlpha: 1,
                        delay: d
                    });
                    // i++;
                });
            },
            hideNav() {
                // let items = Object.assign([], this.navItems).reverse();
                this.navItems.forEach((item, index) => {
                    TweenMax.to(item, 1, {
                        y: 40,
                        ease: Linear,
                        autoAlpha: 0,
                        delay: index * .1,
                    });
                });

            },
            dropdownOpen() {
                if (!this.show_dropdown) {
                    TweenMax.set(this.$refs.land_dropdown, {display: 'block',});
                    this.show_dropdown = true
                } else {
                    TweenMax.set(this.$refs.land_dropdown, {display: 'none'});
                    this.show_dropdown = false;
                }

            },
            toggleMenu() {
                // if (gsap.isTweening([this.$refs.menu, this.navItems])) {
                //   return;
                // }
                if (!this.show_menu) {
                    this.openMenu();
                } else {
                    this.closeMenu();
                }
            },
            openMenu() {
                this.show_menu = true;
                document.documentElement.classList.add('overflow');
                this.$refs.header.classList.add('header--open');

                TweenMax.to(this.$refs.menu, 1, {
                    xPercent: 0,
                    autoAlpha: 1,
                    onComplete: () => {
                        TweenMax.to(this.circle, 2, {strokeDashoffset: this.circle_array / 2, ease: Power2.easeIn});
                        this.animateNav(.3);
                        this.showEl(this.$refs.socials, .3);
                        this.showEl(this.$refs.language, .3);
                    }
                });
            },
            closeMenu() {
                this.hideNav();
                this.hideEl(this.$refs.socials);
                TweenMax.to(this.circle, 1, {strokeDashoffset: this.circle_array, ease: Power2.easeIn});

                let delay = this.navItems.length * .1 + 1;
                TweenMax.to(this.$refs.menu, 1, {
                    xPercent: 100,
                    autoAlpha: 0,
                    delay: delay,
                    onComplete: () => {
                        document.documentElement.classList.remove('overflow');
                        this.$refs.header.classList.remove('header--open');
                        this.show_menu = false;
                    }
                });
            }
        }

    }

</script>

<style lang="scss">
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .header {
    position: relative;
    z-index: 100;
    @include mobile {
      margin-bottom: $m-block-xs;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 50% 50%;

      @include mobile {
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__logo {
      padding-top: 50px;
      width: 110px;
      z-index: 11001;
      @include mobile {
        padding-top: 30px;
      }

      a {
        display: block;
      }

      img, svg {
        width: 100%;
        height: 100%;

        @include mobile {
          width: auto;
          /*height: 36px;*/
          height: 56px;
        }
      }

      path {

        &:not(.letter) {
          transition: $transition;

          .header--open & {
            fill: $c-white;

            &.stroke {
              fill: #CECECE;
            }
          }
        }
      }
    }

    &__menu {
      padding-top: 50px;
      display: grid;
      grid-template-columns: auto 1fr;

      @include mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        align-items: center;
        height: 100vh;
        grid-template-columns: 100%;
        /*grid-template-rows: auto min-content 0;*/
        grid-template-rows: 1fr auto;
        //padding: 30px $p-container-xs 0;
        padding: 75px $p-container-xs 0;
        background: $c-dark-grey;
        z-index: 11000;
      }

    }

    &__circle {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      transform: translateX(-50%);
      z-index: -1;

      svg {
        width: 100vh;
      }
    }

    &__nav-btn {
      z-index: 11001;

      @include mobile {
        justify-self: flex-end;
      }

      @include media-min($grid-md-min) {
        display: none;
      }

      svg {
        fill: $c-light-grey;
        transition: $transition;

        .header--open & {
          fill: $c-white;
        }
      }

      .hide {
        opacity: 1;
        transition: $transition;

        .header--open & {
          opacity: 0;
        }
      }
    }

    .nav {
      display: flex;
      flex-direction: column;

      @include tablet {
        grid-row: 1 / 3;
      }

      @include mobile {
        grid-row: 1;
      }

      .link {
        margin-bottom: 16px;
        color: #9A8E8B;
        transition: color .3s ease-in-out;

        @include mobile {
          font-size: 42px;
          line-height: 50px;
          color: $c-white;
          margin-bottom: 20px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:hover {
          color: $c-brown;
          transition: color .3s ease-in-out;
        }

        &--current {
          color: $c-brown;
          @include mobile {
            position: relative;
            padding-left: 24px;
            color: $c-oak;
          }

          &:before {
            @include mobile {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              width: 7px;
              height: 7px;
              background-color: $c-oak;
              border-radius: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    &__languages {
      grid-column: 2;
      justify-self: flex-end;

      @include mobile {
        grid-column: auto;
        position: absolute;
        top: 34px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
      }
    }


    &__socials {
      grid-column: 2;
      justify-self: flex-end;
      align-self: flex-end;

      @include mobile {
        /*display: none; */
        grid-column: auto;
        justify-self: center;
        flex-direction: row;
        align-items: center;
        padding: 10px 0 $p-container-xs;
      }

      .link {
        margin-top: 4px;

        @include mobile {
          margin: 0 20px;
          font-size: 14px;
          line-height: 22px;
          color: $c-off-white;
        }
      }
    }
  }
</style>
