<template>
  <footer class="footer" ref="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__contact-info flex-col">
          <a class="link link-simple link-simple--light active-cursor" v-if="contacts.phone"
             :href="'tel:' + contacts.phone.replace(/[( \- )]/g, '')">{{ contacts.phone }}</a>
          <a class="link link-simple link-simple--light active-cursor" v-if="contacts.email"
             :href="'mailto:' + contacts.email">{{ contacts.email }}</a>

          <span class="text text--light" v-if="contacts.address">{{ contacts.address }}</span>
        </div>

        <div class="footer__menu">
          <nav class="nav">
            <router-link
              class="link link-nav link-nav--light active-cursor"
              v-for="(item, key) in menuItems"
              :to="{name: $filters.ucFirst(item.slug)}"
              :key="key">{{ item.title }}
            </router-link>
          </nav>
        </div>

        <div class="footer__socials flex-col">
          <a class="link link-social link-social--light active-cursor"
             v-for="social in socials" :href="social.value" target="_blank" ref="nofollow">{{ social.title }}</a>
        </div>

        <div class="footer__contact-us">
          <div class="heading-section c-white">
            <router-link class="link link-heading active-cursor"
                         :to="{name: 'Contacts'}">
              {{ 'contact_us' | translate }}
            </router-link>
            <span ref="phrase" v-if="phrases.length" v-html="phrases[0].value"></span>
          </div>
          <div v-if="contact_us.slogan" class="slogan">{{ contact_us.slogan }}</div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  import {TweenLite, Linear} from 'gsap';
  import Login from "../auth/Login";

  export default {
    name: "pageFooter",
    data() {
      return {
        offset: 600,
        contact_us: {
          url: '#',
          link_text: 'Contact us',
          text: ' to get information.',
          slogan: false,
        },
        // phrases: [
        //   'to get information.',
        //   'ipsum lorem dorem.',
        //   'to get ipsum lorem dorem.',
        //   'to get price.'
        // ],
        phrasesIndex: 0,
      }
    },
    mounted() {
      if (window) {
        this.setWrapper();
        this.animatePhrases();

        window.addEventListener('resize', this.setWrapper);
      }
    },
    destroyed() {
      if (document) {
        document.querySelector('.page').removeAttribute('style');
        document.querySelector('.content-wrapper').removeAttribute('style');
      }
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
      menuItems() {
        // return this.$router.options.routes.filter(x => x.meta && x.meta.menu);
        let menu = this.$store.state.global.menu;

        return menu.sort((a, b) => {
          if (a.order > b.order) return 1;
          if (b.order > a.order) return -1;
          return 0;
        });
      },
      contacts() {
        let settings = this.$store.state.global.settings;
        let contacts = this.getDataByGroup(settings, 'contacts', 'key=value');

        contacts.address = this.Translate('contact_address');

        return contacts;
      },
      socials() {
        let settings = this.$store.state.global.settings;

        return this.getDataByGroup(settings, 'socials');
      },
      phrases() {
        let data = this.$store.state.global.translates;
        return this.getValuseByKey(data, 'phrases');
      },
    },
    watch: {
      ready(val) {
        if (val) {
          if (document) {
            document.addEventListener('scroll', this.animateFooter);
          }
        }
      }
    },
    methods: {
      setWrapper() {
        if (window && this.$refs.footer) {
          this.offset = window.innerHeight >= 768 ? 100 : 100;
          document.querySelector('.page').style.paddingBottom = this.offset + 'px';
          document.querySelector('.content-wrapper').style.paddingBottom = '60vh';
        }
      },
      animateFooter() {
        if (window && this.$refs.footer) {
          let d = document.documentElement,
            body = document.body,
            maxScroll = d.offsetHeight,
            scroll = d.scrollTop || body.scrollTop,
            scrollTop = scroll + window.innerHeight;
          let offset = window.innerHeight >= 1200 ? this.offset / 2 : this.offset * .5;

          if (scrollTop >= maxScroll - offset) {
            document.body.classList.add('active-footer');
            this.$refs.footer.classList.add('footer--active');
          } else {
            this.$refs.footer.classList.remove('footer--active');
            document.body.classList.remove('active-footer');
          }
        }
      },
      animatePhrases() {
        let el = this.$refs.phrase;
        let phrases = this.phrases;
        this.phrasesIndex = this.phrasesIndex === phrases.length - 1 ? 0 : this.phrasesIndex + 1;
        let text = phrases[this.phrasesIndex].value;

        TweenLite.to(el, 1, {
          text: {value: text},
          ease: Linear.easeNone,
          onComplete: this.animatePhrases,
          delay: 3,
        });
      },
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../../resources/sass/helpers/variables";
  @import "../../../../resources/sass/helpers/mixins";

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    /*min-height: 100vh;*/
    height: 100vh;
    background: $c-dark-grey;
    opacity: 0;
    visibility: hidden;
    transition: all .333s ease-in-out;
    /*<!--z-index: -2;-->*/

    &--active {
      /*z-index: 2;*/
      opacity: 1;
      visibility: visible;
      transition: all .333s ease-in-out;

    }

    .container {
      @include tablet {
        height: 100%;
      }
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 50% auto 1fr;
      padding-top: $p-block-xl;

      @include tablet {
        height: 100%;
      }

      @include mobile {
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-template-rows: auto 1fr auto;
      }
    }

    &__contact-info {
      grid-column: 1;
      grid-row: 1;
      padding-bottom: $p-block-xl;
      font-weight: 300;

      @include mobile {
        padding-bottom: 0;
        grid-column: 1;
        grid-row: 3;
        padding-right: 12px;
      }
    }

    &__menu {
      grid-column: 2;
      grid-row: 1;
      padding-bottom: $p-block-xl;

      @include mobile {
        /*padding-bottom: 80px;*/
        padding-bottom: 0;
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    .nav {
      display: grid;
      margin-right: -60px;
      grid-template-columns: repeat(2, auto);

      @include tablet {
        margin-right: -34px;
      }

      @include mobile {
        margin-right: 0;
        display: inline-grid;
      }

      .link {
        margin-right: 60px;
        margin-bottom: 15px;
        transition: opacity .3s ease-in-out;

        @include tablet {
          margin-right: 34px;
        }

        @include mobile {
          margin-right: 20px;
        }

        &:nth-child(2) {
          grid-row: 2;
        }
      }
    }

    .link {
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: .6;
        transition: opacity .3s ease-in-out;
      }
    }

    &__socials {
      grid-column: 3;
      grid-row: 1;
      justify-self: flex-end;
      padding-bottom: $p-block-xl;

      @include mobile {
        padding-bottom: 0;
        grid-column: 2;
        grid-row: 3;
      }

      .link {
        margin-top: 4px;

        @include mobile {
          margin-bottom: 4px;
          line-height: 21px;
        }
      }
    }

    &__contact-us {
      grid-column: 1 / 4;
      grid-row: 2;
      position: relative;
      padding-bottom: $p-block-xl;
      min-height: 346px;

      @include mobile {
        /*padding-bottom: 80px;*/
        padding-bottom: 0;
        grid-column: 1 / 3;
        grid-row: 2;
        min-height: 140px;
      }

      .heading-section {
        max-width: 70%;

        @include mobile {
          max-width: 100%;
        }
      }

      .slogan {
        position: absolute;
        bottom: calc(#{$p-block-xl} + 1em);
        right: 0;
        font-size: 14px;
        line-height: 30px;
        color: $c-light-sand;

        @include mobile {
          display: none;
        }
      }
    }
  }
</style>
