<template>
  <v-card class="mx-auto flex-grow-1" mix-width="500" light>
    <v-card-title>
      <span>{{ id ? 'Edit page ' + id : 'New' }}</span>
      <a class="view_page ml-3" target="_blank" v-if="item.slug" :href="'/work/'+item.slug+'/'">View page</a>
      <v-spacer></v-spacer>

      <span>
<!--        <v-btn @click="saveItem" color="">Clone</v-btn>-->
        <v-btn @click="$router.go(-1)" class="mr-4" color="warning">Close</v-btn>
        <v-btn @click="saveItem" color="primary">Save</v-btn>
      </span>
    </v-card-title>

    <div class="v-card__title d-flex justify-end">
      <languages-switcher :changed="changed" v-on:locale-changed="fetchData"></languages-switcher>
    </div>


    <v-card-text @change="changed = true">
      <v-container>
        <v-row>
          <v-col cols="12" md="8">
            <v-tabs
              v-model="activeTab"
              class="page-tabs">
              <v-tab key="info">Info</v-tab>
              <v-tab key="meta">Meta</v-tab>
            </v-tabs>

            <v-tabs-items v-model="activeTab" light>
              <v-tab-item class="main-info" key="info">

                <div class="group-field">
                  <v-text-field
                    v-model="item.title"
                    label="Title"
                    required
                  ></v-text-field>
                </div>

                <template v-if="!template">
                  <div class="group-field">
                    <ckeditor :editor="editor" v-model="item.content" :config="editorConfig"></ckeditor>
                  </div>
                </template>

                <content-templates v-else-if="item.id"
                                   :item.sync="item"
                                   :key="locale"
                                   :template="template"></content-templates>

                <!--                <component v-else v-bind:is="item.template + 'Template'" :item="item"></component>-->
              </v-tab-item>

              <v-tab-item class="meta-info" key="meta">
                <div class="group-field">
                  <v-text-field
                    v-model="item.seo_title"
                    label="Meta Title"
                    required
                  ></v-text-field>
                </div>
                <div class="group-field">
                  <v-textarea
                    outlined
                    name="description"
                    label="Meta Description"
                    v-model="item.seo_description"
                  ></v-textarea>
                </div>

              </v-tab-item>
            </v-tabs-items>

          </v-col>
          <v-col cols="12" md="4">
            <div>
              <v-select
                :items="statusList"
                label="Status"
                v-model="item.status"
                required
              ></v-select>
            </div>
            <div class="group-field">
              <v-text-field
                v-model="item.slug"
                label="Slug"
                required
              ></v-text-field>
            </div>

            <div class="group-field mb-5">
              <p class="title">Image</p>
              <upload-images
                v-bind:item="item"
                v-bind:images.sync="item.thumbnail"
                name="thumbnail"></upload-images>

              <div class="field-description">Recommended size 1180x600</div>
            </div>

            <div class="group-field">
              <v-textarea
                outlined
                name="description"
                label="Excerpt"
                v-model="item.description"
              ></v-textarea>
            </div>

<!--            <div class="group-field">-->
<!--              <v-select-->
<!--                :items="templates"-->
<!--                label="Template"-->
<!--                v-model="item.template"-->
<!--                clearable-->
<!--                required-->
<!--              ></v-select>-->
<!--            </div>-->
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
  import uploadImages from "../../../components/admin/uploadImages";
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
  import ContentTemplates from "../../../components/admin/contentTemplates";
  import LanguagesSwitcher from "../../../components/admin/layout/languagesSwitcher";

  export default {
    name: "singleWork",
    props: {
      id: [Number, String],
    },
    components: {
      LanguagesSwitcher,
      ContentTemplates,
      uploadImages,
    },
    data() {
      return {
        editor: ClassicEditor,
        editorConfig: {},
        apiUrl: '/api/works',
        single_route: 'Single Work',
        item: {
          id: false,
          type: false,
          title: '',
          slug: '',
          content: '',
          thumbnail: '',
          status: 'publish',
          seo_title: '',
          seo_description: '',
          template: '',
        },
        activeTab: 'info',
        // templates: [
        //   {
        //     text: 'Home',
        //     value: 'home',
        //   },
        //   {
        //     text: 'About',
        //     value: 'about',
        //   },
        // ],
        changed: false,
        template: 'work',
      }
    },
    computed: {
      statusList() {
        return this.$store.state.statuses;
      },
      locale() {
        return this.$store.state.settings.currentLocale;
      },
    },
    mounted() {
      if (this.id) {
        this.fetchData()
      }
    },
    methods: {
      fetchData() {
        this.changed = false;

        let data = {
          method: 'get',
          url: `${this.apiUrl}/${this.id}/${this.locale}`,
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          // console.log('page data = ', res);
          this.item = res.data.data;
        });
      },
      saveItem() {
        this.changed = false;

        if (this.item.id) {
          this.updateItem(this.item.id);
        } else {
          this.createItem();
        }
      },
      updateItem(id) {
        let data = {
          method: 'put',
          url: this.apiUrl+`/${id}`,
          data: {
            item: this.item,
            locale: this.locale,
          },
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log('page data = ', res);
          // if ( res.data.success ) {
          //   this.item = res.data.item;
          // this.item = res.data.data;
          // }

          this.$store.dispatch('notify', {
            text: 'Update success!',
            color: 'success',
          });
        });
      },
      createItem() {
        let data = {
          method: 'post',
          url: this.apiUrl,
          data: {
            item: this.item,
            locale: this.locale,
          },
        };

        this.$store.dispatch('sendRequest', data).then(res => {
          console.log('page data = ', res);
          if (res.data.success) {
            this.item = res.data.item;

            this.$store.dispatch('notify', {
              text: 'Save success!',
              color: 'success',
            });

            this.$router.push({
              name: this.single_route,
              params: {
                id: this.item.id
              }
            });
          }
        });
      },
    },
  }
</script>

<style lang="scss">
  .ck-content {
    min-height: 400px;
  }
</style>

<style lang="scss" scoped>
  .page-tabs {
    margin-bottom: 20px;
  }
</style>
