.a-img {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $body-bg;
    z-index: 1;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }

  img {
    transform: scale(1.4);
    transition: transform .8s ease-in-out;
  }

  &.animated img {
    transform: scale(1);
  }

  &--top.animated {
    &::before {
      transform: translateY(-100%);
    }
  }

  &--bottom.animated {
    &::before {
      transform: translateY(100%);
    }
  }
}

.a-title {
  overflow: hidden;

  &--top {
    transform: translateY(-20%);
  }
}

.a-txt {

  &--bottom {
    transform: translateY(100%);
  }
}
