.link {
  display: inline-block;
  position: relative;
}

.link-nav {
  font-family: $font-anglecia;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;

  @include tablet {
    font-size: 18px;
    line-height: 22px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }

  &--dark {
    color: $c-brown;
  }

  &--light {
    color: $c-white;
  }
}

.link-social {
  font-family: $font-trirong;
  font-style: normal;
  font-size: 15px;
  line-height: 22px;

   @include tablet {
     font-size: 14px;
   }

  @include mobile {
    font-size: 12px;
    line-height: 20px;
  }

  &--dark {
    color: $c-light-grey;
  }

  &--light {
    color: $c-white;
  }
}

.link-simple {
  font-size: $font-size;
  line-height: $line-height;

  @include tablet {
    font-size: 14px;
    line-height: 1.79;
  }
  @include mobile {
    font-size: 13px;
    line-height: 1.54;
  }

  &--dark {
    color: $c-brown;
  }

  &--light {
    color: $c-white;
  }
}

.link-primary {
  position: relative;
  font-family: $font-anglecia;
  font-weight: normal;
  font-size: 45px;
  line-height: 1.2;
  color: $c-oak;

  @include tablet {
    font-size: 40px;
    line-height: 1;
  }
  @include mobile {
    font-size: 30px;
    line-height: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $c-oak;
    @include tablet {
      bottom: 0;
    }
  }
}

.link-heading {
  position: relative;
  font-size: 100px;
  line-height: 1.2;
  color: $c-white;

  @include tablet {
    font-size: 60px;
    line-height: 1.17;
  }
  @include mobile {
    font-size: 37px;
    line-height: 1.22;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    height: 5px;
    background-color: $c-white;

    @include tablet {
      height: 3px;
      bottom: 4px;
    }

    @include mobile {
      height: 2px;
      bottom: 2px;
    }
  }
}
