h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.heading-main {
  font-family: $font-anglecia;
  font-weight: normal;
  //font-size: 120px;
  font-size: 90px;
  line-height: 1.2;
  color: $c-brown;

  @include tablet {
    //font-size: 70px;
    font-size: 60px;
  }
  @include mobile {
    //font-size: 42px;
    font-size: 36px;
  }
}

.heading-section {
  font-family: $font-anglecia;
  font-weight: normal;
  //font-size: 100px;
  font-size: 80px;
  line-height: 1.2;
  color: $c-brown;

  @include tablet {
    //font-size: 60px;
    font-size: 50px;
    line-height: 1.25;
  }
  @include mobile {
    //font-size: 37px;
    font-size: 30px;
    line-height: 1.22;
  }
}

.heading-block {
  font-family: $font-anglecia;
  font-weight: normal;
  //font-size: 40px;
  font-size: 35px;
  line-height: 1.2;
  color: $c-brown;

  //.active-help & {
  //  color: $c-white;
  //}

  @include tablet {
    //font-size: 30px;
    font-size: 25px;
    line-height: 1.33;
  }
  @include mobile {
    //font-size: 25px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.slogan,
.element {
  font-family: $font-anglecia;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: $c-light-grey;

  @include tablet {
    font-size: 15px;
    line-height: 1.33;
  }
  @include mobile {
    font-size: 12px;
    line-height: 1.67;
  }
}

.element {
  text-transform: uppercase;
}

.text {
  font-size: $font-size;
  line-height: $line-height;

  @include tablet {
    font-size: 14px;
    line-height: 1.79;
  }
  @include mobile {
    font-size: 13px;
    line-height: 1.54;
  }

  &--dark {
    color: $c-light-grey;
  }

  &--light {
    color: $c-white;
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.upper {
  text-transform: uppercase;
}

.link-simple {
  font-size: $font-size;
  line-height: $line-height;

  @include tablet {
    font-size: 14px;
    line-height: 1.79;
  }
  @include mobile {
    font-size: 13px;
    line-height: 1.54;
  }

  &--dark {
    color: $c-brown;
  }

  &--light {
    color: $c-white;
  }
}

.c-white {
  color: $c-white;
}

.c-black {
  color: $c-black;
}

.c-red {
  color: $c-red;
}

.c-primary {
  color: $c-brown;
}
