<template>
  <v-dialog v-model="showDialog" max-width="500px" light>
    <v-card>
      <v-card-title class="justify-center">{{ text }}</v-card-title>

      <v-card-actions class="justify-center">
        <v-btn color="blue darken-1" text @click="showDialog = false">Cancel</v-btn>
        <v-btn color="warning" @click="confirm">Confirm change</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "confirm",
    props: {
      text: String,
      showDialog: Boolean,
    },
    data() {
      return [
        showDialog
      ]
    },
    methods: {
      confirm() {
        this.$emit('confirm');
      }
    },
  }
</script>

<style scoped>

</style>
