<template>
  <v-dialog v-if="item" v-model="showDialog" max-width="500px" light>
    <v-card>
      <v-card-title>
        <span class="headline">Delete item {{ id }}</span>
      </v-card-title>

      <v-card-text v-if="!item.length">
        <v-container>
          <v-row v-for="(value, key) in item" v-if="key !== 'id'" :key="key">
            <v-col cols="12" sm="6">{{ key | ucFirst }}</v-col>
            <v-col cols="12" sm="6">{{ value }}</v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="showDialog = false">Cancel</v-btn>
        <v-btn color="error" @click="success">Delete</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "confirm",
    props: {
      item: [Object, Array],
      show: Boolean,
    },
    data() {
      return {}
    },
    computed: {
      id() {
        if (Array.isArray(this.item)) {
          return this.item.map(item=>{
            return item.id
          }).join(', ');
        } else if (typeof this.item === 'object') {
          return this.item.id;
        }
      },
      showDialog: {
        get() {
          return this.show;
        },
        set(value) {
          this.$emit('update:show', value);
        }
      }
    },
    methods: {
      success() {
        this.showDialog = false;
        this.$emit('success', true);
      },
    },
  }
</script>

<style scoped>

</style>
