<template>
  <div ref="wraps" class="custom-cursor__wrapper" v-show="showCursor">
    <svg ref="cur1" class="custom-cursor" width="100px" height="100px" viewBox="0 0 100 100">
      <circle ref="circle" fill="none" cx="50" cy="50" r="3"></circle>
    </svg>
    <svg ref="cur2" class="custom-cursor--2" width="64" height="38" viewBox="0 0 63 38" fill="none">
      <rect ref="rect" x="0" y="0" width="60" height="34" fill="#A97856" stroke="#A97856"/>
      <path ref="icon"
            d="M39.8548 19.1849L37.2394 16.8772C37.1054 16.7589 36.9091 16.7266 36.74
            16.7951C36.571 16.8636 36.4616 17.0197 36.4616 17.1923V18.2019H33.3846V15.3173H34.4616C34.6457 15.3173
            34.8122 15.2147 34.8853 15.0563C34.9583 14.8978 34.9239 14.7138 34.7977 14.5881L32.3361 12.1361C32.2489
            12.0493 32.1273 12 32 12C31.8727 12 31.7511 12.0493 31.6639 12.1361L29.2024 14.5881C29.0762 14.7138 29.0417
            14.8978 29.1148 15.0563C29.1878 15.2147 29.3543 15.3173 29.5385
            15.3173H30.6154V18.2019H27.5385V17.1923C27.5385 17.0197 27.429 16.8636 27.26 16.7951C27.0909 16.7266
            26.8947 16.7589 26.7606 16.8772L24.1452 19.1849C24.0526 19.2667 24 19.3807 24 19.5C24 19.6193 24.0526
            19.7333 24.1452 19.8151L26.7606 22.1228C26.8947 22.2411 27.0909 22.2734 27.26 22.2049C27.429 22.1364
            27.5384 21.9803 27.5384 21.8077V20.7981H30.6154V23.6827H29.5384C29.3543 23.6827 29.1878 23.7853 29.1147 23.9437C29.0417 24.1022 29.0761 24.2862 29.2023 24.4119L31.6639 26.8638C31.7511 26.9507 31.8727 27 32 27C32.1273 27 32.2489 26.9507 32.3361 26.8639L34.7976 24.4119C34.9238 24.2863 34.9583 24.1022 34.8852 23.9438C34.8122 23.7853 34.6457 23.6827 34.4615 23.6827H33.3846V20.7981H36.4615V21.8077C36.4615 21.9804 36.571 22.1365 36.74 22.2049C36.9091 22.2734 37.1053 22.2411 37.2394 22.1228L39.8547 19.8151C39.9474 19.7333 40 19.6193 40 19.5C40 19.3807 39.9474 19.2667 39.8548 19.1849ZM37.3846 20.8063V20.3654C37.3846 20.1264 37.178 19.9327 36.9231 19.9327H32.9231C32.6682 19.9327 32.4616 20.1264 32.4616 20.3654V24.1154C32.4616 24.3543 32.6682 24.5481 32.9231 24.5481H33.3934L32 25.936L30.6067 24.5481H31.0769C31.3318 24.5481 31.5385 24.3543 31.5385 24.1154V20.3654C31.5385 20.1264 31.3318 19.9327 31.0769 19.9327H27.0769C26.822 19.9327 26.6154 20.1265 26.6154 20.3654V20.8063L25.135 19.5L26.6154 18.1937V18.6346C26.6154 18.8736 26.8221 19.0673 27.0769 19.0673H31.0769C31.3318 19.0673 31.5385 18.8736 31.5385 18.6346V14.8846C31.5385 14.6457 31.3318 14.4519 31.0769 14.4519H30.6067L32 13.064L33.3933 14.4519H32.9231C32.6682 14.4519 32.4615 14.6457 32.4615 14.8846V18.6346C32.4615 18.8736 32.6682 19.0673 32.9231 19.0673H36.9231C37.178 19.0673 37.3846 18.8736 37.3846 18.6346V18.1937L38.8651 19.5L37.3846 20.8063Z"
            fill="white"/>
    </svg>
  </div>
</template>

<script>
  import {TweenMax, Timeline, Elastic, Power1, Power4, gsap} from 'gsap';

  export default {
    name: "customCursor",
    watch: {
      ready() {
        this.addEvents();

        this.mouseLeaveAll('active');
        this.mouseLeaveAll('move');
      }
    },
    data() {
      return {
        selectors: [
          {
            selector: ".active-cursor",
            type: "active"
          },
          {
            selector: ".move-cursor",
            type: "move"
          }
        ],
        showCursor: false,
        position: {
          x: 0,
          y: 0,
        },
        animations: {
          over: false,
          leave: false,
          moveOver: false,
          moveLeave: false,
        },
      }
    },
    mounted() {
      this.showCursor = true;

      gsap.set(this.$refs.rect, {
        scaleX: .18,
        scaleY: .32,
        x: 26.5,
        y: 14,
      });

      if ( document ) {
        document.documentElement.addEventListener("mousemove", (e) => this.mouseMove(e));
      }
    },
    computed: {
      loading() {
        return this.$store.state.loading;
      },
      ready() {
        return this.$store.getters.pageReady;
      },
    },
    methods: {
      addEvents() {
        if ( document ) {
          this.selectors.forEach(item => {
            let elements = document.querySelectorAll(item.selector);
            elements.forEach(element => {
              element.addEventListener('mouseover', e => this.mouseOverAll(item.type));
              element.addEventListener('mouseleave', e => this.mouseLeaveAll(item.type));
            });
          });
        }
      },
      mouseMove(e) {
        let documentOffsetTop = document.documentElement.offsetTop;
        let padding = (document.body) ? documentOffsetTop : 0;

        this.position = {
          x: e.pageX,
          y: e.clientY - padding,
        };

        TweenMax.set(this.$refs.cur1, {
          x: e.pageX,
          y: e.clientY - padding,
          transformOrigin: "center",
        });

        TweenMax.set(this.$refs.cur2, {
          x: e.pageX,
          y: e.clientY - padding,
          transformOrigin: "center",
        });
      },
      mouseOverAll(type) {
        if (this.animations.leave) {
          this.animations.leave.kill();
        }

        if (this.animations.moveLeave) {
          this.animations.moveLeave.kill();
          this.animations.moveLeave = false;
        }

        if (type === 'active') {
          this.animationActiveOver();
        }
        if (type === 'move') {
          this.animationMoveOver();
        }
      },
      mouseLeaveAll(type) {
        if (this.animations.over) {
          this.animations.over.kill();
        }
        if (this.animations.moveOver) {
          this.animations.moveOver.kill();
          this.animations.moveOver = false;
        }

        if (type === 'active') {
          this.animationActiveLeave();
        }
        if (type === 'move') {
          this.animationMoveLeave();
        }
      },
      match(element, selectors) {
        let matches = document.querySelectorAll(selectors);
        return Array.prototype.some.call(matches, function (el) {
          return el === element;
        });
      },
      animationActiveOver() {
        this.animations.over = TweenMax.to(this.$refs.cur1, 1, {
          strokeWidth: 2,
          ease: Elastic.easeOut,
          clearProps: 'strokeWidth',
        });
        TweenMax.to(this.$refs.circle, .2, {
          attr: {r: 30},
          clearProps: 'attr',
        });
        this.$refs.cur1.classList.add("custom-cursor--1");
      },
      animationActiveLeave() {
        this.$refs.cur1.classList.remove("custom-cursor--1");
        TweenMax.to(this.$refs.circle, .2, {
          attr: {r: 3},
          clearProps: 'attr',
        });
        this.animations.leave = TweenMax.to(this.$refs.cur1, .5, {
          strokeWidth: 6,
          opacity: 1,
          transformOrigin: "center",
          ease: Power1.easeOut,
          clearProps: 'strokeWidth',
        });
      },
      animationMoveOver() {
        this.showCursorMove();

        if ( !this.animations.moveOver ) {
          this.animations.moveOver = gsap.to(this.$refs.rect, .3, {
            autoAlpha: .8,
            scaleX: 1,
            scaleY: 1,
            x: 2,
            y: 2,
            attr: {rx: 18},
            transformOrigin: "0 0",
            ease: Power4,
            onComplete: () => {
              this.$refs.wraps.classList.add("cursor-move");
            }
          });
          TweenMax.to(this.$refs.icon, .3, {
            autoAlpha: 1,
            yoyo: true,
            delay: .2,
          });
        }
      },
      animationMoveLeave() {
        if (!this.animations.moveLeave) {
          this.animations.moveLeave = gsap.to(this.$refs.rect, .3, {
            autoAlpha: 1,
            scaleX: .18,
            scaleY: .32,
            attr: {rx: 50},
            ease: Power4,
            x: 26.5,
            y: 14,
            onComplete: () => {
              this.hideCursorMove();
            }
          });
        }
        TweenMax.to(this.$refs.icon, .3, {
          autoAlpha: 0,
          yoyo: true,
        });
      },
      showCursorMove() {
        this.$refs.cur1.classList.add("custom-cursor--move");
        this.$refs.cur1.style.display = 'none';
        this.$refs.cur2.style.display = 'block';
      },
      hideCursorMove() {
        this.$refs.cur1.classList.remove("custom-cursor--move");
        this.$refs.cur1.style.display = 'block';
        this.$refs.cur2.style.display = 'none';
        this.$refs.wraps.classList.remove("cursor-move");
      },
      reset() {

      }
    },
  }
</script>


<style lang="scss" scoped>
  @import '../../sass/helpers/variables';
  @import '../../sass/helpers/mixins';

  .custom-cursor {

    @include desktop {
      stroke-width: 6;
      stroke: $c-white;
      transition: stroke-width 0.3s;

      &:not(.custom-cursor--1) {
        stroke-width: 6 !important;
        transition: stroke-width .5s;
      }

      circle {
        r: 3;
        transition: r 0.3s;
      }
    }

    &--1 {
      @include desktop {
        stroke-width: 2;

        circle {
          r: 30;
        }
      }
    }

    &--move {
      circle {
        opacity: 0;
      }
    }

    &--2 {
      display: none;
      margin: 30px auto;

      path {
        opacity: 0;
        transition: all .3s;
      }
    }

    &__wrapper {
      display: none;

      @include desktop {
        display: block;
        position: fixed;
        z-index: 11002;
        will-change: left, top;
        transform: translateX(-50%) translateY(-50%);
        mix-blend-mode: difference;
        pointer-events: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        transition: width 0.3s, height 0.3s, background 0.3s;
      }

      &.cursor-move {
        @include desktop {
          mix-blend-mode: normal;
        }
      }
    }
  }
</style>
