<template>
    <div ref="innerLoader" class="inner-loader"></div>
</template>

<script>
    import {TweenMax, TimelineMax, Power4} from 'gsap';

    export default {
        name: "innerLoading",
        data() {
            return {
                progress: '',
            }
        },
        mounted() {
            this.start();
        },
        watch: {
            loading(val) {
                if (val) {
                    setTimeout(() => {
                        this.reload();
                    }, 100);
                }
            },
        },
        computed: {
            loading() {
                return this.$store.state.loading;
            },
        },
        methods: {
            start() {

                this.$refs.innerLoader.classList.add('animated')
            },
            hideLoader() {
                this.$refs.innerLoader.classList.remove('animated')
            }
        },
    }
</script>

<style lang="scss" scoped>
  @import '../../sass/helpers/variables';
  @import '../../sass/helpers/mixins';

  @keyframes toUp {
    0% { top:100% }
    to { top:-200vh }
  }

  .inner-loader {
    background: $body-bg;
    width: 100%;
    position: fixed;
    left: 0;
    height: 200vh;
    top: 100%;
    z-index: 9990;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    &.animated {
      animation: toUp 1s ease-in both;
      animation-fill-mode: backwards;
    }
  }
</style>
