<template>
  <div class="pageloader" v-show="pageloader">
    <div class="pageloader__white" ref="white"></div>
    <div class="pageloader__dark" ref="dark"></div>
  </div>
</template>

<script>
    import {TweenMax} from 'gsap';

    export default {
        name: "pageloader",
        watch: {
            pageloader(val) {
              if(val) {
                setTimeout(() => {
                  this.start();
                }, 100);
              }
            }
        },
        computed: {
            pageloader() {
                return this.$store.state.pageloader;
            },
            dark() {
                return this.$refs.dark;
            },
            white() {
                return this.$refs.white;
            },
            next() {
                return this.$store.state.nextRoute;
            }
        },
        methods: {
            start() {
                TweenMax.to(this.dark, .8, {y: 0, ease: "none", onComplete: this.end});
            },
            end() {
                TweenMax.from(this.white, {opacity: 1});
                TweenMax.to(this.white, .8, {opacity: 0, ease: "none"});

                if ( window ) {
                  TweenMax.to(this.dark, .8, {y: -window.innerHeight, ease: "none", onComplete: this.clear});
                }
            },
            clear() {
                TweenMax.set([this.white, this.dark], {clearProps: 'all'});
                this.$store.commit('setter', {pageloader: false});

                // this.$router.push({name: this.next.name});
            }
        }
    }
</script>


<style lang="scss" scoped>
  @import "../../sass/helpers/variables";
  @import "../../sass/helpers/mixins";

  .pageloader {
    z-index: 90000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__dark,
    &__white {
      width: 100%;
      height: 100%;
    }

    &__dark {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $c-dark-grey;
      transform: translate(0, 100%);
    }

    &__white {
      background: white;
      opacity: 0;
    }
  }

</style>
