<template>
  <div ref="loader" class="preloader" v-if="preloader">
    <div class="preloader__content">
      <div ref="perc" class="preloader__perc">0%</div>
      <div class="preloader__progress"><span></span></div>
    </div>
  </div>
</template>

<script>
    import {TweenMax, TimelineMax, Power4} from 'gsap';

    export default {
        name: "preloader",
        data() {
            return {
                progress: '',
            }
        },
        mounted() {
            if(this.preloader) {
                this.start();
            }
        },
        computed: {
            preloader() {
                return this.$store.state.preloader;
            },
        },
        methods: {
            start() {
                this.progress = TweenMax.to(this.$refs.perc, .8, {
                    onUpdate: this.setPercentage,
                    onComplete: this.hideLoader,
                })
            },
            setPercentage() {
                let percentElement = this.$refs.perc;
                let v = Math.round((this.progress.progress() * 100));
                percentElement.innerHTML = v + "%";
                percentElement.style.opacity = this.progress.progress();
            },
            hideLoader() {
                let hide = new TimelineMax;
                hide
                    .to(this.$refs.perc, .4, {autoAlpha: 0, ease: Power4})
                    .to(this.$refs.loader, 1, {autoAlpha: 0, ease: Power4, onComplete: this.setStore});
            },
            setStore() {
                this.$store.commit('setter', {preloader: false});
            }
        },
    }
</script>

<style lang="scss" scoped>
  @import "../../sass/helpers/variables";
  @import "../../sass/helpers/mixins";

  .preloader {
    z-index: 90000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $body-bg;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      font-family: $font-anglecia;
      opacity: 1;
      transform: translateZ(0);
      font-size: 2vw;
      color: $c-brown;
    }
  }
</style>
