<template>
  <section class="section section-p-b about-block" v-if="block">
    <div class="about-block__wrapper">
      <router-link class="link about-block__link active-cursor"
                   :to="{name: 'About'}">
        {{ 'about_us' | translate }}
      </router-link>
      <div class="about-block__image-wrapper">
        <div class="about-block__image-cover">
          <div class="about-block__image" v-image>
            <img :src="block.image" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="about-block__content container">
      <div class="about-block__title heading-section" v-html="block.title">
      </div>
      <div class="about-block__text" v-html="block.description">
      </div>
      <div class="rel" v-if="element">
        <span class="element">{{element}}</span>
      </div>
    </div>
  </section>
</template>

<script>

    export default {
        name: "about-block",
        data() {
            return {
                // image: '/images/about_image.png',
                // about_link:
                //     {
                //         url: '#',
                //         title: 'About us',
                //     },
                // title: 'Way of Thinking',
                // text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugitt.',
                // element: 'AN',
                element: false,
            }
        },
      computed: {
        block() {
          return this.$store.getters.item.content.about;
        },
      },
    }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .about-block {
    position: relative;
    overflow: hidden;

    &__wrapper {
      padding-left: calc(#{$p-container-sm} + #{$padding-l-xl});

      @include tablet {
        padding-left: calc(#{$p-container-sm} + 22px);
      }

      @include mobile {
        padding-left: $p-container-xs;
      }

      @include media-min($grid-xl-min) {
        padding-left: calc(#{$p-container-xl} + #{$padding-l-xl});
      }
    }

    &__image-wrapper {
      position: relative;
      padding: 0;
      overflow: hidden;

      @include mobile {
        min-height: 410px;
      }

      &::before {
        content: '';
        display: block;
        padding-top: 46%;
      }

      &:hover {
        .about-block__image {
          @include desktop {
            transform: scale(1);
          }
        }
      }
    }


    &__image-cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      transition: all .4s ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &__image {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      overflow: hidden;
      transform: scale(1.1);
      transition: transform .4s ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;

      img {
        position: absolute;
        top: -5vh;
        bottom: -5vh;
        width: 100%;
        height: calc(100% + 10vh);
        object-fit: cover;

        @include mobile {
          min-height: 350px;
        }
      }
    }

    &__link {
      position: absolute;
      top: 50px;
      right: calc(#{$p-container-sm} + #{$padding-l-xl});
      font-family: $font-anglecia;
      font-size: 50px;
      font-weight: normal;
      line-height: 1.2;
      color: $c-white;
      z-index: 1;

      @include tablet {
        right: $p-section-xl;
        font-size: 40px;
      }

      @include mobile {
        font-size: 30px;
        right: auto;
        left: calc(#{$p-container-xs} + #{$padding-l-md});
      }

      @include media-min($grid-xl-min) {
        right: calc(#{$p-container-xl} + #{$padding-l-xl});
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $c-white;
      }
    }

    &__content {
      position: relative;
      display: grid;
      grid-template-columns: 30% 40% 30%;

      @include mobile {
        grid-template-columns: $padding-l-md auto;
      }

      .rel {
        grid-column: 1;
        grid-row: 2;
        position: relative;

        @include mobile {
          display: none;
        }
      }

      .element {
        position: absolute;
        /* left: -$padding-l-xl; */
        left: 0;
        bottom: 0;

        @include mobile {
          display: none;
        }
      }
    }

    &__title {
      grid-column: 2;
      margin-top: -75px;

      @include tablet {
        margin-top: -45px;
      }

      @include mobile {
        margin-top: -25px;
        margin-bottom: 20px;
      }
    }

    &__text {
      grid-column: 3;
      grid-row: 2;

      @include mobile {
        grid-column: 2;
      }
    }
  }
</style>
