<template>
  <section ref="container" class="section entry-block" v-if="block">
    <div class="entry-block__content">
      <div class="entry-block__image a-mousemove">
        <div ref="entryTop" class="entry-block__image-overlay"></div>
        <div ref="entryTopImg" class="entry-block__image-wrap">
          <img class="luxy-el"
               data-speed-y="5"
               :src="block.leftImage" alt="">
        </div>
      </div>
      <div class="entry-block__wrapper container">
        <div class="entry-block__title padding-l">
          <page-title :content="title"></page-title>
        </div>
        <div class="entry-block__socials visible-mobile flex-col">
          <a class="link link-social link-social--dark active-cursor"
             v-for="social in socials"
             :href="social.value">
            {{ social.title }}
          </a>
        </div>
        <div class="entry-block__bg a-mousemove">
          <div ref="entryBottom" class="entry-block__image-overlay"></div>
          <div ref="entryBottomImg" class="entry-block__image-wrap">
            <img class="luxy-el"
                 data-speed-y="5"
                 :src="block.rightImage" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {TweenMax, TweenLite, TimelineMax, Power4} from 'gsap';
  import PageTitle from "../../components/layout/pageTitle";

  export default {
    name: "entry-block",
    components: {PageTitle},
    data() {
      return {
        // image_left: '/images/image_left.jpg',
        // image_right: '/images/image_right.jpg',
        // title: 'Sed ut perspiciatis<br> unde omnis iste<br>natus error',
        // socials: [
        //   {
        //     name: 'Facebook',
        //     url: 'https://facebook.com/',
        //   },
        //   {
        //     name: 'Instagram',
        //     url: 'https://instagram.com/',
        //   },
        // ],
        mouse: {
          x: 0,
          y: 0,
          moved: false
        }
      }
    },
    created: function () {
      if (window && !window.scroll()) {
        window.addEventListener('resize', this.moveImage);
      }
    },
    watch: {
      ready(val) {
        if (val) {
          this.startAnimations();
        }
      },
    },
    computed: {
      ready() {
        return this.$store.getters.pageReady
      },
      block() {
        return this.$store.getters.item.content.hero;
      },
      title() {
        let pageTitle = this.$store.getters.item.title;

        return this.block.title ? this.block.title : pageTitle;
      },
      socials() {
        let settings = this.$store.state.global.settings;
        let socials = this.getDataByGroup(settings, 'socials');

        return socials;
      },
    },
    methods: {
      startAnimations() {
        if (window && window.innerWidth >= 1200 && !window.scroll()) {
          this.moveImage();
        }
        this.animateTopImg();
        this.animateBottomImg();
      },
      animateTopImg() {
        TweenMax.to(this.$refs.entryTop, .6, {
          yPercent: -100,
          ease: Power4,
        });

        let topImg = new TimelineMax;
        topImg.set(this.$refs.entryTopImg, {scale: 1.2})
          .to(this.$refs.entryTopImg, .8, {
            scale: 1,
            ease: Power4
          });
      },
      animateBottomImg() {
        TweenMax.to(this.$refs.entryBottom, .6, {
          yPercent: 100,
          ease: Power4,
        });

        let bottomImg = new TimelineMax;
        bottomImg.set(this.$refs.entryBottomImg, {scale: 1.2})
          .to(this.$refs.entryBottomImg, .8, {
            scale: 1,
            ease: Power4
          });
      },
      moveImage() {
        let rect = this.$refs.container.getBoundingClientRect();

        this.$refs.container.addEventListener('mousemove', e => {
          if (e) {
            this.mouse.moved = true;
            this.mouse.x = e.clientX - rect.left;
            this.mouse.y = e.clientY - rect.top;
            this.parallaxIt('.a-mousemove', 100, rect);
          }
        });
      },
      parallaxIt(target, movement, rect) {
        TweenMax.to(target, .2, {
          x: (this.mouse.x - rect.width / 2) / rect.width * movement,
          y: (this.mouse.y - rect.height / 2) / rect.height * movement,
        });
      },
      // onMouseOut(event) {
      //     //this is the original element the event handler was assigned to
      //     let e = event.toElement || event.relatedTarget;
      //     if (e.parentNode === this || e === this) {
      //         return;
      //     }
      //    console.log('MouseOut');
      //     // handle mouse event here!
      // },
      // clear(target) {
      //     TweenMax.set(target, {clearProps: 'all', delay: 1});
      // },

    },
  }
</script>


<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .entry-block {
    display: grid;
    justify-items: stretch;
    margin-bottom: $p-section-xl;

    @include tablet {
      margin-bottom: $p-section-xl;
    }

    @include mobile {
      margin-bottom: $p-section-xl;
    }

    &__content {
      position: relative;
      display: grid;
      justify-items: stretch;
    }

    &__wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      align-items: center;
      padding-top: $p-block-md;

      @include mobile {
        padding-right: 0;
        align-items: flex-start;
      }
    }

    &__image {
      position: absolute;
      top: -45px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      max-width: 35%;
      /*z-index: 1;*/

      @include tablet {
        top: -65px;
        max-width: 36%;
      }

      @include mobile {
        display: none;
      }

      @include media-min($grid-xl-min) {
        max-width: 30%;
      }

      &-overlay {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        transform: translateY(0);
        background: $body-bg;
        z-index: 1;
      }

      &-wrap {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        max-width: none;
        display: block;
        object-fit: cover;
      }
    }

    &__title {
      position: relative;
      /*margin-top: 30px;*/
      margin-bottom: 30px;
      z-index: 3;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;

      @include desktop {
        max-width: 90%;
      }

      @include tablet {
        padding-left: 22px;
        margin-bottom: 60px;
      }

      @include mobile {
        padding-top: 0;
        margin: 0;
        padding-left: 0;
        padding-right: $p-container-xs;
      }
    }

    &__bg {
      position: relative;
      width: 30%;
      height: 100%;
      grid-column: 1;
      grid-row: 1;
      justify-self: flex-end;
      overflow: hidden;

      @include tablet {
        width: 36%;
      }

      @include mobile {
        width: 60%;
        height: auto;
        min-height: 100%;
        padding-top: 125px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile {
          height: auto;
        }
      }
    }

    &__socials {
      @include mobile {
        position: absolute;
        left: $p-container-xs;
        bottom: 30px;
      }
    }
  }
</style>
