<template>
  <section class="section section-p-b projects-block">
    <div class="projects-block__wrapper container">
      <div class="projects-block__title heading-section">
        {{ title }}
      </div>
      <span v-html="slogan" class="slogan"></span>
    </div>
    <div class="projects-block__slider">
      <Slick ref="slick"
             v-if="showSlider"
             :options="projectsSlick"
             @init="slider_init = true"
             @beforeChange="startSliding"
             @afterChange="endSliding"
             class="projects-slider move-cursor">
        <div v-for="(item, index) in items"
             class="project-tile projects-slider__item" @click="activeItem = item">
          <div class="project-tile__inner">
            <div class="project-tile__count" v-html="getNum(index)"></div>
            <div class="project-tile__description"> {{ item.description }}</div>
            <router-link class="project-tile__title heading-block"
                         :to="{name: 'Single', params: {slug: item.slug}}">
              {{ item.title }}
            </router-link>
            <a class="project-tile__image" @mousedown.left="mouseDown" @mouseup.left="mouseUp(item.slug, $event)">
<!--                         :to="{name: 'Single', params: {slug: item.slug}}">-->
              <img :src="item.thumbnail" :alt="item.title">
            </a>
          </div>
        </div>
      </Slick>
    </div>
    <div class="projects-block__link">
      <router-link class="link link-primary active-cursor"
                   :to="{name: 'Work'}">
        {{ 'All Projects' | translate }}
      </router-link>
    </div>
  </section>
</template>

<script>
  export default {
    name: "projects-block",
    data() {
      return {
        showSlider: false,
        slider_init: false,
        slogan: this.Translate('design_living'),
        projectsSlick: {
          lazyLoad: 'ondemand',
          rows: 0,
          slide: '.projects-slider__item',
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          speed: 500,
          variableWidth: true,
          dots: false,
          arrows: false,
          draggable: true,
          responsive: [
            {
              breakpoint: 767,
              settings: 'unslick'
            }
          ]
        },
        drag: false,
        mouse: {
          x: 0,
          y: 0,
        },
        activeItem: {},
      }
    },
    created: function () {
      this.init();

      if ( window ) {
        window.addEventListener('resize', this.init);
        this.showSlider = true;
      }
    },
    computed: {
      items() {
        return this.$store.getters.items;
      },
      title() {
        if (this.$store.getters.item.content.projects) {
          return this.$store.getters.item.content.projects.title;
        } else {
          return '';
        }
      }
    },
    methods: {
      init() {
        if (window && window.innerWidth >= 768 ) {
          if(this.slider_init) {
            this.$refs.slick.destroy();
            this.$nextTick(() => {
              this.$refs.slick.create();
            });
          }
        }
      },
      startSliding(slick) {
        slick.target.classList.add('sliding');
      },
      endSliding(slick) {
        slick.target.classList.remove('sliding');
      },
      mouseDown(e) {
        this.mouse = {
          x: e.clientX,
          y: e.clientY,
        };
      },
      mouseUp(slug, e) {
        if ( this.mouse.x === e.clientX && this.mouse.y === e.clientY ) {
          this.$router.push({name: 'Single', params: {slug: slug}});
        }
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .projects-block {

    &__wrapper {
      position: relative;

      .slogan {
        position: absolute;
        right: $p-container-sm;
        bottom: 0;

        @include mobile {
          right: $p-container-xs;
        }

        @include media-min($grid-xl-min) {
          right: $p-container-xl;
        }
      }
    }

    &__title {
      width: 60%;
      margin-bottom: $m-block-xl;
    }

    &__slider {
      margin-bottom: $m-block-xl;
      padding-left: $p-container-sm;

      @include mobile {
        padding-left: $p-container-xs;
        padding-right: $p-container-xs;
      }

      @include media-min($grid-xl-min) {
        padding-left: $p-container-xl;
      }
    }

    &__link {
      text-align: center;
    }
  }

  .project-tile {
    width: 100%;
    max-width: 56.25vw;
    /*margin: 0 25px;*/
    margin: 0 20px;
    padding: 0 5px;
    transition: padding .3s;


    @include tablet {
      margin: 0 10px;
      max-width: 54.6875vw;
    }

    @include mobile {
      max-width: none;
      margin: 0 0 40px;
      padding: 0;
    }

    .sliding & {
      padding: 0;
    }

    &__inner {
      width: 100%;
      padding-top: $p-block-xs;
      border-top: 1px solid $c-black;
      transition: max-width .6s ease-out;
      will-change: max-width;
      @include desktop {
        max-width: calc(43.75vw - 111px);
      }
      @include media-min($laptop-width) {
        max-width: calc(43.75vw - 256px);
      }
      @include tablet {
        max-width: calc(45.3125vw - 75px);
        padding-top: 20px;
      }
      @include mobile {
        max-width: 100%;
      }
      .project-tile.slick-active  &{
        max-width: 100%;
      }
    }

    &, a:focus {
      outline: 0;
    }


    &__count {
      margin-bottom: 10px;

      @include tablet {
        font-size: 14px;
      }
    }

    &__description {
      width: 340px;
      margin-bottom: 20px;

      @include tablet {
        width: 80%;
        font-size: 14px;
      }

      @include mobile {
        font-size: 13px;
      }
    }

    &__title {
      display: block;
      width: 340px;
      margin-bottom: $m-block-md;

      @include tablet {
        width: 240px;
        margin-bottom: 40px;
      }

      @include mobile {
        width: 60%;
      }
    }

    &__image {
      display: block;
      overflow: hidden;

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        /*will-change: transform;*/
        /*transform: scale(1);*/
        /*transform-style: preserve-3d;*/
        /*transition: all .4s ease-in-out;*/

        .project-tile:hover & {
          /*transform: scale(1.25);*/
        }
      }
    }



  }
</style>
