


<template>
  <section class="section section-p-b projects-block">
    <div class="projects-block__wrapper container">
      <div class="projects-block__title heading-section">
        {{ title }}
      </div>
      <span v-html="slogan" class="slogan"></span>
    </div>
    <div class="projects-block__slider move-cursor">
      <Slick ref="slick"
             :options="projectsSlick"
             @init="slider_init = true"
             @beforeChange="startSliding"
             @afterChange="endSliding"
             class="projects-slider">
        <div v-for="(item, index) in items" class="project-tile projects-slider__item">
          <div class="project-tile__inner">
            <div class="project-tile__count" v-html="getNum(index)"></div>
            <div class="project-tile__description"> {{ item.description }}</div>
            <a class="project-tile__title heading-block" :href="item.url"> {{ item.title }}</a>
            <!--            <a class="project-tile__title heading-block active-cursor" :href="item.url"> {{ item.title }}</a>-->
            <a :href="item.url" class="project-tile__image">
              <!--            <a :href="item.url" class="project-tile__image active-cursor">-->
              <img :src="item.image" alt="">
            </a>
          </div>
        </div>
      </Slick>
    </div>
    <div class="projects-block__link">
      <a class="link link-primary active-cursor" :href="link.url">{{ link.title }}</a>
    </div>
  </section>
</template>
<script>
  import Slick from 'vue-slick';

  export default {
    name: "ttt",
    components: {Slick},
    data() {
      return {
        slider_init: false,
        title: 'Les derniers projets',
        slogan: 'Design of <br/> living',
        link: {
          url: '#',
          title: 'View All Projects',
        },
        items: [
          {
            count: '1',
            description: 'Light and Glares Spectacle in this Glass Cube  on Lake Lugano',
            title: 'Suspended on Water',
            image: '../../../../images/project_1.jpg',
            url: '#',
          },
          {
            count: '2',
            description: 'Light and Glares Spectacle in this Glass Cube  on Lake Lugano',
            title: 'Suspended on Water',
            image: '../../../../images/project_1.jpg',
            url: '#',
          },
          {
            count: '3',
            description: 'Light and Glares Spectacle in this Glass Cube  on Lake Lugano',
            title: 'Suspended on Water',
            image: '../../../../images/project_1.jpg',
            url: '#',
          },
          {
            count: '4',
            description: 'Light and Glares Spectacle in this Glass Cube  on Lake Lugano',
            title: 'Suspended on Water',
            image: '../../../../images/project_2.jpg',
            url: '#',
          },
          {
            count: '5',
            description: 'Light and Glares Spectacle in this Glass Cube  on Lake Lugano',
            title: 'Suspended on Water',
            image: '../../../../images/project_1.jpg',
            url: '#',
          },
        ],
        projectsSlick: {
          lazyLoad: 'ondemand',
          rows: 0,
          slide: '.projects-slider__item',
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: false,
          speed: 500,
          variableWidth: true,
          dots: false,
          arrows: false,
          responsive: [
            {
              breakpoint: 767,
              settings: 'unslick'
            }
          ]
        },
      }
    },
    created: function () {
      this.init();

      if ( window ) {
        window.addEventListener('resize', this.init);
      }
    },
    methods: {
      init() {
        if (window && window.innerWidth >= 768 ) {
          if(this.slider_init) {
            this.$refs.slick.destroy();
            this.$nextTick(() => {
              this.$refs.slick.create();
            });
          }
        }
      },
      startSliding(slick) {

        slick.target.classList.add('sliding');
      },
      endSliding(slick) {
        slick.target.classList.remove('sliding');
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import "../../../sass/helpers/variables";
  @import "../../../sass/helpers/mixins";

  .projects-block {

    &__wrapper {
      position: relative;

      .slogan {
        position: absolute;
        right: $p-container-sm;
        bottom: 0;

        @include mobile {
          right: $p-container-xs;
        }

        @include media-min($grid-xl-min) {
          right: $p-container-xl;
        }
      }
    }

    &__title {
      width: 60%;
      margin-bottom: $m-block-xl;
    }

    &__slider {
      margin-bottom: $m-block-xl;
      padding-left: $p-container-sm;

      @include mobile {
        padding-left: $p-container-xs;
        padding-right: $p-container-xs;
      }

      @include media-min($grid-xl-min) {
        padding-left: $p-container-xl;
      }
    }

    &__link {
      text-align: center;
    }
  }

  .project-tile {
    width: 100%;
    max-width: 56.25vw;
    /*margin: 0 25px;*/
    margin: 0 20px;
    padding: 0 5px;
    transition: padding .3s;


    @include tablet {
      margin: 0 10px;
      max-width: 54.6875vw;
    }

    @include mobile {
      max-width: none;
      margin: 0 0 40px;
      padding: 0;
    }

    .sliding & {
      padding: 0;
    }

    &__inner {
      width: 100%;
      padding-top: $p-block-xs;
      border-top: 1px solid $c-black;
      transition: max-width .6s ease-out;
      @include desktop {
        max-width: calc(43.75vw - 111px);
      }
      @include media-min($laptop-width) {
        max-width: calc(43.75vw - 256px);
      }
      @include tablet {
        max-width: calc(45.3125vw - 75px);
        padding-top: 20px;
      }
      @include mobile {
        max-width: 100%;
      }
      .project-tile.slick-active  &{
        max-width: 100%;
      }
    }

    &, a:focus {
      outline: 0;
    }


    &__count {
      margin-bottom: 10px;

      @include tablet {
        font-size: 14px;
      }
    }

    &__description {
      width: 340px;
      margin-bottom: 20px;

      @include tablet {
        width: 80%;
        font-size: 14px;
      }

      @include mobile {
        font-size: 13px;
      }
    }

    &__title {
      display: block;
      width: 340px;
      margin-bottom: $m-block-md;

      @include tablet {
        width: 240px;
        margin-bottom: 40px;
      }

      @include mobile {
        width: 60%;
      }
    }

    &__image {
      display: block;
      overflow: hidden;

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        will-change: transform;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: all .4s ease-in-out;

        .project-tile:hover & {
          transform: scale(1.25);
        }
      }
    }



  }
</style>
