<template>
  <div>
    <v-row>
      <v-col>
        <v-card class="mx-auto" width="233" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Страници</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="$router.push({name: 'Pages'})" text>Перейти</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col>
        <v-card class="mx-auto" width="233" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Работы</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="$router.push({name: 'Work'})" text>Перейти</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col>
        <v-card class="mx-auto" width="233" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Переводы</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="$router.push({name: 'Translates'})" text>Перейти</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col>
        <v-card class="mx-auto" width="233" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Настройки</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="$router.push({name: 'General'})" text>Перейти</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col>
      <v-card class="mx-auto" width="233" outlined>
          <v-list-item three-line>
            <v-list-item-content>
              <v-list-item-title class="headline mb-1">Пользователи</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-card-actions>
            <v-btn @click="$router.push({name: 'Users'})" text>Перейти</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

    </v-row>
  </div>
</template>

<script>
  export default {
    name: "dashboard"
  }
</script>

<style scoped>

</style>
